<style>
<!--
.input-xxlarge {
width: 495px;
}

-->
</style>

<div class="row-fluid">
	<div class="span10"  style="margin-top:50px;">
		<div class="contenedor container-fluid">
			<div class="row">
				<div class="span12">
					<div style="padding:30px;">
						<h1>Editar perfil p&uacute;blico</h1>
						<hr/>
						
						<div style="margin-top:50px">
							<form id="foreditperfil" name="foreditperfil" class="form-horizontal" enctype="multipart/form-data" method="post" action="/users/perfil/" >
								<div class="row" style="margin-left: 30px">
              						<div class="span3" >
              							<b>Nombre completo: </b>
              						</div>
				              		<div class="span9" >
				              			<input class="input-xxlarge" id="user_profile_fullname" name="user_profile_fullname" type="text" placeholder="Nombre completo" value="<?php echo $this->nombreCompleto;?>">
									</div>
            					</div>
								 <div class="row" style="padding: 10px; margin-left: 30px">
              						<div class="span3" >
              							<b>Foto de perfil: </b>
              						</div>
              						<div class="span3" >
              							<img src="<?php echo ($this->urlfotoperfil != '')?'/file/perfil/'.$this->urlfotoperfil:'/img/perfil.png'; ?>" class="img-rounded" width="152" height="152">
              						</div>
				              		<div class="span6" >
				              			
				              			<input id="fileupload" name="user_profile_attributes_photo" type="file">
										<p>Esta foto es tu identidad en Endaroo y aparecer&aacute; en tus publicaciones.</p>
									</div>
            					</div>
            					<div class="row" style="padding: 10px;  margin-left: 30px;">
            						<div class="span3" >
              							<b>Algo acerca de ti:</b>
              						</div>
              						<div class="span9" >
              							<textarea class="input-xxlarge" rows="5"  id="user_profile_description" maxlength="300" name="user_profile_description" placeholder="Escribe algo hacerca de tu perfil en menos de 300 caracteres" ><?php echo $this->acercademi; ?></textarea>
              						</div>
            					</div>
            					<div class="row" style="padding: 10px;  margin-left: 30px;">
            						<div class="span12" >
              							<button id="user_profile_save" type="button" class="btn btn-large btn-success">Enviar datos</button>
              						</div>
            					</div>
            					
            					<div class="row" style="padding: 10px;  margin-left: 30px;">
            						<div class="span12">
            							<a href="/<?php echo $this->nombreUsuario; ?>"><p class="lead">Ver perfil publico</p></a>
            						</div>
            					</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span2"  style="margin-top:50px;">
		<?php echo $this->render('/perfil/_partial/menulateral.phtml');?>
	</div>
</div>

<script type="text/javascript" src="/js/jquery.jqEasyCharCounter.min.js"></script>

<script type="text/javascript">
<!--
$(document).ready(function(){
	$('#user_profile_description').jqEasyCounter({
		'maxChars': 300,
		'maxCharsWarning': 290
	});

	$('#user_profile_save').click(function(){
		saveprofile();
	});
	
});


function saveprofile(){
	document.foreditperfil.submit();
}

//-->
</script>