<div class="row">
	<div class="span12">
		<div class="contenedor" style="margin-top: 100px;">
			<div class="row-fluid" style="margin-top: 50px;">
				 <div class="span4  text-center">
					<img src="<?php echo ($this->fotoperfil != '')?"/file/perfil/".$this->fotoperfil:"/img/profile.png";  ?>" class="img-rounded" width="140" height="140">
				</div>
				 <div class="span4">
				 	<ul>
				 		<li><h2><?php echo $this->username; ?></h2></li>
					 	<li><h3><?php echo $this->nombrecompleto;?></h3></li>
					</ul>
				</div>
				<div class="span4">
					<img src="/img/sello-de-vendedor-superior_140x126.jpg" class="img-rounded" width="140" height="140">
				</div>
			</div>
			
			<div class="row" style="margin-top: 50px;">
				<div class="span12">
					<div style=" margin-left: 50px; margin-right: 50px;"><h4>Acerca de mi: </h4></div>
					<p class="text-primary" style=" margin-left: 50px; margin-right: 50px; text-align: justify;">
					 <?php echo $this->acercademi; ?>
					 </p>
				</div>
			</div>
			
			<div class="row-fluid">
				<div class="span12" style="margin-left: 50px">
					<div><h4>Compartir mi perfil</h4></div>
					<?php echo $this->Sharing();?>
				</div>
			</div>
			<div class="row-fluid">
				
				<div class="span11">
					<div style=" margin-left: 50px; margin-right: 50px; margin-top: 50px;"><h4>Mis PUBS. </h4></div>
				</div>
				<div class="span1"></div>
			</div>
			
			<div class="row">
				<div class="span12" >
					<div class="row">
						<div class="span12">
							<ul class="thumbnails">
								<?php 	$x=0;
									foreach ($this->pubs as $pub){
									$x++;
									
										if(strlen($pub->getTitulo())>64)
												$titulo = substr($pub->getTitulo(), 0,62).'...';
										else 	
												$titulo = $pub->getTitulo();
					
										$moneda = new Zend_Currency('es_MX');
										$moneda->setValue($pub->getPrecioMencion());
										
										?>
										<li class="span3" >
											<a  href="<?php echo filter_var("/".$pub->getUsuario()->getNombreUsuario()."/".str_replace(" ", "-",  $pub->getTitulo())."/pub/".$pub->getId(),FILTER_SANITIZE_URL);?>">
												<div class="thumbnail thumbIndex" style="min-height: 210px;	position: relative;cursor: pointer;">
													<div class="priceThumb" >
														<small>
														<?php echo $moneda; ?>
														</small>
													</div>
													<img class="resize" src="/img/tmp/medium/<?php echo $pub->getImagen();?>"/>	
													<div style="height: 70px">
														<p id="title" style="padding:5px;text-align: justify;"><?php echo $titulo;?></p>
													</div>
													<div id="extrainfo" class="alert alert-info" style="display:none;padding:5px;height: 20px;" >
														<div style="float: left;margin-top:-2px">
															<img style="vertical-align: middle;" src="/img/<?php echo $pub->getRedsocial()->getLogoRedsocial();?>" width="24" height="24"/>
														</div>
														<div style="margin-left:5px;color:#444!important;float:left; font-family: 'Pathway Gothic One', sans-serif;font-size:16px!important;">
															<?php echo $pub->getUsuario()->getNombreUsuario();?>
														</div>
														<div style="color:#444!important;float:right;font-family: 'Pathway Gothic One', sans-serif;font-size:16px!important;">rating : 100%</div>
													</div>					
												</div>
											</a>
										</li>	
										
										<?php 
										if($x%4==0){?>
											</ul></div></div><div class="row"><div class="span12"><ul class="thumbnails">
										<?php }
												if($x==20){
													break;
												}
									}?>
							</ul>
						</div>
				</div>
			</div>
				
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/resize/jquery.ae.image.resize.min.js"></script>
<script type="text/javascript">
	$(function(){
			$('.resize').aeImageResize({height:130,width:200});

			$('div .thumbnail').hover(function(event){
					var d = $(this).find('#extrainfo');
					d.show();
					 d.slideDown( "slow", function() {
						    // Animation complete.
						  });
					 event.preventDefault();
				},function(event){
					var d = $(this).find('#extrainfo');
					d.slideUp( "fast", function() {
					    // Animation complete.
					  });	
					 event.preventDefault();
					});
		});
</script>