<link rel="stylesheet" href="/css/style_chars.css" type="text/css">
<script src="/js/chars/amcharts.js" type="text/javascript"></script>
<script src="/js/chars/serial.js" type="text/javascript"></script>

<div class="row">
	<div class="col-md-12">
		<div class="well well-lg">
			<div class="row">
				<div class="col-md-12 hidden-xs">
					<h1>Centro de control</h1>
				</div>
				<div class="col-xs-12 visible-xs">
					<h3>Centro de control</h3>
				</div>
			</div>
			
			<?php echo $this->render('control/_partial/menucontrol.phtml'); ?>
			
			<div class="row">
				<div class="col-md-3 col-xs-6" style="margin-bottom: 20px;">
					<h2 style="border-bottom: 5px #0b0 solid;"><i class="fa fa-bar-chart-o"></i> Gr&aacute;fica de aciertos</h2>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 ">
					<h3>Selecciona una quinela: </h3>
					<div class="col-md-12 col-xs-12">
						<ul class="list-group">
							<?php foreach($this->quinielas as $row): ?>
							<a href="/cuenta/chars/ganadores/quiniela/<?php echo $row['objQuiniela']->getId(); ?>">
				  				<li class="list-group-item" > <?php echo $row['objQuiniela']->getTitulo(); ?> <span class="badge"><?php echo $row['objQuiniela']->getNumeroBoletasParticipando();?></span> </li>
				  			</a>
				  			<?php endforeach; ?>
						</ul>
					</div>
				</div>
			</div>
			
			<?php if($this->show):?>
			<div class="row">
				<div class="col-md-12">
					<h3>Quiniela: <?php echo $this->quiniela->getTitulo(); ?></h3>
				</div>
			</div>
			
			
			<div class="row">
				<div class="col-md-12">
					<div id="chartdiv" style=" height: 400px;"></div>
				</div>
			</div>
			<?php endif; ?>			
			
		</div>
	</div>
</div>

<?php if($this->show):?>
<script type="text/javascript">
            // note, each data item has "bullet" field.
            var columnChartData = <?php echo $this->json; ?>;


            AmCharts.ready(function () {
                // SERIAL CHART
                var chart = new AmCharts.AmSerialChart();
                chart.dataProvider = columnChartData;
                chart.categoryField = "name";
                chart.startDuration = 1;
                // sometimes we need to set margins manually
                // autoMargins should be set to false in order chart to use custom margin values                
                chart.autoMargins = false;
                chart.marginRight = 0;
                chart.marginLeft = 0;
                chart.marginBottom = 0;
                chart.marginTop = 0;

                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.inside = true;
                categoryAxis.axisAlpha = 0;
                categoryAxis.gridAlpha = 0;
                categoryAxis.tickLength = 0;

                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.minimum = 0;
                valueAxis.axisAlpha = 0;
                valueAxis.maximum = <?php echo $this->maximum; ?>;
                valueAxis.dashLength = 4;
                chart.addValueAxis(valueAxis);

                // GRAPH
                var graph = new AmCharts.AmGraph();
                graph.valueField = "points";
                graph.customBulletField = "bullet"; // field of the bullet in data provider
                graph.bulletOffset = 16; // distance from the top of the column to the bullet
                graph.colorField = "color";
                graph.bulletSize = 34; // bullet image should be rectangle (width = height)
                graph.type = "column";
                graph.fillAlphas = 0.8;
                graph.cornerRadiusTop = 8;
                graph.lineAlpha = 0;
                graph.balloonText = "<span style='font-size:13px;'>[[category]]: <b>[[value]]</b></span>";
                chart.addGraph(graph);
                // WRITE
                chart.write("chartdiv");
            });
</script>
<?php endif;?>