<div class="row">
	<div class="col-md-12">
		<div>
			<div class="btn-group">
			  <button class="btn">Nuevo Evento</button>
			</div>
		
			<h1 class="text-gray">Eventos <i class="fa fa-dot-circle-o "></i></h1>
			<table class="table table-hover">
				<tr>
					<th>#</th>
					<th>Evento</th>
					<th>Fecha de creaci&oacute;n</th>
				</tr>
				<?php foreach($this->evento as $row): ?>
				<tr>
					<td> <?php echo $row->getId() ?></td>
					<td> <?php echo $row->getNombreEvento() ?> </td>
					<td> <?php echo $row->getFechacreacion()->format('Y-m-d H:i:s'); ?> </td>
				</tr>
				<?php endforeach; ?>
			</table>
		</div>
	</div>
</div>