<link href="/css/bootstrap-editable.css" rel="stylesheet">

<div class="row">
	<div class="col-md-12">
		<div class="well well-lg">
			<h1>Nuevo evento  <i class="fa fa-dot-circle-o "></i></h1>
			<table id="user" class="table table-bordered table-striped" style="clear: both">
                <tbody>
                    <tr>  
                        <td width="35%">Nombre del evento</td>
                        <td width="65%">
                        	<a href="#" id="username" data-type="text"
							data-pk="1" data-url="/post" data-title="">Nombre del evento</a>
						</td>
                    </tr>
                    <tr>
                        <td>Vigencia: </td>
                        <td>
                        	<a href="#" id="vigencia" data-type="date"
							data-viewformat="dd.mm.yyyy" data-pk="1" data-placement="right"
							data-title="When you want vacation to start?">25.02.2013</a>
						</td>
                    </tr> 
                </tbody>
            </table>
		</div>
	</div>
</div>

<script src="/js/bootstrap-editable.min.js"></script>
<script src="/js/models/nuevoevento.js"></script>