body {
  padding-top: 70px;
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
/*  background: #fafafa url('../img/bg.jpg') repeat;*/
}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -80px;
  /* Pad bottom by footer height */
  padding: 0 0 80px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 80px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 20px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-top: -20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #fff;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  
}

.bg-verdeson{background-color:#51d466 !important;}
.bg-verdeson{background-color:#0b0 !important;}
.text-gray{color:#555;}

#contenedorQuiniela{margin-bottom: 10px;}
element.style {
}
.dropdown-menu>li>a {
display: block;
padding: 3x 20px;
clear: both;
font-weight: 400;
line-height: 2.0;
font-size:16px;}

h1,h2,h3,h4,h5,h6{	font-family: 'Marvel', sans-serif; color:#555;}
h1{font-size:42px;}
h2{font-size:32px;}
h3{font-size:28px;}
h4{font-size:22px;}
h5{font-size:18px;}
h6{font-size:14px;}
.features {
background: #eee url('../img/featureback1.png') repeat;
padding-top: 40px;
padding-bottom: 60px;
border-bottom: 1px solid #ddd;
}
.thumbnail > *:HOVER {text-decoration: none;}
.botoncitoRef {color:#555!important;}
.botoncitoRef:HOVER{color:#fff!important;}
.botoncito{background-color:#D3D3D3;float: left;height: 110px;width: 100%;text-align: center;padding:10px;margin-bottom: 10px;font-weight: bold;}
.botoncitoRef:hover > div.botoncito {background-color: #0b0!important;font-weight: bold;}
.selected:HOVER{background-color: #428bca;}
.selected:HOVER h3{color:#fff!important;}

.flagsp {
display: inline-block;
vertical-align: middle;
width: 20px;
height: 14px;
overflow: hidden;
background: transparent url(../img/flagsp.png) no-repeat scroll;
border: 1px solid #CCC!important;
}

.ban{margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
}
.flagsp_sud {background-position:-1px -208px;}
.flagsp_afg {background-position:-20px -0px;}
.flagsp_aia {background-position:-39px -0px;}
.flagsp_alb {background-position:-58px -0px;}
.flagsp_alg {background-position:-77px -0px;}
.flagsp_and {background-position:-96px -0px;}
.flagsp_ang {background-position:-115px -0px;}
.flagsp_arg {background-position:-134px -0px;}
.flagsp_arm {background-position:-153px -0px;}
.flagsp_aru {background-position:-172px -0px;}
.flagsp_asa {background-position:-1px -13px;}
.flagsp_atg {background-position:-20px -13px;}
.flagsp_aus {background-position:-39px -13px;}
.flagsp_aut {background-position:-58px -13px;}
.flagsp_aze {background-position:-77px -13px;}
.flagsp_bah {background-position:-96px -13px;}
.flagsp_ban {background-position:-115px -13px;}
.flagsp_bdi {background-position:-134px -13px;}
.flagsp_bel {background-position:-153px -14px;}
.flagsp_ben {background-position:-172px -13px;}
.flagsp_ber {background-position:-1px -26px;}
.flagsp_bfa {background-position:-20px -26px;}
.flagsp_bhr {background-position:-39px -26px;}
.flagsp_bhu {background-position:-58px -26px;}
.flagsp_bih {background-position:-77px -27px;}
.flagsp_blr {background-position:-96px -26px;}
.flagsp_blz {background-position:-115px -26px;}
.flagsp_bol {background-position:-134px -26px;}
.flagsp_bot {background-position:-153px -26px;}
.flagsp_bra {background-position:-172px -27px;}
.flagsp_brb {background-position:-1px -39px;}
.flagsp_bru {background-position:-20px -39px;}
.flagsp_bul {background-position:-39px -39px;}
.flagsp_cam {background-position:-58px -39px;}
.flagsp_can {background-position:-77px -39px;}
.flagsp_cay {background-position:-96px -39px;}
.flagsp_cgo {background-position:-115px -39px;}
.flagsp_cha {background-position:-134px -39px;}
.flagsp_chi {background-position:-153px -39px;}
.flagsp_chn {background-position:-172px -39px;}
.flagsp_civ {background-position:-1px -53px;}
.flagsp_cmr {background-position:-19px -52px;}
.flagsp_cod {background-position:-38px -52px;}
.flagsp_cok {background-position:-57px -52px;}
.flagsp_col {background-position:-77px -53px;}
.flagsp_com {background-position:-95px -52px;}
.flagsp_cpv {background-position:-114px -52px;}
.flagsp_crc {background-position:-134px -53px;}
.flagsp_cro {background-position:-153px -52px;}
.flagsp_cta {background-position:-171px -52px;}
.flagsp_cub {background-position:-0px -65px;}
.flagsp_cuw {background-position:-19px -65px;}
.flagsp_cyp {background-position:-38px -65px;}
.flagsp_cze {background-position:-57px -65px;}
.flagsp_den {background-position:-76px -65px;}
.flagsp_dji {background-position:-95px -65px;}
.flagsp_dma {background-position:-114px -65px;}
.flagsp_dom {background-position:-133px -65px;}
.flagsp_ecu {background-position:-153px -66px;}
.flagsp_egy {background-position:-171px -65px;}
.flagsp_eng {background-position:-0px -78px;}
.flagsp_eqg {background-position:-19px -78px;}
.flagsp_eri {background-position:-38px -78px;}
.flagsp_esp {background-position:-57px -78px;}
.flagsp_est {background-position:-76px -78px;}
.flagsp_eth {background-position:-95px -78px;}
.flagsp_fij {background-position:-114px -78px;}
.flagsp_fin {background-position:-133px -78px;}
.flagsp_fra {background-position:-153px -78px;}
.flagsp_fro {background-position:-171px -78px;}
.flagsp_gab {background-position:-0px -91px;}
.flagsp_gam {background-position:-19px -91px;}
.flagsp_geo {background-position:-38px -91px;}
.flagsp_ger {background-position:-57px -92px;}
.flagsp_gha {background-position:-77px -92px;}
.flagsp_gnb {background-position:-95px -91px;}
.flagsp_gre {background-position:-115px -92px;}
.flagsp_grn {background-position:-133px -91px;}
.flagsp_gua {background-position:-152px -91px;}
.flagsp_gui {background-position:-171px -91px;}
.flagsp_gum {background-position:-0px -104px;}
.flagsp_guy {background-position:-19px -104px;}
.flagsp_hai {background-position:-38px -104px;}
.flagsp_hkg {background-position:-57px -104px;}
.flagsp_hon {background-position:-77px -104px;}
.flagsp_hun {background-position:-95px -104px;}
.flagsp_idn {background-position:-114px -104px;}
.flagsp_ind {background-position:-133px -104px;}
.flagsp_irl {background-position:-152px -104px;}
.flagsp_irn {background-position:-172px -105px;}
.flagsp_irq {background-position:-0px -117px;}
.flagsp_isl {background-position:-19px -117px;}
.flagsp_isr {background-position:-38px -117px;}
.flagsp_ita {background-position:-57px -117px;}
.flagsp_jam {background-position:-76px -117px;}
.flagsp_jor {background-position:-95px -117px;}
.flagsp_jpn {background-position:-115px -118px;}
.flagsp_kaz {background-position:-133px -117px;}
.flagsp_ken {background-position:-152px -117px;}
.flagsp_kgz {background-position:-171px -117px;}
.flagsp_kor {background-position:-0px -130px;}
.flagsp_ksa {background-position:-19px -130px;}
.flagsp_kuw {background-position:-38px -130px;}
.flagsp_lao {background-position:-57px -130px;}
.flagsp_lbr {background-position:-76px -130px;}
.flagsp_lby {background-position:-95px -130px;}
.flagsp_lca {background-position:-114px -130px;}
.flagsp_les {background-position:-133px -130px;}
.flagsp_lib {background-position:-152px -130px;}
.flagsp_lie {background-position:-171px -130px;}
.flagsp_ltu {background-position:-0px -143px;}
.flagsp_lux {background-position:-19px -143px;}
.flagsp_lva {background-position:-38px -143px;}
.flagsp_mac {background-position:-57px -143px;}
.flagsp_mad {background-position:-76px -143px;}
.flagsp_mar {background-position:-95px -143px;}
.flagsp_mas {background-position:-114px -143px;}
.flagsp_mda {background-position:-133px -143px;}
.flagsp_mdv {background-position:-152px -143px;}
.flagsp_mex {background-position:-172px -144px;}
.flagsp_mkd {background-position:-0px -156px;}
.flagsp_mli {background-position:-19px -156px;}
.flagsp_mlt {background-position:-38px -156px;}
.flagsp_mne {background-position:-57px -156px;}
.flagsp_mng {background-position:-76px -156px;}
.flagsp_moz {background-position:-95px -156px;}
.flagsp_mri {background-position:-114px -156px;}
.flagsp_msr {background-position:-133px -156px;}
.flagsp_mtn {background-position:-152px -156px;}
.flagsp_mwi {background-position:-171px -156px;}
.flagsp_mya {background-position:-0px -169px;}
.flagsp_nam {background-position:-19px -169px;}
.flagsp_nca {background-position:-38px -169px;}
.flagsp_ncl {background-position:-57px -169px;}
.flagsp_ned {background-position:-77px -169px;}
.flagsp_nep {background-position:-95px -169px;}
.flagsp_nga {background-position:-115px -169px;}
.flagsp_nig {background-position:-133px -169px;}
.flagsp_nir {background-position:-152px -169px;}
.flagsp_nor {background-position:-171px -169px;}
.flagsp_nzl {background-position:-0px -182px;}
.flagsp_oma {background-position:-19px -182px;}
.flagsp_pak {background-position:-38px -182px;}
.flagsp_pan {background-position:-57px -182px;}
.flagsp_par {background-position:-76px -182px;}
.flagsp_per {background-position:-95px -182px;}
.flagsp_phi {background-position:-114px -182px;}
.flagsp_ple {background-position:-133px -182px;}
.flagsp_png {background-position:-152px -182px;}
.flagsp_pol {background-position:-171px -182px;}
.flagsp_por {background-position:-0px -195px;}
.flagsp_prk {background-position:-19px -195px;}
.flagsp_pur {background-position:-38px -195px;}
.flagsp_qat {background-position:-57px -195px;}
.flagsp_rou {background-position:-76px -195px;}
.flagsp_rsa {background-position:-95px -195px;}
.flagsp_rus {background-position:-115px -195px;}
.flagsp_rwa {background-position:-133px -195px;}
.flagsp_sam {background-position:-152px -195px;}
.flagsp_sco {background-position:-171px -195px;}
.flagsp_sdn {background-position:-0px -208px;}
.flagsp_sen {background-position:-19px -208px;}
.flagsp_sey {background-position:-38px -208px;}
.flagsp_sin {background-position:-57px -208px;}
.flagsp_skn {background-position:-76px -208px;}
.flagsp_sle {background-position:-95px -208px;}
.flagsp_slv {background-position:-114px -208px;}
.flagsp_smr {background-position:-133px -208px;}
.flagsp_sol {background-position:-152px -208px;}
.flagsp_som {background-position:-171px -208px;}
.flagsp_srb {background-position:-0px -221px;}
.flagsp_sri {background-position:-19px -221px;}
.flagsp_ssd {background-position:-38px -221px;}
.flagsp_stp {background-position:-57px -221px;}
.flagsp_sui {background-position:-77px -222px;}
.flagsp_sur {background-position:-95px -221px;}
.flagsp_svk {background-position:-114px -221px;}
.flagsp_svn {background-position:-133px -221px;}
.flagsp_swe {background-position:-152px -221px;}
.flagsp_swz {background-position:-171px -221px;}
.flagsp_syr {background-position:-0px -234px;}
.flagsp_tah {background-position:-19px -234px;}
.flagsp_tan {background-position:-38px -234px;}
.flagsp_tca {background-position:-57px -234px;}
.flagsp_tga {background-position:-76px -234px;}
.flagsp_tha {background-position:-95px -234px;}
.flagsp_tjk {background-position:-114px -234px;}
.flagsp_tkm {background-position:-133px -234px;}
.flagsp_tls {background-position:-152px -234px;}
.flagsp_tog {background-position:-171px -234px;}
.flagsp_tpe {background-position:-0px -247px;}
.flagsp_tri {background-position:-19px -247px;}
.flagsp_tun {background-position:-38px -247px;}
.flagsp_tur {background-position:-57px -247px;}
.flagsp_uae {background-position:-76px -247px;}
.flagsp_uga {background-position:-95px -247px;}
.flagsp_ukr {background-position:-114px -247px;}
.flagsp_uru {background-position:-134px -247px;}
.flagsp_usa {background-position:-153px -247px;}
.flagsp_uzb {background-position:-171px -247px;}
.flagsp_van {background-position:-0px -260px;}
.flagsp_ven {background-position:-19px -260px;}
.flagsp_vgb {background-position:-38px -260px;}
.flagsp_vie {background-position:-57px -260px;}
.flagsp_vin {background-position:-76px -260px;}
.flagsp_vir {background-position:-95px -260px;}
.flagsp_wal {background-position:-114px -260px;}
.flagsp_yem {background-position:-133px -260px;}
.flagsp_zam {background-position:-152px -260px;}
.flagsp_zim {background-position:-171px -260px;}

td.flag {width: 25px;}
.partido{cursor: pointer;}
label{font-family: 'Marvel', sans-serif;font-size:18px;}
.result:hover{background-color:#23ADC0!important;color:#fff;font-weight: bold!important;}
.tdselected{background-color:#23ADC0!important;color:#fff;font-weight: bold!important;}
.result{cursor:pointer;}
.grisesote{background-color: #CCC;}
.logo{margin-top:-15px;background-color: #f8f8f8;padding: 10px;
            -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.49);
-moz-box-shadow:    5px 5px 5px 0px rgba(50, 50, 50, 0.49);
box-shadow:         5px 5px 5px 0px rgba(50, 50, 50, 0.49);}

.carouselfix{
	width: 100%;height: 500px;background-position: center top;position: relative;
   	background-repeat: no-repeat;
}

.carousel-control.right {
left: auto;
right: 0;
background-image: -webkit-linear-gradient(left,color-stop(rgba(254,254,254,.0001) 0),color-stop(rgba(254,254,254,.5) 100%));
background-image: linear-gradient(to right,rgba(254,254,254,.0001) 0,rgba(254,254,254,.5) 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=1);
}

.carousel-control.left {
background-image: -webkit-linear-gradient(left,color-stop(rgba(254,254,254,.5) 0),color-stop(rgba(254,254,254,.0001) 100%));
background-image: linear-gradient(to right,rgba(254,254,254,.5) 0,rgba(254,254,254,.0001) 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=1);
}

.infoQuiniela p{
	color:#777;
	margin:15px 30px 0 40px;
}

.infoQuiniela2 p{
	color:#777;
	margin:15px 10px 0 10px;
}

.priceThumb {
font-family: 'Pathway Gothic One', sans-serif;
font-size: 20px;
background-color: #0484AC;
min-width: 30px;
position: absolute;
top: 15px;
left: -1px;
color: #fff;
padding: 0 10px 0 10px;
font-weight: 300;
line-height: 30px;
vertical-align: middle;
}

.priceThumbBlue {
font-family: 'Pathway Gothic One', sans-serif;
font-size: 13px;
background-color: #0484AC;
min-width: 59px;
position: absolute;
top: 5px;
left: 15px;
color: #fff;
padding: 0 30px 0 30px;
font-weight: 300;
line-height: 25px;
vertical-align: middle;
}

.priceThumbHigh {
font-family: 'Pathway Gothic One', sans-serif;
font-size: 13px;
background-color: #83285B;
min-width: 59px;
position: absolute;
top: 5px;
left: 15px;
color: #fff;
padding: 0 30px 0 30px;
font-weight: 300;
line-height: 25px;
vertical-align: middle;
}

.pagarAhora {
font-family: 'Pathway Gothic One', sans-serif;
font-size: 20px;
background-color:#FF4444;
min-width: 78px;
position: absolute;
top: 20%;
left: 20px;
right: 20px;
color: #fff;
padding: 30px 20px 30px 20px;
font-weight: 300;
line-height: 30px;
vertical-align: middle;
opacity: 1;
z-index: 99;
text-align: center;
filter: alpha(opacity=100);
}

.avisoPropietario {
font-family: 'Pathway Gothic One', sans-serif;
font-size: 13px;
background-color: #FF8500;
min-width: 59px;
color: #FFFFFF;
padding: 0 15px 0 25px;
font-weight: 300;
line-height: 23px;
vertical-align: middle;
margin-top: 2px;
}

.tamanio{	height: 335px;}
.tamanio2{	height: 325px;}


.transbox
  {
  background-color:#ffffff;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  }
.transbox a{
	text-decoration: none;
}
.masValiosas {
font-family: 'Pathway Gothic One', sans-serif;
font-size: 16px;
background-color: #2FA0F8;
min-width: 59px;
position: absolute;
top: 5px;
left: 15px;
color: #fff;
padding: 0px 30px 0 30px;
font-weight: bold;
line-height: 25px;
vertical-align: middle;
}
.backchidito{ /*background: rgba(54, 25, 25, .5);*/background: rgba(0, 0,0, .5);
padding: 0px;
}
.backchidito h1{ color:#FFF;font-weight: bold; }
.backchidito p{font-size:18px;}
.carousel-caption {bottom: 30px;}
.well1 {
min-height: 20px;
padding: 0px;
margin-bottom: -20px;
border: 1px none #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,.video-container object,.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

span.tool{margin-left:5px;}
