	<div class="contenedorTrans container">
		<div class="row">
			<ul>
				<li><a href="/users/perfil/"> Editar perfil p&uacute;blico </a></li>
				<li><a href="/users/perfil/cambiocontrasena/"> Cambiar contrase&ntilde;a </a></li>
			</ul>
		</div>
	</div>