<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="page-header">
			<h1><i class="fa fa-trophy "></i> Esta es tú Quiniela </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-12">
				<div class="panel  panel-primary">
					<div class="panel-heading"><h4 style="color:#fff;font-weight: bold;">Detalles generales de tu quiniela <a href="/cuenta/control/invitaramigos/invitar/<?php echo $this->Quiniela->getId();?>" class="btn btn-warning" style="float:right;"> <i class="fa fa-user "></i> Invitar a mis amigos</a> </h4>   </div>
				  <div class="panel-body">
				    	<h4>Nombre de tu quiniela: <strong><?php echo $this->Quiniela->getTitulo();?></strong></h4>
				    	<h5>Descripción:	<strong><?php echo $this->Quiniela->getDescripcion();?></strong></h5>
				    	<h5>Tu quiniela se cierra el: <strong><?php echo $this->fecha($this->Quiniela->getFechaCierre(),"es_MX","fullhoras");?></strong></h5>
				    	
				    	<hr/>
				    	<h5>Numero de participantes:  <strong>00</strong></h5>
				    	<h5>Premio:	                  <strong>$00.00</strong></h5>
				    	<h5>Monto acumulado:	      <strong>$00.00</strong></h5>
				    	
				    	<?php if($this->numinvitados): ?>
				    	<hr/>
				    	<h4 style="font-weight: bold;">Amigos invitados</h4>
				    	<?php foreach($this->invitados as $invitado): ?>
				    		<img src="https://graph.facebook.com/<?php echo $invitado->getfacebookid(); ?>/picture"  class="img-circle">
				    	<?php endforeach;?>
				    	<?php endif;?>
				    	
				    	<h4 style="margin-top:50px;font-weight: bold;">Estos son los partidos que seleccionaste para tu quiniela</h4>
				    	<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th class="text-center">
										Fecha - Hora
									</th>
									<th>
									</th>
									<th class="text-left">	
										Local
									</th>
									<th>
									</th>
									<th class="text-right">
										Visita
									</th>
									<th>
									</th>
									<th class="text-center">
										Fase
									</th>
								</tr>
							</thead>
							<tbody>
				    	<?php foreach($this->Quiniela->getQuinielaPartidos() as $partidoQuiniela){?>
							<?php $partido	=	$partidoQuiniela->getPartido();?>
							<tr id="<?php echo $partido->getId();?>" timestamp="<?php echo $this->fecha($partido->getFechaPartido(),'es_MX','timestamp');?>" class="partido">
								<td style="font-size:12px;"><?php echo $this->fecha($partido->getFechaPartido(),'es_MX','medium');?></td>
								<td class="flag text-center"><span class="flagsp <?php echo $partido->getEscudoLocal();?>"></span></td>
								<td style="text-align:left;"><?php echo $partido->getEquipoLocal();?></td>
								<td >vs</td>
								<td style="text-align:right;"><?php echo $partido->getEquipoVisita();?></td>
								<td class="flag text-center"> <span class="flagsp <?php echo $partido->getEscudoVisita();?>"></span></td>
								<td><?php echo $partido->getTipoPartido();?></td>
							</tr>
				    	<?php } ?>
				    		</tbody>
						</table>
						</div>
						<div class="row" style="margin-top:10px;">
							<div class="col-md-8 col-md-offset-2 col-xs-12">
								<a href="/quiniela/boleta/<?php echo ($this->Quiniela->getStatus()>0)?"nueva":"primera";?>/id/<?php echo $this->Quiniela->getId();?>" class="btn btn-success btn-block btn-lg">Generar Boleta</a>
							</div>
							 
						</div>
						
				  </div><!-- Panel body -->
				</div>
		</div>
	</div>
</div>