<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="page-header">
			<h1><i class="fa fa-check-square-o"></i> Boleta de participación</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xs-12">
				<div class="panel  panel-primary">
				<div class="panel-heading"><h4 style="color:#fff;font-weight: bold;">Boleta de quiniela # <?php echo $this->Quiniela->getId();?> </h4></div>
				  <div class="panel-body">
				  		<form id="formBoleta" action="/quiniela/boleta/save" method="post">
				  		<h3 class="hidden-xs pull-right" style="color:#0b0!important;">Precio de Boleta: <strong><?php echo $this->moneda($this->Quiniela->getPrecioBoleta());?></strong></h3>
				    	<h4>Nombre: <strong><?php echo $this->Quiniela->getTitulo();?></strong></h4>
				    	<h5>Descripción:	<strong><?php echo $this->Quiniela->getDescripcion();?></strong></h5>
				    	<h5>Fecha de cierre:	<strong><?php echo $this->fecha($this->Quiniela->getFechaCierre(),"es_MX","fullhoras");?></strong></h5>
						<h3 class="visible-xs" style="color:#0b0!important;">Precio de Boleta: <strong><?php echo $this->moneda($this->Quiniela->getPrecioBoleta());?></strong></h3>				    	
				    	<h4 style="margin-top:50px;font-weight: bold;">
				    		Selecciona tus pronósticos de los partidos:
				    	</h4>
				    	
				    	<div class="row">
				    	<div class="col-md-8 col-md-offset-2">
				    	<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr class="bg-primary">
									<th class="text-center " style="font-size:12px;">
										Fecha - Hora
									</th>
									<th colspan="3" class="text-center ">	
										¿Quien Ganará?
									</th>
									<th class="text-center">
										Fase
									</th>
								</tr>
							</thead>
							<tbody>
				    	<?php foreach($this->partidos as $partido){?>
									<tr class="partidosQuinielas" id="<?php echo $partido["id"];?>">
										<td  class=" text-center text-muted" style="font-size:12px;vertical-align: middle;"><?php echo $this->fecha($partido["fecha"],'es_MX','medium');?></td>
										<td  class="result" style="text-align:left;margin-right: 10%">
										<label class="radio-inline">
										  <input class="radio" type="radio" name="ps<?php echo $partido["id"];?>" id="inlineCheckbox1" value="L">
										  <?php echo $this->escudo($partido["equipoLocal"]["escudo"],"normal");?>
										  <?php echo $partido["equipoLocal"]["nombre"];?>
										</label>
										</td>
										<td class="result">
										<label class="radio-inline">
										  <input class="radio" type="radio"  name="ps<?php echo $partido["id"];?>" id="inlineCheckbox2" value="E">Empate
										</label>
										</td>
										<td  class="result" style="text-align:left;">
										<label class="radio-inline">
											<?php echo $this->escudo($partido["equipoVisita"]["escudo"],"normal");?>
										  	<input class="radio" type="radio"   name="ps<?php echo $partido["id"];?>" id="inlineCheckbox3" value="V">
										  	<?php echo $partido["equipoVisita"]["nombre"];?>
										</label>
										</td>
										<td style="font-size:12px;vertical-align: middle;" class=" text-muted text-center" ><?php echo $partido["tipo"];?></td>
									</tr>
								
				    	<?php } ?>
				    		</tbody>
						</table>
						</div>
						</div><!-- fin columna -->
						</div><!-- fin row -->
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<div id="error" class="alert alert-danger" style="display:none;">
							      <h4 class="text-center">Aún no has terminado de llenar tu Quiniela.</h4>
							    </div>
							</div>
						</div>
						<div class="row" style="margin-top:10px;">
							<div class="col-md-4  col-md-offset-4 col-xs-12">
								<input type="hidden" id="idQ" name="idQ" value="<?php echo $this->Quiniela->getId();?>">
								<button id="btnPagar" type="submit" data-loading-text="Guardar boleta..." class="btn btn-success btn-lg btn-block">Pagar Boleta <i class="fa fa-credit-card"></i></button>
							</div>
						</div>
						</form>
				  </div><!-- Panel body -->
				</div>
		</div>
	</div>
</div>
<style>
td{height: 42px!important;}
</style>
<script type="text/javascript" src="/js/app/boleta.primera.js"></script>



