<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="panel panel-default">
			  <div class="panel-body">
				  	<h2 class="text-center hidden-xs">Paga tu boleta de participación en cualquier OXXO del país</h2>
					<h4 class="text-center visible-xs">Paga tu boleta de participación en cualquier OXXO del país</h4>
			    	<div class="row">
						<div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
							<div style="text-align: center;">
								<img src="/img/oxxo.jpg" class="img-responsive" style="display:inline!important;margin-bottom: 20px;">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<?php $fecha = new DateTime();$fecha= $fecha->setTimestamp($this->expira*1)?>
							<p class="text-center">
								Tienes hasta el <?php echo $this->fecha($fecha,"es_MX","full"); ?> para realizar tu pago.
							</p>
							<p class="text-muted">
								Una vez realizado tu pago, se reflejara en nuestro sistema en las 24 horas siguientes de manera
								automática, te confirmaremos vía email cuando validemos tu pago.
							</p>
							<p class="text-center" style="margin-top:10px;">
								 Código de barras número: <?php echo $this->barcode;?>
								 <br>
								 <img src="<?php echo $this->barcodeUrl?>" style="margin-top:10px;"/>
							</p>
							<p>
								Imprime esta página y llévala impresa con el código de barras a cualquier oxxo del país,
								para pagar tu participación.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<a HREF="/quiniela/accion/imprimir-oxxo/boleta/<?php echo $this->boletaId;?>" target="_blank" class="btn btn-primary btn-block btn-lg" style="margin-bottom:20px;">Imprimir página</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<a href="/cuenta/control" class="btn btn-info btn-lg btn-block"><i class="fa fa-rocket"></i> Regresar al centro de control</a>
						</div>
					</div>
			  </div>
			</div>
			
	</div>
</div>