<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="page-header">
			<h1 class="hidden-xs"><i class="fa fa-money"></i> Paga tu Boleta para poder participar  </h1>
			<h4 class="visible-xs"><i class="fa fa-money"></i> Paga tu Boleta para poder participar  </h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
			<div class="alert alert-warning">
			<h4>Recuerda que la información de tú tarjeta de crédito nunca toca nuestros servidores, ya que todas nuestras
			transacciones de medios de pago son por <a href="http://www.conekta.io" target="_blank"><img style="" src="/img/conekta.png"/></a></h4>
			</div>
			<form id="payment-form" name="payment-form" method="post" >
				<input type="hidden" name="boleta" value="<?php echo $this->Boleta->getId();?>">
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7 col-xs-12">
			<h4>Tu Boleta de participación</h4>
			<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th class="text-center grisesote">
										Fecha - Hora
									</th>
									<th class="grisesote">
									</th>
									<th class="text-left grisesote">	
										Local
									</th>
									<th class="grisesote">	
									</th>
									<th class="text-right grisesote">
										Visita
									</th>
									<th class="grisesote">
									</th>
									<th class="text-center bg-primary"  >
												TUS PRONÓSTICOS <i class="fa fa-trophy fa-lg"></i> 
									</th>
								</tr>
							</thead>
							<tbody>
							<?php foreach($this->partidos as $partido){?>
									<tr class="partidosQuinielas" id="<?php echo $partido["id"];?>">
										<td style="font-size:12px;" class="text-muted"><?php echo $this->fecha($partido["fecha"],'es_MX','medium');?></td>
										<td class="flag text-center"><?php echo $this->escudo($partido["equipoLocal"]["escudo"],"normal");?></td>
										<td style="text-align:left;"><?php echo $partido["equipoLocal"]["nombre"];?></td>
										<td >vs</td>
										<td style="text-align:right;"><?php echo $partido["equipoVisita"]["nombre"];?></td>
										<td class="flag text-center"> <?php echo $this->escudo($partido["equipoVisita"]["escudo"],"normal");?></td>
										<td class="text-center tdselected" >
											<?php	 $result = "";
													switch($partido["pronostico"]){	
														case "L" :
																$result=$this->escudo($partido["equipoLocal"]["escudo"],"normal")." ".$partido["equipoLocal"]["nombre"];
																break;
														case "V" :
																$result=$this->escudo($partido["equipoVisita"]["escudo"],"normal")." ".$partido["equipoVisita"]["nombre"];
																break;
														case "E" :
																$result="Empate";break;
														
													};
													echo $result;?>
										</td>
									</tr>
								
				    	<?php } ?>
							
							</tbody>
						</table>
			</div>
		</div>
		<div class="col-md-5 col-xs-12">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
			  <li class="active"><a href="#TC" data-toggle="tab"> <i class="fa fa-credit-card"></i> Tarjeta de Crédito </a></li>
			  <li><a href="#OXXO" data-toggle="tab"><i class="fa fa-usd"></i> Tiendas OXXO</a></li>
			</ul>
			
			<!-- Tab panes -->
			<div class="tab-content">
			  <div class="tab-pane fade active in" id="TC">
			  		<div class="panel panel-default">
					  <div class="panel-body">
					    <form role="form" name="paymentFormTC" id="paymentFormTC">
						  <div class="form-group">
						    <label for="nombreTC">Nombre del titular de la Tarjeta</label>
						    <input type="text" class="form-control" data-conekta="card[name]" id="cardNombre" placeholder="Nombre del tarjetahabiente">
						  </div>
						  <div class="form-group">
						    <label for="street1">Dirección</label>
						    <input type="text" class="form-control" data-conekta="card[address][street1]" id="street1" placeholder="Calle y número" style="margin-bottom: 10px;">
						    <input type="text" class="form-control" data-conekta="card[address][street2]" id="street2" placeholder="Colonia" style="margin-bottom: 10px;">
						    <input type="text" class="form-control" data-conekta="card[address][street3]" id="street3" placeholder="Delegacion/Municipio" style="margin-bottom: 10px;">
						    <input type="text" class="form-control" data-conekta="card[address][city]" id="city" placeholder="Ciudad" style="margin-bottom: 10px;">
						    <input type="text" class="form-control" data-conekta="card[address][state]" id="state" placeholder="Estado" style="margin-bottom: 10px;">
						    <input type="text" class="form-control" data-conekta="card[address][zip]" id="zip" placeholder="Código Postal" style="margin-bottom: 10px;">
						  </div>
						  <div class="form-group">
						  	  <label for="nombreTC">Selecciona tu país</label>
						  	  <select class="form-control"  data-conekta="card[address][country]" id="country"><option value="AF"> Afghanistan</option><option value="AL"> Albania</option><option value="DZ"> Algeria</option><option value="AS"> American Samoa</option><option value="AD"> Andorra</option><option value="AO"> Angola</option><option value="AI"> Anguilla</option><option value="AQ"> Antarctica</option><option value="AG"> Antigua and Barbuda</option><option value="AR"> Argentina</option><option value="AM"> Armenia</option><option value="AW"> Aruba</option><option value="AU"> Australia</option><option value="AT"> Austria</option><option value="AZ"> Azerbaijan</option><option value="BS"> Bahamas</option><option value="BH"> Bahrain</option><option value="BD"> Bangladesh</option><option value="BB"> Barbados</option><option value="BY"> Belarus</option><option value="BE"> Belgium</option><option value="BZ"> Belize</option><option value="BJ"> Benin</option><option value="BM"> Bermuda</option><option value="BT"> Bhutan</option><option value="BO"> Bolivia</option><option value="BQ"> Bonaire</option><option value="BA"> Bosnia and Herzegovina</option><option value="BW"> Botswana</option><option value="BV"> Bouvet Island</option><option value="BR"> Brazil</option><option value="IO"> British Indian Ocean Territory</option><option value="VG"> British Virgin Islands</option><option value="BN"> Brunei</option><option value="BG"> Bulgaria</option><option value="BF"> Burkina Faso</option><option value="BI"> Burundi</option><option value="KH"> Cambodia</option><option value="CM"> Cameroon</option><option value="CA"> Canada</option><option value="CV"> Cape Verde</option><option value="KY"> Cayman Islands</option><option value="CF"> Central African Republic</option><option value="TD"> Chad</option><option value="CL"> Chile</option><option value="CN"> China</option><option value="CX"> Christmas Island</option><option value="CC"> Cocos [Keeling] Islands</option><option value="CO"> Colombia</option><option value="KM"> Comoros</option><option value="CK"> Cook Islands</option><option value="CR"> Costa Rica</option><option value="HR"> Croatia</option><option value="CU"> Cuba</option><option value="CW"> Curacao</option><option value="CY"> Cyprus</option><option value="CZ"> Czechia</option><option value="CD"> Democratic Republic of the Congo</option><option value="DK"> Denmark</option><option value="DJ"> Djibouti</option><option value="DM"> Dominica</option><option value="DO"> Dominican Republic</option><option value="TL"> East Timor</option><option value="EC"> Ecuador</option><option value="EG"> Egypt</option><option value="SV"> El Salvador</option><option value="GQ"> Equatorial Guinea</option><option value="ER"> Eritrea</option><option value="EE"> Estonia</option><option value="ET"> Ethiopia</option><option value="FK"> Falkland Islands</option><option value="FO"> Faroe Islands</option><option value="FJ"> Fiji</option><option value="FI"> Finland</option><option value="FR"> France</option><option value="GF"> French Guiana</option><option value="PF"> French Polynesia</option><option value="TF"> French Southern Territories</option><option value="GA"> Gabon</option><option value="GM"> Gambia</option><option value="GE"> Georgia</option><option value="DE"> Germany</option><option value="GH"> Ghana</option><option value="GI"> Gibraltar</option><option value="GR"> Greece</option><option value="GL"> Greenland</option><option value="GD"> Grenada</option><option value="GP"> Guadeloupe</option><option value="GU"> Guam</option><option value="GT"> Guatemala</option><option value="GG"> Guernsey</option><option value="GN"> Guinea</option><option value="GW"> Guinea-Bissau</option><option value="GY"> Guyana</option><option value="HT"> Haiti</option><option value="HM"> Heard Island and McDonald Islands</option><option value="HN"> Honduras</option><option value="HK"> Hong Kong</option><option value="HU"> Hungary</option><option value="IS"> Iceland</option><option value="IN"> India</option><option value="ID"> Indonesia</option><option value="IR"> Iran</option><option value="IQ"> Iraq</option><option value="IE"> Ireland</option><option value="IM"> Isle of Man</option><option value="IL"> Israel</option><option value="IT"> Italy</option><option value="CI"> Ivory Coast</option><option value="JM"> Jamaica</option><option value="JP"> Japan</option><option value="JE"> Jersey</option><option value="JO"> Jordan</option><option value="KZ"> Kazakhstan</option><option value="KE"> Kenya</option><option value="KI"> Kiribati</option><option value="XK"> Kosovo</option><option value="KW"> Kuwait</option><option value="KG"> Kyrgyzstan</option><option value="LA"> Laos</option><option value="LV"> Latvia</option><option value="LB"> Lebanon</option><option value="LS"> Lesotho</option><option value="LR"> Liberia</option><option value="LY"> Libya</option><option value="LI"> Liechtenstein</option><option value="LT"> Lithuania</option><option value="LU"> Luxembourg</option><option value="MO"> Macao</option><option value="MK"> Macedonia</option><option value="MG"> Madagascar</option><option value="MW"> Malawi</option><option value="MY"> Malaysia</option><option value="MV"> Maldives</option><option value="ML"> Mali</option><option value="MT"> Malta</option><option value="MH"> Marshall Islands</option><option value="MQ"> Martinique</option><option value="MR"> Mauritania</option><option value="MU"> Mauritius</option><option value="YT"> Mayotte</option><option value="MX"> Mexico</option><option value="FM"> Micronesia</option><option value="MD"> Moldova</option><option value="MC"> Monaco</option><option value="MN"> Mongolia</option><option value="ME"> Montenegro</option><option value="MS"> Montserrat</option><option value="MA"> Morocco</option><option value="MZ"> Mozambique</option><option value="MM"> Myanmar [Burma]</option><option value="NA"> Namibia</option><option value="NR"> Nauru</option><option value="NP"> Nepal</option><option value="NL"> Netherlands</option><option value="NC"> New Caledonia</option><option value="NZ"> New Zealand</option><option value="NI"> Nicaragua</option><option value="NE"> Niger</option><option value="NG"> Nigeria</option><option value="NU"> Niue</option><option value="NF"> Norfolk Island</option><option value="KP"> North Korea</option><option value="MP"> Northern Mariana Islands</option><option value="NO"> Norway</option><option value="OM"> Oman</option><option value="PK"> Pakistan</option><option value="PW"> Palau</option><option value="PS"> Palestine</option><option value="PA"> Panama</option><option value="PG"> Papua New Guinea</option><option value="PY"> Paraguay</option><option value="PE"> Peru</option><option value="PH"> Philippines</option><option value="PN"> Pitcairn Islands</option><option value="PL"> Poland</option><option value="PT"> Portugal</option><option value="PR"> Puerto Rico</option><option value="QA"> Qatar</option><option value="CG"> Republic of the Congo</option><option value="RO"> Romania</option><option value="RU"> Russia</option><option value="RW"> Rwanda</option><option value="RE"> Réunion</option><option value="BL"> Saint Barthélemy</option><option value="SH"> Saint Helena</option><option value="KN"> Saint Kitts and Nevis</option><option value="LC"> Saint Lucia</option><option value="MF"> Saint Martin</option><option value="PM"> Saint Pierre and Miquelon</option><option value="VC"> Saint Vincent and the Grenadines</option><option value="WS"> Samoa</option><option value="SM"> San Marino</option><option value="SA"> Saudi Arabia</option><option value="SN"> Senegal</option><option value="RS"> Serbia</option><option value="SC"> Seychelles</option><option value="SL"> Sierra Leone</option><option value="SG"> Singapore</option><option value="SX"> Sint Maarten</option><option value="SK"> Slovakia</option><option value="SI"> Slovenia</option><option value="SB"> Solomon Islands</option><option value="SO"> Somalia</option><option value="ZA"> South Africa</option><option value="GS"> South Georgia and the South Sandwich Islands</option><option value="KR"> South Korea</option><option value="SS"> South Sudan</option><option value="ES"> Spain</option><option value="LK"> Sri Lanka</option><option value="SD"> Sudan</option><option value="SR"> Suriname</option><option value="SJ"> Svalbard and Jan Mayen</option><option value="SZ"> Swaziland</option><option value="SE"> Sweden</option><option value="CH"> Switzerland</option><option value="SY"> Syria</option><option value="ST"> São Tomé and Príncipe</option><option value="TW"> Taiwan</option><option value="TJ"> Tajikistan</option><option value="TZ"> Tanzania</option><option value="TH"> Thailand</option><option value="TG"> Togo</option><option value="TK"> Tokelau</option><option value="TO"> Tonga</option><option value="TT"> Trinidad and Tobago</option><option value="TN"> Tunisia</option><option value="TR"> Turkey</option><option value="TM"> Turkmenistan</option><option value="TC"> Turks and Caicos Islands</option><option value="TV"> Tuvalu</option><option value="UM"> U.S. Minor Outlying Islands</option><option value="VI"> U.S. Virgin Islands</option><option value="UG"> Uganda</option><option value="UA"> Ukraine</option><option value="AE"> United Arab Emirates</option><option value="GB"> United Kingdom</option><option value="US"> United States</option><option value="UY"> Uruguay</option><option value="UZ"> Uzbekistan</option><option value="VU"> Vanuatu</option><option value="VA"> Vatican City</option><option value="VE"> Venezuela</option><option value="VN"> Vietnam</option><option value="WF"> Wallis and Futuna</option><option value="EH"> Western Sahara</option><option value="YE"> Yemen</option><option value="ZM"> Zambia</option><option value="ZW"> Zimbabwe</option><option value="AX"> Åland</option></select>
						  </div>
						  <div class="form-group">
						    <label for="nombreTC">Tarjeta de crédito</label>
						    <input type="text" class="form-control" data-conekta="card[number]" id="nombreTC" placeholder="Número de tarjeta de crédito">
						  </div>
						  <div class="form-group">
						  					<div class="row">
						  						<div class="col-md-12">
													<label for="street1">Fecha de expiración</label>
												</div>
											</div>
											<div class="row">
											<label class="col-md-3 control-label text-right">Mes</label>
											<input type="hidden" id="inputMonth" name="card[exp_month]" data-conekta="card[exp_month]" value=""/>
											<input type="hidden" id="inputYear" name="card[exp_year]" data-conekta="card[exp_year]" value=""/>
											<div class="col-md-3">
													<select id="cardmonth" class="form-control">
														<?php for($i=0;$i<12;$i++){?>
															<option value="<?php echo ($i<9)?"0".($i+1):$i+1;?>"><?php echo ($i<9)?"0".($i+1):$i+1;?></option>
														<?php }?>
													</select>
											</div>
											<label class="col-md-3 control-label text-right">Año</label>
											<div class="col-md-3">
											<select id="cardyear" class="form-control">
												<?php  $year=(int)date("Y");
														for($i=$year;$i<($year+11);$i++){?>
													<option style="padding-left:40px;" value="<?php echo $i;?>">
														<?php echo $i;?>
													</option>
												<?php }?>
											</select>
											</div>
											</div>
						  </div>
						  <div class="row">
							  <div class="form-group">
							  	<div class="col-md-3 ">
							  	<br>
							    <label for="cvc">Código CVC</label>
							    </div>
							    <div class="col-md-4">
							    <br>
							    <input type="text" class="form-control" data-conekta="card[cvc]" id="cvc" placeholder="Solo números">
							    <input type="hidden" data-conekta="amount" id="amount" value="<?php echo round(($this->Boleta->getQuiniela()->getPrecioBoleta())*100);?>">
							    <input type="hidden" data-conekta="currency" id="currency" value="MXN">
							    <input type="hidden" data-conekta="description"	id="description" value="Boleta # <?php echo $this->Boleta->getId(); ?> Quiniela <?php echo $this->Boleta->getQuiniela()->getId(); ?>">
							    <input type="hidden" data-conekta="reference_id"	id="referencia" value="boleta-<?php echo $this->Boleta->getId();?>#quiniela-<?php echo $this->Boleta->getQuiniela()->getId(); ?>">
							    </div>
							  </div>
						  </div>
						  <div class="row">
						  	<div class="col-md-12">
						  		<div id="errorMessage" class="text-center alert alert-danger" style="display:none;margin-top:20px;"></div>
						  	</div>
						  </div>
						  <div class="text-center" >
						  <hr>
						  <p style="font-size:18px;color:#0b0;font-weight: bold;">Precio de la boleta:<span style="font-size:22px;"> <?php echo $this->moneda(($this->Boleta->getQuiniela()->getPrecioBoleta()));?> </span></p>
						  <button id="btnProcesarPagoTC" type="submit" class="btn btn-success btn-lg" style="width: 80%;margin-top:20px;" ><i class="fa fa-credit-card"></i> Pagar</button>
						  </div>
						</form>
					  </div>
					</div>
			  </div><!-- Fin tarjeta de credito -->
			  <div class="tab-pane fade" id="OXXO">
			  	<div class="panel panel-default">
					  <div class="panel-body">
					  	<form role="form" name="paymentFormOXXO" id="paymentFormOXXO" method="post">
					  		<input type="hidden" data-conekta="amount" id="amount" value="<?php echo round(($this->Boleta->getQuiniela()->getPrecioBoleta())*100);?>">
							<input type="hidden" data-conekta="currency" id="currency" value="MXN">
							<input type="hidden" data-conekta="description"	id="description" value="Boleta # <?php echo $this->Boleta->getId(); ?> Quiniela <?php echo $this->Boleta->getQuiniela()->getId(); ?>">
							<input type="hidden" data-conekta="reference_id"	id="referencia" value="boleta-<?php echo $this->Boleta->getId();?>#quiniela-<?php echo $this->Boleta->getQuiniela()->getId(); ?>">
							<input type="hidden" data-conekta="cash[type]" value="oxxo" >
							<input type="hidden" name="boleta" value="<?php echo $this->Boleta->getId();?>">
							<div class="row">
								<div class="col-md-12">
									<p class="alert alert-warning" style="text-align: justify;">
									Recuerda que al generar tu boleta de pago en OXXO deberás imprimir el codigo de
									barras que te daremos y realizar tu pago, una vez realizado
									el depósito en la tienda lo validaremos en las 24 horas siguientes.
									</p>
								</div>
							</div>
								<div class="row">
								  	<div class="col-md-12">
								  		<div id="errorMessageOxxo" class="text-center alert alert-danger" style="display:none;margin-top:20px;"></div>
								  	</div>
							  </div>
							<div class="row">
							  <hr>
							  <p class="text-center" style="font-size:18px;color:#0b0;font-weight: bold;">Precio de la boleta:<span style="font-size:22px;"> <?php echo $this->moneda(($this->Boleta->getQuiniela()->getPrecioBoleta()));?> </span></p>
								<div class="col-md-10 col-md-offset-1">
									<input type="submit" id="btnProcesarPagoOXXO" class="btn btn-success btn-lg btn-block" value="Generar código de barras OXXO" > 
								</div>
							</div>
					  	</form>
					  </div>
				</div>
			  </div><!-- fin oXXo -->
			 
			</div>
		</div>
		
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-body text-center">
       		<div >
	  			<div style="margin-top:50px;margin-bottom:50px;">
	  			<h3>Espera un momento<br> el pago se esta procesando.</h3>
	  			<img src="/img/loadingendaroo.gif" width="50" height="50" style="vertical-align: top;margin-top:25px;"/>
	  			</div>
  			</div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.0/js/conekta.js"></script>
<script>
$(document).ready(function() {
	Conekta.setPublishableKey('<?php echo $this->conektapublic;?>');
});
</script>
<script type="text/javascript" src="/js/app/boleta.payment.js"></script>

