
<style type="text/css">ol{margin:0;padding:0}.c1{vertical-align:top;width:20.2pt;border-style:solid;border-color:#000000;
border-width:0pt;padding:5pt 5pt 5pt 5pt}.c5{vertical-align:top;width:374.2pt;border-style:solid;border-color:#000000;
border-width:0pt;padding:5pt 5pt 5pt 5pt}.c3{color:#515559;font-size:9pt;background-color:#ffffff;font-family:"Verdana";
text-decoration:underline;font-weight:bold}.c14{color:#6aa84f;font-size:9pt;background-color:#ffffff;font-family:"Verdana"}
.c4{color:#515559;font-size:9pt;background-color:#ffffff;font-family:"Verdana"}.c11{font-size:27pt;background-color:#ffffff;
font-family:"Arial"}.c10{padding-top:4pt;text-align:center;direction:ltr}.c0{padding-top:4pt;text-align:justify;direction:ltr}
.c12{margin-right:auto;border-collapse:collapse}.c6{max-width:468pt;background-color:#ffffff;padding:72pt 72pt 72pt 72pt}
.c13{direction:ltr;page-break-after:avoid}.c15{direction:ltr}.c7{font-weight:bold}.c9{height:26pt}.c8{font-style:italic}
.c2{height:11pt}.title{widows:2;padding-top:0pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:21pt;
font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}.subtitle{widows:2;padding-top:0pt;line-height:1.15;
orphans:2;text-align:left;color:#666666;font-style:italic;font-size:13pt;font-family:"Trebuchet MS";padding-bottom:10pt;
page-break-after:avoid}li{color:#000000;font-size:11pt;font-family:"Arial"}p{color:#000000;font-size:11pt;margin:0;
font-family:"Arial"}h2{widows:2;padding-top:10pt;line-height:1.15;
orphans:2;text-align:left;color:#000000;font-size:13pt;font-family:"Trebuchet MS";font-weight:bold;padding-bottom:0pt;
page-break-after:avoid}h3{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:12pt;
font-family:"Trebuchet MS";font-weight:bold;padding-bottom:0pt;page-break-after:avoid}h4{widows:2;padding-top:8pt;
line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:11pt;text-decoration:underline;font-family:"Trebuchet MS";
padding-bottom:0pt;page-break-after:avoid}h5{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;
color:#666666;font-size:11pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h6{widows:2;
padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-style:italic;font-size:11pt;
font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}</style>
<h1>Aviso de privacidad</h1><p class="c0">
<span class="c4 c7">I. IDENTIDAD Y DOMICILIO DEL RESPONSABLE.</span><span class="c4">&nbsp;
El presente Aviso de Privacidad (en lo sucesivo referido como &ldquo;Aviso&rdquo;) establece los t&eacute;rminos 
y condiciones en virtud de los cuales JESUS ARRIAGA BARRON (en adelante &ldquo;Megaquinielabrasil2014&rdquo;)
 con domicilio en calle Xochicalco 30 colonia Narvarte delegacion Cuauhtemoc, c.p. 03000 M&eacute;xico, D.F.; 
 en su car&aacute;cter de Responsable tratar&aacute; los datos personales del Titular.</span></p><p class="c0">
 <span class="c4">&nbsp;</span></p><p class="c0"><span class="c4 c7">II. CONSENTIMIENTO DEL TITULAR.</span>
 <span class="c4">&nbsp;Para efectos de lo dispuesto en la Ley Federal de Protecci&oacute;n de 
 Datos Personales en Posesi&oacute;n de los Particulares y dem&aacute;s legislaci&oacute;n aplicable, 
 el Titular manifiesta (i) que el presente Aviso le ha sido dado a conocer por el Responsable en tiempo y forma, (ii)
  haber le&iacute;do, entendido y acordado los t&eacute;rminos expuestos en este Aviso de privacidad a entera 
  satisfacci&oacute;n, por lo que otorga su consentimiento respecto del tratamiento de sus datos personales 
  recabados por el responsable. En caso de que los datos personales recopilados incluyan datos patrimoniales o 
  financieros, mediante la firma del contrato correspondiente, sea en formato impreso, o utilizando medios 
  electr&oacute;nicos y sus correspondientes procesos para la formaci&oacute;n del consentimiento, 
  se llevar&aacute;n a cabo actos que constituyen el consentimiento expreso del titular y (iii) 
  que otorga su consentimiento para que Megaquinielabrasil2014 y sus Encargados realicen transferencias
   y/o remisiones de datos personales en t&eacute;rminos del apartado V del presente Aviso.</span></p>
   <p class="c0"><span class="c4">&nbsp;</span></p><p class="c0"><span class="c4 c7">III. DATOS PERSONALES QUE RECABAMOS.
   </span><span class="c4">&nbsp;Megaquinielabrasil2014 puede recolectar datos personales del Titular mediante la 
   entrega directa y/o personal por cualquier medio de contacto entre el Titular y el Responsable o sus Encargados.</span>
   </p><p class="c0"><span class="c4">Megaquinielabrasil2014 recaba datos personales de identificaci&oacute;n y/o 
   financieros, as&iacute; como datos relacionados con la prestaci&oacute;n de los servicios de mediaci&oacute;n y datos referentes 
   al acceso y/o uso de dichos servicios.</span></p><p class="c0"><span class="c4">&nbsp;</span></p><p class="c0">
   <span class="c4 c7">IV. FINALIDAD DE LOS DATOS PERSONALES.</span><span class="c3">&nbsp;</span><span class="c4">
   FINALIDAD PRIMARIA: </span><span class="c4">Megaquinielabrasil2014</span>
   <span class="c4">&nbsp;tratar&aacute; los datos personales del Titular con la finalidad de llevar a cabo 
   las actividades y gestiones enfocadas al cumplimiento de las obligaciones originadas y derivadas de cualquier 
   relaci&oacute;n jur&iacute;dica y comercial que establezcamos con motivo de la prestaci&oacute;n de nuestros 
   servicios; facturaci&oacute;n; cobranza; cr&eacute;dito; atenci&oacute;n a clientes; servicio t&eacute;cnico;
    otorgamiento de garant&iacute;as; gesti&oacute;n de servicios de valor agregado y contenidos; reciclaje de 
    terminales; administraci&oacute;n de aplicaciones y sitios Web; contacto con el cliente, con la fuerza de ventas
     y distribuidores; y proporcionar, renovar, cambiar o cancelar los servicios que nos solicita el Titular.</span>
     </p><p class="c0"><span class="c4">&nbsp;</span></p><p class="c0"><span class="c4">FINALIDAD SECUNDARIA: Asimismo,
      Megaquinielabrasil2014 tratar&aacute; datos personales para otras finalidades como enviar notificaci&oacute;n de
       ofertas, avisos y/o mensajes promocionales; comunicaciones con fines de mercadotecnia, publicitarios o telemarketing 
       sobre productos y servicios nuevos o existentes; realizar encuestas; estad&iacute;sticas; estudios de mercado, sobre
        h&aacute;bitos de consumo, intereses y comportamiento; realizar programas de beneficios e incentivos; participar en
         redes sociales, chats y/o foros de discusi&oacute;n; participar en eventos, trivias, concursos, rifas, juegos y
          sorteos; evaluar la calidad de los servicios; y en general para cualquier actividad encaminada a promover, 
          mantener, mejorar y evaluar nuestros productos y servicios.</span></p><p class="c0 c2"><span class="c4"></span>
          </p><p class="c0"><span class="c4">Puede oponerse al tratamiento de sus datos para las finalidades secundarias
           en cualquier momento a trav&eacute;s de los medios que hemos puesto a su disposici&oacute;n para el ejercicio de 
           sus derechos ARCO. En caso de no oponerse al tratamiento de sus datos personales para las finalidades secundarias 
          en un plazo de cinco d&iacute;as h&aacute;biles posteriores a que sus datos fueron recabados, se entender&aacute; que ha otorgado su consentimiento.</span></p>
<p class="c0"><span class="c4">&nbsp;</span></p><p class="c0"><span class="c4 c7">V. TRANSFERENCIAS Y/O REMISIONES DE DATOS.
</span><span class="c4">&nbsp;Megaquinielabrasil2014 requiere compartir los datos personales del Titular con el objeto de dar
cumplimiento a sus obligaciones jur&iacute;dicas y/o comerciales, para lo cual ha celebrado o celebrar&aacute; diversos 
acuerdos comerciales tanto en territorio nacional como en el extranjero. Los receptores de los datos personales,
 est&aacute;n obligados por virtud del contrato correspondiente, a mantener la confidencialidad de los datos personales
suministrados por Megaquinielabrasil2014 y a observar el presente Aviso. Megaquinielabrasil2014 y/o sus Encargados 
podr&aacute;n transferir los datos personales recolectados del Titular a cualquier otra sociedad del mismo grupo empresarial 
al que pertenezca el Responsable y que operen con los mismos procesos y pol&iacute;ticas internas, sea que se encuentren en 
territorio nacional o en el extranjero para su tratamiento con las mismas finalidades descritas en este Aviso.</span></p>
<p class="c0 c2"><span class="c4"></span></p><p class="c0"><span class="c4">Su informaci&oacute;n personal puede 
transferirse, almacenarse y procesarse en un pa&iacute;s distinto de donde se proporcion&oacute;. S&iacute; lo hacemos,
transferimos la informaci&oacute;n de conformidad con las leyes de protecci&oacute;n de la informaci&oacute;n aplicables. 
Tomamos medidas para proteger la informaci&oacute;n personal sin importar el pa&iacute;s donde se almacena o a donde se 
transfiere. Tenemos procedimientos y controles oportunos para procurar esta protecci&oacute;n.</span></p><p class="c0">
<span class="c4">&nbsp;</span></p><p class="c0"><span class="c4 c7">VI. PROCEDIMIENTO PARA EJERCER LOS DERECHOS ARCO Y 
REVOCACI&Oacute;N DEL CONSENTIMIENTO.</span><span class="c4">&nbsp;</span><span class="c4">El Titular tiene, en todo momento, 
derecho de acceder, rectificar y cancelar sus datos, as&iacute; como de oponerse al tratamiento de los mismos o revocar 
el consentimiento que para tal fin haya proporcionado presentando una solicitud en el formato que para tal fin le 
entregaremos a petici&oacute;n expresa del titular, misma que debe contener la informaci&oacute;n y documentaci&oacute;n 
siguiente:</span></p><p class="c0"><span class="c4">&nbsp;</span></p><p class="c0"><span class="c4">
i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nombre del Titular y domicilio u otro medio para comunicarle la respuesta 
a su solicitud;</span></p><p class="c0"><span class="c4">ii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Los documentos 
que acrediten su identidad (copia simple en formato impreso o electr&oacute;nico de su credencial de elector, pasaporte o 
FM-3) o, en su caso, la representaci&oacute;n legal del Titular (copia simple en formato impreso o electr&oacute;nico de la 
carta poder simple con firma aut&oacute;grafa del Titular, el mandatario y sus correspondientes identificaciones 
oficiales &ndash; credencial de elector, pasaporte o FM-3);</span></p><p class="c0"><span class="c4">iii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La descripci&oacute;n 
clara y precisa de los datos personales respecto de los que busca ejercer alguno de los Derechos ARCO, y</span></p>
<p class="c0"><span class="c4">iv)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cualquier otro elemento o documento que 
facilite la localizaci&oacute;n de los datos personales del Titular.</span></p><p class="c0"><span class="c4 c8">&nbsp;</span>
</p><p class="c0"><span class="c4">En el caso de las solicitudes de rectificaci&oacute;n de datos personales, el Titular 
deber&aacute; tambi&eacute;n indicar las modificaciones a realizarse y aportar la documentaci&oacute;n que sustente su 
petici&oacute;n.</span></p><p class="c0 c2"><span class="c4"></span></p><p class="c0"><span class="c4">Para dar cumplimiento 
a la obligaci&oacute;n de acceso a sus datos personales, se har&aacute; previa acreditaci&oacute;n de la identidad del 
titular o personalidad del representante; poniendo la informaci&oacute;n a disposici&oacute;n en sitio ya en el domicilio 
del Responsable. Se podr&aacute; acordar otro medio entre el Titular y el Responsable siempre que la informaci&oacute;n 
solicitada as&iacute; lo permita.</span></p><p class="c0 c2"><span class="c4"></span></p><p class="c0"><span class="c4">
Para la petici&oacute;n del formato, recepci&oacute;n, registro, atenci&oacute;n y respuesta de las solicitudes para ejercer 
sus derechos ARCO, la revocaci&oacute;n de su consentimiento y los dem&aacute;s derechos previstos en la LFPDP ponemos a su 
disposici&oacute;n los siguientes medios:</span></p><p class="c0 c2"><span class="c4"></span></p><a href="#" 
name="c155a22d4dbf65965a3b506ebc089ade78da5895"></a><a href="#" name="0"></a><table cellpadding="0" cellspacing="0" 
class="c12"><tbody><tr class="c9"><td class="c5"><p class="c10 c2"><span class="c4"></span></p></td><td class="c1">
<p class="c10 c2"><span class="c4"></span></p></td></tr><tr><td class="c5"><p class="c10"><span class="c4">
cancelacion@megaquinielabrasil2014.com</span></p></td><td class="c1"><p class="c2 c10"><span class="c4"></span></p>
</td></tr><tr><td class="c5"><p class="c10 c2"><span class="c4"></span></p></td><td class="c1"><p class="c10 c2">
<span class="c4"></span></p></td></tr></tbody></table><p class="c0 c2"><span class="c4"></span></p><p class="c0">
<span class="c4">En caso de que la informaci&oacute;n proporcionada en su formato de solicitud sea err&oacute;nea o 
insuficiente, o bien, no se acompa&ntilde;en los documentos de acreditaci&oacute;n correspondientes, podremos solicitarle, 
dentro de los cinco d&iacute;as h&aacute;biles siguientes a la recepci&oacute;n de la solicitud, que aporte los elementos 
o documentos necesarios para dar tr&aacute;mite a la misma. El Titular contar&aacute; con diez d&iacute;as h&aacute;biles 
para atender el requerimiento, contados a partir del d&iacute;a siguiente en que lo haya recibido. De no dar respuesta en 
dicho plazo, se tendr&aacute; por no presentada la solicitud correspondiente.</span></p><p class="c0 c2"><span class="c4">
</span></p><p class="c0"><span class="c4">Megaquinielabrasil2014 o sus Encargados le responder&aacute;n al Titular 
respectivo en un plazo m&aacute;ximo de veinte d&iacute;as h&aacute;biles, contados desde la fecha en que se recibi&oacute; 
la solicitud a efecto de que, si resulta procedente, El Responsable haga efectiva la misma dentro de los quince 
d&iacute;as h&aacute;biles siguientes a que se comunique la respuesta. En todos los casos, la respuesta se dar&aacute; 
por la misma v&iacute;a por la que haya presentado su solicitud o en su caso por cualquier otro medio acordado con el 
Titular. Los plazos antes referidos podr&aacute;n ser ampliados en t&eacute;rminos de la LFPDP.</span></p><p class="c0">
<span class="c4">&nbsp;</span></p><p class="c0"><span class="c4 c7">VII. LIMITACI&Oacute;N DE USO Y DIVULGACI&Oacute;N DE 
LA INFORMACI&Oacute;N.</span><span class="c4">&nbsp;</span><span class="c4">El Responsable y/o sus Encargados 
conservar&aacute;n los datos personales del Titular durante el tiempo que sea necesario para procesar sus solicitudes 
de informaci&oacute;n, productos y/o servicios, as&iacute; como para mantener los registros contables, financieros y de 
auditoria en t&eacute;rminos de la LFPDP y de la legislaci&oacute;n mercantil, fiscal y administrativa vigente. 
Adem&aacute;s de controlar la divulgaci&oacute;n de dichos datos o informaci&oacute;n de socios comerciales.</span></p>
<p class="c0 c2"><span class="c4"></span></p><p class="c0"><span class="c4">Los datos personales recolectados se 
encontrar&aacute;n protegidos por medidas de seguridad administrativas, t&eacute;cnicas y f&iacute;sicas adecuadas 
contra el da&ntilde;o, p&eacute;rdida, alteraci&oacute;n, destrucci&oacute;n o uso, acceso o tratamiento no autorizados, 
de conformidad con lo dispuesto en la LFPDP y la dem&aacute;s legislaci&oacute;n aplicable. No obstante lo se&ntilde;alado 
anteriormente, Megaquinielabrasil2014 no garantiza que terceros no autorizados no puedan tener acceso a los 
sistemas f&iacute;sicos o l&oacute;gicos de los Titulares o del Responsable o en los documentos electr&oacute;nicos 
y archivos almacenados en sus sistemas. En consecuencia, Megaquinielabrasil2014 no ser&aacute; en ning&uacute;n caso 
responsable de los da&ntilde;os y perjuicios que pudieran derivarse de dicho acceso no autorizado.</span></p>
<p class="c0 c2"><span class="c4"></span></p><p class="c0"><span class="c4">Usted o su representante legal debidamente 
acreditado podr&aacute;n limitar el uso o divulgaci&oacute;n de sus datos personales a trav&eacute;s de los mismos medios 
y procedimientos dispuestos para el ejercicio de los Derechos ARCO. Una vez que su solicitud resulte procedente, 
ser&aacute; registrado en el listado de exclusi&oacute;n dispuesto por Megaquinielabrasil2014 con la finalidad de que el 
Titular deje de recibir informaci&oacute;n relativa a campa&ntilde;as publicitarias o de mercadotecnia.</span></p>
<p class="c0 c2"><span class="c4"></span></p><p class="c0"><span class="c4">En caso de que usted considere que 
Megaquinielabrasil2014 ha vulnerado su derecho a la protecci&oacute;n de sus datos personales, usted tiene el 
derecho de acudir al Instituto Federal de Acceso a la Informaci&oacute;n y Protecci&oacute;n de Datos (&ldquo;IFAI&rdquo;).
</span></p><p class="c0"><span class="c4">&nbsp;</span></p><p class="c0"><span class="c4 c7">VIII. RECOLECCI&Oacute;N 
DE DATOS AL NAVEGAR EN SITIOS Y P&Aacute;GINAS WEB DE Megaquinielabrasil2014.</span><span class="c4">&nbsp;
Megaquinielabrasil2014 puede recabar datos a trav&eacute;s de sus sitios Web, o mediante el uso de herramientas de 
captura autom&aacute;tica de datos. Dichas herramientas le permiten recolectar la informaci&oacute;n que env&iacute;a 
su navegador a dichos sitios Web, tales como el tipo de navegador que utiliza, el idioma de usuario, los tiempos de acceso, 
y la direcci&oacute;n IP de sitios Web que utiliz&oacute; para acceder a los sitios del Responsable o sus Encargados.
</span></p><p class="c0 c2"><span class="c4"></span></p><p class="c0"><span class="c4">Dentro de las herramientas de 
captura autom&aacute;tica de datos utilizadas por Megaquinielabrasil2014 en sus sitios y p&aacute;ginas web se encuentran 
las cookies, los Web beacons, y los enlaces en los correos electr&oacute;nicos.</span></p><p class="c0 c2"><span class="c4">
</span></p><p class="c0"><span class="c4 c8">Uso de Cookies.- </span><span class="c4">El correcto funcionamiento de los 
sitios de Megaquinielabrasil2014 requieren de la habilitaci&oacute;n de &ldquo;cookies&rdquo; en su navegador de Internet. 
Las &quot;cookies&quot; son peque&ntilde;os archivos de datos transferidos por el sitio Web al disco duro de su computadora 
cuando navega por el sitio. En la mayor&iacute;a de los navegadores las cookies se aceptan autom&aacute;ticamente en virtud 
de su configuraci&oacute;n predeterminada, usted puede ajustar las preferencias de su navegador para aceptar o rechazar 
las cookies. La desactivaci&oacute;n de las cookies puede inhabilitar diversas funciones de los sitios web de 
Megaquinielabrasil2014 o que no se muestren correctamente. En caso de que usted prefiera eliminar las cookies, 
usted puede eliminar el archivo al final de cada sesi&oacute;n del explorador.</span></p><p class="c0 c2"><span class="c4">
</span></p><p class="c0"><span class="c4 c8">Uso de Web beacons.- </span><span class="c4">Tambi&eacute;n conocidos como 
etiquetas de Internet, etiquetas de p&iacute;xel y clear GIFs).- Megaquinielabrasil2014 puede utilizar en su sitios web y 
en sus correos electr&oacute;nicos con formato HTML los Web beacons, solos o en combinaci&oacute;n con las cookies, 
para recopilar informaci&oacute;n sobre el uso de los sitios web y su interacci&oacute;n con el correo electr&oacute;nico. 
El Web beacon es una imagen electr&oacute;nica, llamada de un solo p&iacute;xel (1x1) o GIF que puede reconocer 
informaci&oacute;n que es procesada en su computadora, como el caso de las cookies, la hora y fecha en que el sitio 
y sus secciones son visualizados.</span></p><p class="c0 c2"><span class="c4"></span></p><p class="c0"><span class="c4 c8">
V&iacute;nculos en los correos electr&oacute;nicos de Megaquinielabrasil2014.- </span><span class="c4">Los correos 
electr&oacute;nicos que incluyen v&iacute;nculos que permiten a Megaquinielabrasil2014 saber si usted activ&oacute; 
dicho v&iacute;nculo y visit&oacute; la p&aacute;gina web de destino, pudiendo esta informaci&oacute;n ser incluida en su 
perfil. Los correos electr&oacute;nicos de Megaquinielabrasil2014 pueden incluir v&iacute;nculos dise&ntilde;ados para 
dirigirlo a las secciones relevantes de los sitios Web, al re-direccionarlo a trav&eacute;s de los servidores de 
Megaquinielabrasil2014. El sistema de re-direccionamiento permite a determinar la eficacia de sus campa&ntilde;as de 
marketing en l&iacute;nea.</span></p><p class="c0 c2"><span class="c4"></span></p><p class="c0"><span class="c4 c8">
Protecci&oacute;n a menores, a personas en estado de interdicci&oacute;n o incapacidad</span><span class="c4 c7">: </span>
<span class="c4">Megaquinielabrasil2014</span><span class="c4">&nbsp;alienta a los padres y/o tutores a tomar un papel 
activo en las actividades en l&iacute;nea de sus hijos o representados. En caso de que Megaquinielabrasil2014 considere 
que los datos personales han sido proporcionados por un menor o por una persona en estado de interdicci&oacute;n o 
incapacidad, en contravenci&oacute;n al presente Aviso, Megaquinielabrasil2014 proceder&aacute; a eliminar tales datos 
personales a la brevedad. Si usted se da cuenta que tales datos personales han sido proporcionados por un menor de edad o 
por una persona en estado de interdicci&oacute;n o incapacidad, por favor env&iacute;e un correo electr&oacute;nico a la 
direcci&oacute;n: cancelacion@megaquinielabrasil2014.com</span></p><p class="c0"><span class="c4">&nbsp;</span></p>
<p class="c0"><span class="c4 c7">IX. CAMBIOS AL AVISO.</span><span class="c4">&nbsp;Megaquinielabrasil2014 se reserva 
el derecho de actualizar peri&oacute;dicamente el presente Aviso para reflejar los cambios en nuestras pr&aacute;cticas 
de informaci&oacute;n. Es responsabilidad del Titular revisar el contenido del Aviso en el sitio &nbsp;</span><span 
class="c14">http://www.megaquinielabrasil2014.com.mx/index/aviso-de-privacidad</span><span class="c4">&nbsp;El Responsable 
entender&aacute; que de no expresar lo contrario, significa que el Titular ha le&iacute;do, entendido y acordado 
los t&eacute;rminos ah&iacute; expuestos, lo que constituye su consentimiento a los cambios y/o actualizaciones respecto 
al tratamiento de sus datos personales.</span></p><p class="c2 c15"><span></span></p>