<?php 
$uri = $this->serverUrl(true);
$url = parse_url($uri);
$url = "http://".$url["host"];

$descripcion="¿Qué tanto sabes de futbol? entra a MegaQuinielaBrasil2014 y demuestra si sabes más que yo, llévate la bolsa acumulada";
$this->headMeta()->setProperty('og:title', 'Mega Quiniela Brasil 2014');
$this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url', $url);
$this->headMeta()->setProperty('og:image', 'http://www.megaquinielabrasil2014.com/img/logomega.png');
$this->headMeta()->setProperty('og:description',$descripcion );
$this->headMeta()->setProperty('fb:admins', '1112151402,1081445886');
$this->headMeta()->setProperty('fb:app_id', '459971164102563');
$this->headMeta()->setProperty('og:site_name', 'Mega Quiniela Brasil 2014');
//require_once('/home/azteca/workspace/blogmegaquinielas/wp-blog-header.php');

?>

<div class="row">
	<div class="col-md-9 col-xs-12">
		<div class="row">
			
		</div>
		
		
		
		
	
		<h1 class="text-gray hidden-xs">Las últimas Quinielas <i class="fa fa-pencil-square-o"></i><a href="/index/todas-las-quinielas" class="pull-right btn btn-lg btn-default" role="button">Ver todas las quinielas <i class="fa fa-group"></i></a></h1>
		<h3 class="text-gray visible-xs">Las últimas Quinielas <i class="fa fa-pencil-square-o"></i><a href="/index/todas-las-quinielas" class="pull-right btn btn-default" role="button">Ver todas las quinielas <i class="fa fa-group"></i></a></h3>
		<?php if(count($this->quinielas)>0){?>				
				<div class="row">
					<?php foreach($this->quinielas as $quiniela):?>
						  <div class="col-sm-6 col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-0 col-sm-offset-0">
							    <div class="thumbnail tamanio2">
							    	 <a href="/quiniela/<?php echo $quiniela["idquiniela"]; ?>">
								        <div class="caption">
							        	<h5 class="text-center" style="font-weight: bold;">
							        		<img src="http://graph.facebook.com/<?php echo $quiniela['idFacebook']; ?>/picture?width=40&height=40&type=square" class="img-circle"/> 
							        		<?php 
							        		$t=ucwords(strtolower($quiniela['titulo']));
							        		if(strlen($t)>30)
							        			$t=substr($t, 0,30);
							        		echo  $t; ?>
							        	</h5>
										    <div class="text-center">
										    	<div style="margin:0 auto;width: 200px;color:#0a0;">
											   		<img src="/img/icons/bagofmoney.png" style="width: 28px;height: auto;vertical-align: bottom ;"><span style="font-size:18px;vertical-align: bottom;"><?php echo $quiniela['premio']; ?></span>
											   </div>
										    </div>
										    <div class="infoQuiniela2">	
											    <p>
													<i class="fa fa-users fa-lg"></i> 
													Participantes <span class="pull-right"><?php echo ($quiniela['participantes']); ?></span>
												</p>
												<p>										    
												    <i class="fa fa-list-alt fa-lg"></i> 
												    Boletas totales <span class="pull-right"><?php echo $quiniela['boletas']; ?></span>
											    </p>
											    <p>
												    <i class="fa fa-trophy fa-lg"></i> 
												    Número de partidos <span class="pull-right"><?php echo $quiniela['partidos'];?></span>
												</p>
												<p>
												    <i class="fa fa-user fa-lg"></i> 
												   Por <span class="pull-right"><?php echo $quiniela['nombreUsuario'];?></span>
												</p>
												<p class="text-center" style="margin:10px 0px 0px;">
											    	Costo x Quiniela:
											    </p>
											    <div class="bg-verdeson text-center" style="width: 100%;padding: 5px;font-weight:bold;color:#fff;">
											    	<i class="fa fa-money"></i> <?php echo $quiniela['precio'];?>
											    </div>
										    </div>
										    <?php switch($quiniela['status']){
										    			case 1:?>
										     <div class="<?php echo ($quiniela['tipo'])?'priceThumbBlue':'priceThumbHigh'; ?>">
													<?php echo ($quiniela['tipo'])?'<i class="fa fa-unlock"></i> Pública': '<i class="fa fa-lock"></i> Privada';?>
											 </div>
											 		<?php break;
														case 0:?>
											<div class="priceThumbBlue" style="background-color: #FFEF35;color:#555;">
													<i class="fa fa-refresh"></i> En progreso
											 </div>
													<?php break;?>
											 
											 <?php }?>
						      		</div>
						      		</a>
							    </div>
						  </div>
					<?php endforeach;?>
				</div>
				<?php }?>
				
	</div>
	<link href='http://fonts.googleapis.com/css?family=Titan+One' rel='stylesheet' type='text/css'>
	<div class="col-md-3 col-xs-12">
		<div class="row">
			<div class="col-md12">
				<div style="position: relative; text-align: center">
				<div style="width: 100%;">
						<h2 class="text-center" style="font-family: 'Titan One', cursive;color: #FF003D;text-shadow: 1px 1px #555;">Faltan:</h2>
						<span class="text-center" id='trestante' style="font-family: 'Titan One', cursive;color: #FF003D;text-shadow: 1px 1px #555;font-size:22px;">
						</span>
					</div>
					<img src="/img/worldcup.png" class="img-responsive" style="margin: 0 auto;width: 100px;">
					
				</div>
			</div>
		</div>	
		<h3>Conéctate en Facebook</h3>
		<div class="fb-like" data-href="https://www.facebook.com/megaquinielas"  data-layout="standard" data-width="300" data-action="like" data-show-faces="false" data-share="false"></div>
	
		<h3 class="text-gray">Las mas Valiosas! <i class="fa fa-money"></i></h3>
		<?php if(count($this->quinielasMasLana)>0){?>				
				<div class="row">
					<?php foreach($this->quinielasMasLana as $quiniela):?>
						  <div class="col-sm-12 col-md-12 col-xs-12">
							    <div class="thumbnail" style="background-color:#E9E9E9;">
									<a href="/quiniela/<?php echo $quiniela["idquiniela"]; ?>">
								     <div class="caption">
							        	<h4 class="text-center" style="font-weight: bold;margin-top: 20px;margin-bottom:0px;">
							        		<span class="pull-left"><?php echo ($quiniela['tipo'])?'<i class="fa fa-unlock"></i>': '<i class="fa fa-lock"></i>';?></span><?php echo ucwords(strtolower($quiniela['titulo'])); ?> 
							        	</h4>
										    <!-- <div class="text-center">
										    	<div style="margin:0 auto;width: 120px;color:#0a0;">
											   		<img src="/img/icons/bagofmoney.png" style="width: 28px;height: auto;vertical-align: bottom ;"><span style="font-size:18px;vertical-align: bottom;"><?php echo $this->moneda($quiniela['premio']); ?></span>
											   </div>
										    </div>
										     -->
										    
										     <div class="masValiosas">
													<img src="/img/icons/bagofmoney.png" style="width: 20px;height: auto;vertical-align: top;margin-top:2px;"> <?php echo $quiniela['premio']; ?>
											 </div>
											
						      		</div>
						      		</a>
							    </div>
						  </div>
					<?php endforeach;?>
				</div>
				<?php }?>
		 
	</div>
</div>
<script src="/js/jquery.countdown.min.js"></script>
<script>
$(document).ready(function(){
	$('#trestante').countdown('2014/06/12 15:00', function(event) {
		var totalD = event.offset.totalDays;
	     $(this).html(event.strftime('<span>'+totalD+'</span>d<span> %-H</span>h<span> %-M</span>m<span> %-S</span>s'));
	   }).on('finish.countdown', function(event) {
		         
		   });
});
</script>
