<h1>Términos y condiciones</h1>
<div class="panel-body text-muted" style="font-size:16px;padding-top:30px;">
					<ol>
						<li>Para crear tu quiniela debes elegir entre los partidos disponibles proporcionados
						por la plataforma "mega quiniela brasil 2014".</li>
						<li>Puedes seleccionar uno de dos tipos de quinielas privada ("solo tú apruebas a las personas
						 que estarán en tu quiniela") ó publica ("toda persona que pague su boleta entra a tu quiniela").</li>
						 <li>Una boleta es una oportunidad de anotar los resultados de todos los partidos de una quiniela. </li>
						 <li>Tú designas el costo de cada "boleta" para tu quiniela, el costo por "boleta" será de al menos 100 pesos.</li>
						 <li>Cada participante o invitado, puede jugar con una o más boletas para la misma quiniela. </li>
						 <li>El monto recaudado será repartido de manera equitativa entre el o los ganadores de la quiniela.</li>
						 <li>El ganador es el que tenga más aciertos en la quiniela, 
						 si hay empate entre dos o más participantes se repartirá equitativamente el monto acumulado.</li>
						 <li>A cada monto del o los ganador(es) se les descontará un 20% de su monto para cubrir
						 gastos por el manejo y administración de la plataforma y medios de pago.</li>
						 <li>Al adquirir tu boleta, estas sujeto a las reglas y normas del sitio.</li>
						 <li>Una vez creada la quiniela, no podrá cancelarse.</li>
						 <li>Si por algún motivo o razon el pago de una boleta se cancela por el banco de su tarjeta de crédito, esta boleta
							se dará de baja automáticamente de nuestro sistema. así tambien el usuario será dado de baja de nuestro sistema, si 
							el usuario es el creador de la quiniela, el control de ella pasará al usuario mas antiguo dentro de la quiniela.</li>
						 <li>Todos los pagos para el(los) ganador(res) serán realizados mediante una cuenta paypal.</li>
						 <li>Se tomará como resultado válido el marcador final del tiempo regular(90 minutos de juego) de cada partido
						  y quedará excento los resultados de tiempos extras, gol de oro, gol de plata y penaltis.</li>
						 <li>Cualquier punto no previsto aquí, será evaluado y resuelto por mega quiniela brasil 2014.</li>
					</ol>
</div>