<div class="row">
	<div class="col-md-12">
		<h1 class="visible-sm visible-md visible-lg hidden-xs"> <i class="fa fa-users fa-lg"></i> Quinielas creadas por la comunidad:</h1>
		<h3 class="hidden-sm hidden-md hidden-lg visible-xs"> <i class="fa fa-users fa-lg"></i> Quinielas creadas por la comunidad:</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12" style="margin-top:30px;">
		<div class="row">
			<div class="col-md-12">
				<div id="thumbs" style="display: block;">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4" style="margin-bottom: 50px;">
				<div class="well well-large" style="background-color:#fafafa!important;">
					<button id="btnMaspubs" type="button" 
					class="btn btn-large  btn-block disabled" data-loading-text="Cargando..."
					style="padding: 20px 0 20px 0!important;">Cargar más</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
			var pag=1;

			function sp(){
				var req = $.ajax({
				    url : "/default/index/quinielasjson/?p="+pag,
				    type : "POST",
				    dataType : "json",
				    timeout : 10000,
				    success : function(json){
				    	if( pag >= json.paginas.pageCount){
				 			$("#btnMaspubs").parent().hide();
				 		}else{
				 			$("#btnMaspubs").parent().show();
				 		}
				 		var pubs = json.pubs;
				 		if(json.pubs.length!=0){
				 		for(var i=0;i<json.pubs.length;i++){
					 		var m="",tip="",x="";
							if(pubs[i].tipo){
								m="priceThumbBlue";
								tip="<i class=\"fa fa-unlock\"></i> Pública";
							}else{
								m="priceThumbHigh";
								tip="<i class=\"fa fa-lock\"></i> Privada";
							}

							if(pubs[i].status==0){
								x="style=\"background-color: #FFEF35;color:#555;\"";
								m="priceThumbBlue";
								tip="<i class=\"fa fa-unlock\"></i> Pública";
							}
	
							var nodo='	<div class="col-sm-6 col-md-3 col-xs-12 col-xs-offset-0 col-md-offset-0 col-sm-offset-0">'+
						    '<div class="thumbnail tamanio2" style="height:280px;">'+
						    '<a href="/quiniela/'+json.pubs[i].idquiniela+'">'+
							'<div class="caption">'+
						     '<h5 class="text-center" style="font-weight: bold;">'+
						     '<img src="http://graph.facebook.com/'+json.pubs[i].idFacebook+'/picture?width=40&height=40&type=square" class="img-circle"/>'+json.pubs[i].tituloS+ 
						     '</h5>'+
									   '<div class="text-center">'+
									    	'<div style="margin:0 auto;width: 200px;color:#0a0;">'+
										   		'<img src="/img/icons/bagofmoney.png" style="width: 28px;height: auto;vertical-align: bottom ;"><span style="font-size:18px;vertical-align: bottom;">'+json.pubs[i].premio+'</span>'+
										   '</div>'+
									    '</div>'+
									    '<div class="infoQuiniela2">'+	
										    '<p>'+
												'<i class="fa fa-users fa-lg"></i> '+ 
												'Participantes <span class="pull-right">'+json.pubs[i].participantes+'</span>'+
											'</p>'+
											'<p>'+										    
											    '<i class="fa fa-list-alt fa-lg"></i> '+ 
											    'Boletas totales <span class="pull-right">'+json.pubs[i].boletas+'</span>'+
										    '</p>'+
										    '<p>'+
											    '<i class="fa fa-trophy fa-lg"></i> '+ 
											    'Número de partidos <span class="pull-right">'+json.pubs[i].partidos+'</span>'+
											'</p>'+
										
											'<p class="text-center" style="margin:10px 0px 0px;">'+
										    	'Costo x Quiniela:'+
										    '</p>'+
										    '<div class="bg-verdeson text-center" style="width: 100%;padding: 5px;font-weight:bold;color:#fff;">'+
										    	'<i class="fa fa-money"></i> '+json.pubs[i].precio+
										    '</div>'+
									    '</div>'+
									     '<div class="'+m+'" '+x+'>'+
												tip+
										 '</div>'+
					      		'</div>'+
					      		'</a>'+
						    '</div>'+
					    '</div>';
	

				 			$('#thumbs').append(nodo);
					 	
				 		}//fin for
					 		$('#btnMaspubs').button('reset');
				 		}else{	
					 		$('#btnMaspubs').addClass('disabled');	}
				 		
				 		$('div .thumbnail').hover(function(event){
							var d = $(this).find('#extrainfo');
							d.show();
							 d.slideDown( "slow", function() {
								    // Animation complete.
								  });
							 event.preventDefault();
						},function(event){
							var d = $(this).find('#extrainfo');
							d.slideUp( "fast", function() {
							    // Animation complete.
							  });	
							 event.preventDefault();
							});
					    
				    }
				});
			};//fin de function


			sp();
			
			$("#btnMaspubs").click(function(){
					$(this).button('loading');
					pag++;
					sp();
				});
					 
		
		});
</script>