<div class="row">
		<div class="col-md-2 col-xs-6">
		<a class="botoncitoRef" href="/cuenta/control/">
			<div class="botoncito thumbnail">
				<span style="font-size:32px;"><i class="fa fa-group"></i></span>
				<div class="visible-md visible-lg hidden-xs">Mis Quinielas</div>
				<div class="hidden-md visible-xs" style="font-size: 12px;">Mis Quinielas</div>
			</div>
		</a>
		</div>
		<!-- Botoncito -->
		<div class="col-md-2 col-xs-6">
		<a class="botoncitoRef" href="/cuenta/control/nueva-quiniela/">
			<div class="botoncito thumbnail">
				<span style="font-size:32px;"><i class="fa fa-trophy"></i></span>
				<div class="visible-md visible-lg hidden-xs">Crea tu propia Quiniela</div>
				<div class="hidden-md visible-xs" style="font-size: 12px;">Crea tu propia Quiniela</div>
			</div>
		</a>
		</div>
		<!-- fin botoncito -->
		<div class="col-md-2 col-xs-6" >
		<a class="botoncitoRef" href="/cuenta/control/buscadorquinielas/">
			<div class="botoncito thumbnail">
				<span style="font-size:32px;"><i class="fa fa-search"></i> </span>
				<div class="visible-md visible-lg hidden-xs">Buscador de <br>Quinielas</div>
				<div class="hidden-md visible-xs" style="font-size: 12px;">Buscador de <br>Quinielas</div>
			</div>
		</a>
		</div>
		<div class="col-md-2 col-xs-6">
		<a class="botoncitoRef" href="/cuenta/control/mis-pagos">
			<div class="botoncito thumbnail">
				<span style="font-size:32px;"><i class="fa fa-credit-card"></i> </span>
				<div class="visible-md visible-lg hidden-xs">Mis Pagos</div>
				<div class="hidden-md visible-xs" style="font-size: 12px;">Mis Pagos</div>
			</div>
		</a>
		</div>

		
</div>