<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-editable.css" rel="stylesheet">

<div class="row">
	<div class="table-responsive">
		 <table class="table">
		 	<thead>
		 		<tr>
                	<th>#</th>
                	<th>Fecha - Hora</th>
                	<th></th>
                	<th>Local</th>
                	<th></th>
                	<th>Visita</th>
                	<th></th>
                	<th> Goles Local     </th>
                	<th> Goles visitante </th>
            	</tr>
		 	</thead>
		 	<tbody>
		 		<?php foreach($this->partido as $row) :?>
		 		<tr>
                	<td><?php echo $row->getId(); ?></td>
                	<td><?php echo $this->fecha($row->getFechaPartido(),'es_MX','medium');?></td>
                	<td><span class="flagsp <?php echo $row->getEscudoLocal(); ?>"></span></td>
                	<td><?php echo $row->getEquipoLocal();?></td>
                	<td> vs </td>
                	<td><?php echo $row->getEquipoVisita();?></td>
                	<td><span class="flagsp <?php echo $row->getEscudoVisita();?>"></span></td>
                	<td>
                		<a href="#" id="local_<?php echo $row->getId(); ?>" data-type="text" data-pk="<?php echo $row->getId(); ?>" data-url="/post" data-title="Goles Local">0</a>
                	</td>
                	<td>
                		<a href="#" id="visitante_<?php echo $row->getId(); ?>" data-type="text" data-pk="<?php echo $row->getId(); ?>" data-url="/post" data-title="Goles Visitante">0</a>
                	</td>
            	</tr>
            	<?php  endforeach;?>
		  	</tbody>
		 </table>
	</div>
</div>


<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-editable.min.js"></script>

<script type="text/JavaScript">
$(document).ready(function() {
	$.fn.editable.defaults.mode = 'popup';
	<?php foreach($this->partido as $row): ?>     
		$('#local_'+<?php echo $row->getId(); ?>).editable({
			url: '/post',
			pk: <?php echo $row->getId(); ?>
		});
		$('#visitante_'+<?php echo $row->getId(); ?>).editable({
			url: '/post',
			pk: <?php echo $row->getId(); ?>
		});
	<?php endforeach; ?>
});
</script>