<link rel="stylesheet" href="/css/datepicker.css">
<link rel="stylesheet" href="/css/jquery.fileupload-ui.css">

<div class="row">
	<div class="col-md-8">
		<div>
			<h1 class="text-gray">Partidos <i class="fa fa-android"></i></h1>
			<form id="alta_partidos" name="alta_partidos" method="POST" action="/admin/partidos/nuevo" >
				 <div class="form-group">
					<label for="equipo_local">Equipo Local</label>
					<input type="text" class="form-control" name="equipo_local" id="equipo_local" placeholder="Equipo local">
				 </div>
				 
				 <div class="form-group">
					<label for="escudo_local"> Escudo local</label>
					<div style="margin-top:-15px;"><small>Asigna el escudo del equipo local</small></div>
					
					<span id="btnfileel" class="btn btn-info fileinput-button">
				        <i class="glyphicon glyphicon-plus"></i><span>Selecciona un escudo</span>
				        <!-- The file input field used as target for the file upload widget -->
				        <input id="escudo_local" type="file" name="files[]" >
				        <input id="nombrearchivoel" name="nombrearchivoel" type="hidden">
					</span>
					
					<span id="helpArchivo" class="help-inline"></span>
					<div class="row"><div id="contenedor_escudol" class="span9"></div></div>
					
				 </div>
				 
				 <div class="form-group">
					<label for="equipo_visitante">Equipo visitante</label>
					<input type="text" class="form-control" name="equipo_visitante" id="equipo_local" placeholder="Equipo visitante">
				 </div>
				 
				 <div class="form-group">
					<label for="escudo_visitante"> Escudo visitante</label>
					<div style="margin-top:-15px;"><small>Asigna el escudo del equipo visitante</small></div>
					
					<span id="btnfileev" class="btn btn-info fileinput-button">
				        <i class="glyphicon glyphicon-plus"></i><span>Selecciona un escudo</span>
				        <!-- The file input field used as target for the file upload widget -->
				        <input id="escudo_visitante" type="file" name="files[]" >
				        <input id="nombrearchivoev" name="nombrearchivo" type="hidden">
					</span>
					
					<span id="helpArchivo" class="help-inline"></span>
					<div class="row"><div id="contenedor_escudov" class="span9"></div></div>
				 </div>
				 
				 <div class="form-group">
					<label for="fecha_partido">Fecha del partido</label>
					<div class='input-group date'>
						<input name="fecha_partido" id='fecha_partido' type='text' class="form-control" data-provide="datepicker" />
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
				 </div>
				 
				 <div class="form-group">
				 	<label for="tipo_partido">Tipo partido</label>
				 	<input type="text" class="form-control" name="tipo_partido" id="tipo_partido" placeholder="Tipo partido">
				 </div>
				 
				 <button type="submit" class="btn btn-primary">Guardar</button>
				 
			</form>
		</div>
	</div>
</div>




<script src="/js/jquery-ui-1.10.4.custom.min.js"></script>

<script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/js/jquery.validate.min.js"></script>

<script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
<script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/jquery.fileupload-process.js"></script>
<script src="/js/jquery.fileupload-image.js"></script>
<script src="/js/jquery.fileupload-validate.js"></script>

<script type="text/JavaScript">
	$(document).ready(function(){
		$('#alta_partidos').validate({
			errorElement: "span",
			rules: {
				equipo_local: {
			     	minlength: 2,
			        required: true
			    },
			    equipo_visitante: {
			    	minlength: 2,
			        required: true
			    },
			    fecha_partido: {
			        required: true
			    },
			    tipo_partido: {
			        minlength: 2,
			        required: true
			    }
			},
			highlight: function(element) {
				$(element).closest('.form-group').addClass('has-error');
			},
			success: function(element) {
				 $(element).closest('.form-group').removeClass('has-error');
			},
	        errorElement: 'span',
	        errorClass: 'help-block',
	        errorPlacement: function(error, element) {
	            if(element.parent('.input-group').length) {
	                error.insertAfter(element.parent());
	            } else {
	                error.insertAfter(element);
	            }
	        }
		});


		// FILEUPLOAD
		 var url =  '/server/php/UploadHandlerCompra.php';
		 $('#escudo_local').fileupload({
		     url: url,
		     dataType: 'json',
		     multiple: false,
		     previewMaxWidth: 80,
		     previewMaxHeight: 80,
		     acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
		     maxFileSize: 2097152,
		     disableImageResize: /Android(?!.*Chrome)|Opera/
		         .test(window.navigator.userAgent),
		     autoUpload:false
		 }).on('fileuploadadd',function(e,data){
				        $.each(data.files, function (index, file) {
				     	dataf = data;   
				     	$("#contenedor_escudol").html('<div id="archivosel" class="alert alert-info" style="margin-top:-20px;"></div>');
			            var node = $('<button id="btncloseel" type="button" class="close" data-dismiss="alert">&times;</button><div class="row"/>');
			            node.appendTo('#archivosel');
			            $("#nombrearchivoel").val("");
			           $('#btncloseel').click(function(){
			  				$('#btnfileel').show();
			  				$("#nombrearchivoel").val("");
			          	});
			            $("#btnfileel").hide();
			        });
			   }) 
			  .on('fileuploadprocessalways', function (e, data) {
				  var index = data.index,
			          file = data.files[index],
			          node = $('#imagen');
				      if (file.preview) {
				    	  	$("#archivosel div").append('<div class="span2" style="padding:5px;"></div>');
				    	  	$("#archivosel > div  > div").append(file.preview);
				    	  	$("#archivosel > div").append('<div class="span5" style="vertical-align:middle;text-align:center;padding-top: 20px;">'+encodeURIComponent(file.name)+'</div>');
				    	  	$("#nombrearchivoel").val(encodeURIComponent(file.name));
				      }
			  });

		// FILEUPLOAD
		 var url =  '/server/php/UploadHandlerCompra.php';
		 $('#escudo_visitante').fileupload({
		     url: url,
		     dataType: 'json',
		     multiple: false,
		     previewMaxWidth: 80,
		     previewMaxHeight: 80,
		     acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
		     maxFileSize: 2097152,
		     disableImageResize: /Android(?!.*Chrome)|Opera/
		         .test(window.navigator.userAgent),
		     autoUpload:false
		 }).on('fileuploadadd',function(e,data){
				        $.each(data.files, function (index, file) {
				     	dataf = data;   
				     	$("#contenedor_escudov").html('<div id="archivosev" class="alert alert-info" style="margin-top:-20px;"></div>');
			            var node = $('<button id="btncloseev" type="button" class="close" data-dismiss="alert">&times;</button><div class="row"/>');
			            node.appendTo('#archivosev');
			            $("#nombrearchivoev").val("");
			           $('#btncloseev').click(function(){
			  				$('#btnfileev').show();
			  				$("#nombrearchivoev").val("");
			          	});
			            $("#btnfileev").hide();
			        });
			   }) 
			  .on('fileuploadprocessalways', function (e, data) {
				  var index = data.index,
			          file = data.files[index],
			          node = $('#imagen');
				      if (file.preview) {
				    	  	$("#archivosev div").append('<div class="span2" style="padding:5px;"></div>');
				    	  	$("#archivosev > div  > div").append(file.preview);
				    	  	$("#archivosev > div").append('<div class="span5" style="vertical-align:middle;text-align:center;padding-top: 20px;">'+encodeURIComponent(file.name)+'</div>');
				    	  	$("#nombrearchivoev").val(encodeURIComponent(file.name));
				      }
			  });
	});
</script>
