<div class="row">
	<div class="col-md-3 col-xs-3 well">
		<div class="row-fluid">
		
	        <div class="span2" >
			    	<img src="http://graph.facebook.com/1081445886/picture?width=140&height=140&type=square" class="img-circle">
	        </div>
	        
	        <div class="span8">
	            <h3>User Name</h3>
	            <h6>Email: MyEmail@servidor.com</h6>
	            <h6>Ubication: Colombia</h6>
	            <h6>Old: 1 Year</h6>
	            <h6><a href="#">More... </a></h6>
	        </div>
	        
	        <div class="span2">
	            <div class="btn-group">
	                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
	                    Action 
	                    <span class="icon-cog icon-white"></span><span class="caret"></span>
	                </a>
	                <ul class="dropdown-menu">
	                    <li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
	                    <li><a href="#"><span class="icon-trash"></span> Delete</a></li>
	                </ul>
	            </div>
	        </div>
		</div>
	</div>
</div>