<div class="row">
	<div class="col-md-12 col-xs-12">	
	
		<div class="page-header">
			<h2> <i class="fa fa-trophy "></i> Solicitud para participar en la quiniela: <?php echo $this->quiniela[0]->getTitulo(); ?> </h2>
		</div>
</div>
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading">Detalle de la quiniela</div>
			
			<div class="panel-body">
				<div class="col-md-2 col-xs-2">
					<img src="http://graph.facebook.com/<?php echo $this->quiniela[0]->getUsuario()->getfacebookid(); ?>/picture?width=155&height=155&type=square" alt="" class="img-thumbnail">
				</div>
				
				<div class="col-md-9  col-xs-9">
	    			<div class="well" style="background-color: #fff;">
			    		<h3 class="text-center "> <b>Propietario: </b> <?php echo strtoupper($this->quiniela[0]->getUsuario()->getNombreUsuario()); ?></h2>
			    		<h4 class="text-center "> <b>Quiniela:</b>  <?php echo strtoupper($this->quiniela[0]->getTitulo()); ?></h3>
			    		<h5 class="text-center "> <b>Número de boletas:</b> <?php echo $this->quiniela[0]->getNumeroBoletasParticipando();?> </h4>
			    	</div>
    			</div>
			</div>
			
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">Solicitud de invitación</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 col-xs-12">
							<form class="navbar-form navbar-left" method="POST" action="/quiniela/invitacion/solicitud/<?php echo $this->quiniela[0]->getId(); ?>">
								<div class="form-group">
									<label for="msg-invitacion">Mensaje: </label>
									<textarea id="msg-invitacion" name="msg-invitacion" class="form-control" rows="3" cols="70" placeholder="Mensaje solicitud de invitación."></textarea>
								</div>
								<input type="hidden" id="idquiniela" name="idquiniela" value="<?php echo $this->quiniela[0]->getId(); ?>" />
								<button type="submit" class="btn btn-success">Enviar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>