<script type="text/javascript" src="/js/jquery.timeago.js"></script>
<script type="text/javascript" src="/js/jquery.timeagoes.js"></script>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="page-header">
			<h1> <i class="fa fa-paperclip"></i> Notificaciones  </h1>
		</div>
	</div>
	
	<div class="col-md-12 col-xs-12">
		<table class="table table-bordered">
			<tr>
				<th style="text-align: center;">Tipo</th>
				<th style="text-align: center;">Usuario</th>
				<th style="text-align: center;">Notificación</th>
				<th style="text-align: center;">Fecha</th>
			</tr>
			
			<?php  	if(count($this->notificaciones)):
						foreach($this->notificaciones as $notificacion):
							$fecha = new Zend_Date($notificacion['fecha']);
			?>
			<tr class="verNotificacion"  style="cursor: pointer; <?php echo ($notificacion['visto'])?"background-color:#F0F0F0;":"background-color:#fff;";?>" 
				src="<?php  echo ($notificacion['tiponotificacion'] == 1 )?"/cuenta/notificaciones/responder/id/".$notificacion['id'] : "/cuenta/notificaciones/respuesta/id/".$notificacion['id'];?>">
				<td><?php $notifica = $notificacion['params']; echo  $notifica['titulo']; ?></td>
				<td><?php echo $notificacion['solicitante']; ?></td>
				<td style="vertical-align: middle;">	<?php echo $notificacion['descripcion'];?> </td>
				<td style="vertical-align: middle;text-align: right;">	<span class="timeago" title="<?php echo $fecha->getIso();?>"></span></td>	
			</tr>
			<?php 
					endforeach;
					else:
			?>
				
			<tr>
				<td colspan="4">No tienes notificaciones aún</td>
			</tr>	
			
			<?php endif;?>
			
		</table>
	</div>
</div>

<script type="text/javascript">
jQuery(document).ready(function() {
	  $(".timeago").timeago();

	  $(".verNotificacion").click(function(){
			location.href=$(this).attr('src');
		});
	  
	});
</script>
