<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="page-header">
			<h1> <i class="fa fa-paperclip"></i> Respuesta:   </h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="panel panel-success">
		<div class="panel-heading">Felicidades!</div>
		<div class="panel-body">
			<h2 class="text-success">Haz sido aceptado para participar en la quiniela: <a href="/quiniela/detalle/quiniela/idquiniela/<?php echo $this->quiniela[0]->getId();?>"><?php echo $this->quiniela[0]->getTitulo();?></a>  </h2>
		</div>
	</div>
</div>