<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="page-header">
			<h1> <i class="fa fa-paperclip"></i> Solicitud:   </h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading">Datos del solicitante: </div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-2 col-xs-2">
						<img src="http://graph.facebook.com/<?php echo $this->solicitante[0]->getfacebookid(); ?>/picture?width=155&height=155&type=square" alt="" class="img-thumbnail">
					</div>
					<div class="col-md-9  col-xs-9">
						<h3><b>Nombre del usuario:</b> <?php echo $this->solicitante[0]->getNombreUsuario();?></h3>
						<h4><b>Mensaje: </b>  <?php echo $this->notificacion->getDescripcion(); ?> </h4>
						<br/>
						<h4><b>Quiniela solicitada: </b>  <a href="/quiniela/detalle/quiniela/idquiniela/<?php echo $this->quiniela[0]->getId(); ?>" ><?php echo $this->quiniela[0]->getTitulo(); ?> </a> </h4> 
					</div>
				</div>
			</div>
			<?php if($this->aceptado): ?>
			<div class="panel-footer">
				<form id="solicitud" action="/cuenta/notificaciones/solicitud/" method="POST">
						<input type="hidden" id="idquiniela"   name="idquiniela"   value="<?php echo  $this->quiniela[0]->getId(); ?>">
						<input type="hidden" id="iduduario"    name="idusuario"    value="<?php echo $this->solicitante[0]->getId(); ?>">
						<input type="hidden" id="iduduariofb"  name="idusuariofb"  value="<?php echo $this->solicitante[0]->getfacebookid(); ?>">
						<input type="hidden" id="aceptado"     name="aceptado"     value="1">
						
						<button type="submit" class="btn btn-success btn-lg">Permitir al usuario participar en esta quiniela</button>
				</form>
			</div>
			<?php endif; ?>
		</div>
	</div>
</div>