<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="page-header">
			<h1> <i class="fa fa-paperclip"></i> Solicitud:   </h1>
		</div>
	</div>
</div>

<div class="row">	
	<div class="col-md-12 col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading"><b><?php echo  $this->notificacion->getParams()['titulo']; ?></b></div>
			
			<div class="panel-body">
				<b>	<?php echo $this->notificacion->getDescripcion(); ?>	</b>
				<br/>
				<?php if(isset($this->solicitante[0])):?>
					El usuario <b><?php echo $this->notificacion->getUsuario()->getNombreUsuario();?></b> te envio una solicitud.
					<br/><br/>
					<b><?php echo $this->solicitante[0]->getNombreUsuario(); ?></b> desea participar en la quiniela  <b><?php echo $this->quiniela[0]->getTitulo(); ?></b>
				
					<?php if(!isset($this->invitado[0])):?>
					<form id="solicitud" action="/cuenta/notificaciones/solicitud/" method="POST">
						<input type="hidden" id="idquiniela"   name="idquiniela"   value="<?php echo  $this->quiniela[0]->getId(); ?>">
						<input type="hidden" id="iduduario"    name="idusuario"    value="<?php echo $this->solicitante[0]->getId(); ?>">
						<input type="hidden" id="iduduariofb"  name="idusuariofb"  value="<?php echo $this->solicitante[0]->getfacebookid(); ?>">
						<input type="hidden" id="aceptado"     name="aceptado"     value="1">
	
						<button type="button" onclick="enviar()" class="btn btn-success">Aceptar</button>
					</form>
					<?php endif;?>
				<?php endif;?>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function enviar(){ $( "#solicitud" ).submit(); }
</script>