<?php 
$uri = $this->serverUrl(true);
$url = parse_url($uri);
$url = "http://".$url["host"]."/quiniela/". $this->Quiniela->getId();

$descripcion="¿Qué tanto sabes de futbol? entra a MegaQuinielaBrasil2014 y demuestra si sabes más que yo, llévate la bolsa acumulada";
$this->headMeta()->setProperty('og:title', 'Mega Quiniela Brasil 2014 - Quiniela # '.$this->Quiniela->getId());
$this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url', $url);
$this->headMeta()->setProperty('og:image', 'http://www.megaquinielabrasil2014.com/img/logomega.png');
$this->headMeta()->setProperty('og:description',$descripcion );
$this->headMeta()->setProperty('fb:admins', '1112151402,1081445886');
$this->headMeta()->setProperty('fb:app_id', '459971164102563');
$this->headMeta()->setProperty('og:site_name', 'Mega Quiniela Brasil 2014');


?>


<style>
	a{ text-decoration: none;}
	.list-group-item {
	position: relative;
	display: block;
	padding: 5px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	font-size: 12px;border: 0px none;
	}
	.boletas{
	height: 115px;overflow-y: scroll;background-color: #fff;margin-bottom: 5px;padding: 10px;}
	.list-group{margin-bottom: 0px;}
	.infoQuiniela2 p{padding-right: 30px;padding-left: 30px;	}
	.infoQuiniela2{margin-top:-10px;}
</style>


 	<div class="row">
		<div class="col-md-6 col-xs-12">
			
				<h1>
					<i class="fa fa-trophy "></i> <span style="font-weight: bold;"><?php echo ucwords($this->Quiniela->getTitulo());?> </span><br><small style="font-family: sans-serif;font-size: 16px;"># <?php echo $this->Quiniela->getId();?><?php echo $this->sharingvertical();?></small> 
				</h1>
			
		</div>
		<div class="col-md-6">
			<div style="float: right ;margin-top:50px;"><span class="label label-success" style="float: right;font-size:22px;"> <img src="/img/icons/bagofmoney.png" style="width: 28px;height: auto;vertical-align: bottom ;"> Bolsa acumulada: MX <?php echo $this->moneda($this->Bolsa);?></span></div>
		 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xs-12">
				<div class="visible-md pull-right" style="margin-top:-20px;">
					<a href="/quiniela/<?php echo $this->Quiniela->getId();?>/" class="btn btn-default " style=""><i class="fa fa-bar-chart-o"></i> Resultados finales</a>
				</div>
				<div class="visible-md visible-lg pull-right" style="margin-top:-20px;">
					<a href="/quiniela/<?php echo $this->Quiniela->getId();?>/" class="btn btn-default " style=""><i class="fa fa-bar-chart-o"></i> Resultados finales</a>
				</div>		
				<div class="visible-sm pull-left" style="margin-top:20px;">
					<a href="/quiniela/<?php echo $this->Quiniela->getId();?>/" class="btn btn-default " style=""><i class="fa fa-bar-chart-o"></i> Resultados finales</a>
				</div>
				<div class="visible-xs hidden-lg hidden-sm  hidden-md pull-right" style="margin-top:20px;">
					<a href="/quiniela/<?php echo $this->Quiniela->getId();?>/" class="btn btn-default " style=""><i class="fa fa-bar-chart-o"></i> Resultados finales</a>
				</div>
		</div>
	</div>
	<hr>
	<div class="row">
	
		<!-- inicio seccion info quiniela -->
		<div class="col-md-4 col-sm-12  col-xs-12">
			<div class="panel panel-default">
  				<div class="panel-body" style="height: 245px;background-color: #ECECEC;">
  					 <h3 class="text-center" style="margin-top: 12px;">Detalle de la Quiniela</h3>
  					 <div class="infoQuiniela2">	
											    <p>
													<i class="fa fa-users fa-lg"></i> 
													Participantes <span class="pull-right"><?php echo count($this->Participantes);?></span>
												</p>
												<p>										    
												    <i class="fa fa-list-alt fa-lg"></i> 
												    Boletas totales <span class="pull-right"><?php echo count($this->boletasquiniela); ?> </span>
											    </p>
											    <p>
												   <i class="fa fa-sitemap fa-lg"></i>  
												    Número de partidos <span class="pull-right"><?php echo $this->Quiniela->getNumeroPartidos(); ?></span>
												</p>
												<p>
												    <i class="fa fa-money fa-lg"></i> 
												   Precio de boleta <span class="pull-right" style="color:#0b0;font-weight: bold;"><?php echo $this->moneda($this->Quiniela->getPrecioBoleta()); ?> </span>
												</p>
					</div>
			     	<div class="<?php echo ($this->Quiniela->getTipo())?'priceThumbBlue':'priceThumbHigh'; ?>">
							<?php echo ($this->Quiniela->getTipo())?'<i class="fa fa-unlock"></i> Pública': '<i class="fa fa-lock"></i> Privada';?>
				 	</div>
					<div class="row	" >
						<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2" style="margin-top:10px;">
							<?php 
							if($this->Quiniela->getTipo() ==  1):
								switch($this->Quiniela->getStatus()){
									case	0 : 
											?> <div style="background-color: #FFEF35;color: #555;padding:5px;text-align: center;"><i class="fa fa-refresh"></i> Quiniela en Progreso</div> <?php
											break;
										case 1 :
											?><a href="/quiniela/boleta/nueva/id/<?php echo $this->Quiniela->getId(); ?>" class="btn btn-success btn-block"> <i class="fa fa-shopping-cart"></i> Comprar Boleta</a><?php 
											break;
								}?>
							
							<?php 
							else:
								//Solicitar invitación
								if($this->invitacion == 0): 
							?>
								<a href="/quiniela/invitacion/solicitud/idquiniela/<?php echo $this->Quiniela->getId(); ?>" class="btn btn-warning btn-block" > <i class=" icon-share-alt"></i> Solicita tu Invitación</a>
							<?php
								//Solicitud enviada  
								elseif($this->invitacion == 1):
							?>
								<button type="button" class="btn btn-warning">Tu solicitud fué enviada</button>
							<?php
								//Solicitud aceptada
								else: 
							?><?php switch($this->Quiniela->getStatus()){
								
										case	0 : 
											?> <div style="background-color: #FFEF35;color: #555;padding:5px;text-align: center;"><i class="fa fa-refresh"></i> Quiniela en Progreso</div> <?php
											break;
										case 1 :
											?><a href="/quiniela/boleta/nueva/id/<?php echo $this->Quiniela->getId(); ?>" class="btn btn-success btn-block"> <i class="fa fa-shopping-cart"></i> Comprar Boleta</a><?php 
											break;
								}?>
								
							<?php 
								endif;
							endif;
							?>
						</div>
					</div>
  				</div>
			</div>
		</div> <!-- seccion info quiniela -->
	
	
		<!-- Partidos de quiniela -->
		<div class="col-md-4 col-sm-12  col-xs-12">
			<div class="panel panel-default" >
				<div class="panel-heading"><strong><i class="fa fa-sitemap"></i> Partidos de esta quiniela</strong></div>
  				<div style="max-height: 205px; overflow-y:scroll;">
    				<table class="table table-striped">
				      <thead>
				        <tr>
							<th class="text-center"><small>Fecha</small></th>
							<th></th>
							<th class="text-left"><small>Local</small></th>
							<th></th>
							<th class="text-right"><small>Visita</small></th>
							<th></th>
						</tr>
				      </thead>
				      <tbody>
				      	<?php 
				      		foreach($this->partidos as $partido):
				      	?>
				       		<tr id="<?php echo $partido["id"];?>" timestamp="<?php echo $this->fecha($partido["fecha"],'es_MX','timestamp');?>" class="">
				          		<td style="font-size:12px;" class="text-muted"><?php echo $this->fecha($partido["fecha"],'es_MX','short');?></td>
				          		<td class="flag text-center"><?php echo $this->escudo($partido["equipoLocal"]["escudo"],"normal");?></td>
				          		<td style="text-align:left;font-size:12px;"><?php echo $partido["equipoLocal"]["nombre"];?></td>
				          		<td style="font-size:12px;"> vs </td>
				          		<td style="text-align:right;font-size:12px;" ><?php echo $partido["equipoVisita"]["nombre"];?></td>
				          		<td class="flag text-center"><?php echo $this->escudo($partido["equipoVisita"]["escudo"],"normal");?></td>
				        	</tr>
				        <?php endforeach; ?>
				      </tbody>
				    </table>
  				</div>
			</div>
		</div>
		<!-- Fin Partidos de quiniela -->
		
		<div class="col-md-4 col-sm-12  col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading"><strong><i class="fa fa-users"></i>  Participantes</strong></div>
  				<div class="panel-body" style=" height: 205px; overflow-y:scroll;">
  						<?php  foreach ($this->Participantes as $participante): ?>
							<a href="/quiniela/<?php echo $this->Quiniela->getId(); ?>/usuario/<?php echo $participante->getId(); ?>">
 								<img src="http://graph.facebook.com/<?php echo $participante->getfacebookid();?>/picture?width=50&amp;height=50&amp;type=square" alt="<?php echo $participante->getNombreUsuario();?>" class="img-rounded" style="margin-bottom:5px;">
							</a>
  						<?php endforeach;?>
  				</div>
  			</div>
		</div>
		
		
	</div>
	
	
	<?php if(!$this->hayboleta):?>
			<div class="row">
				<div class="col-md-12" style="overflow: auto;">
				<hr>
					<h2 class="text-center">Resultados Oficiales </h2>
					<table class="table  table-striped table-condensed">
						<thead>
							<tr class="bg-primary">
								<th style="text-align: center;">FECHA</th>
								<th colspan="2" style="text-align: center;">LOCAL</th>
								<th></th>
								<th colspan="2" style="text-align: center;">VISITA</th>
								<th style="text-align: center;">RESULTADO</th>
								
								<?php foreach($this->resultados[0]['boleta']  as $participantes): ?>
									<th><img src="http://graph.facebook.com/<?php echo $participantes['facebookid'];?>/picture?width=24&amp;height=24&amp;type=square" class="img-circle"></th>	
								<?php endforeach;?>
							</tr>
						</thead>
						<tbody>
						
							<?php 
								foreach($this->resultados as $resultado):
							?>
							<tr id="<?php echo $resultado['idPartido']; ?>" >
								<td class="text-muted" style="vertical-align:middle; font-size:12px;"><?php echo $this->fecha($resultado['fecha'], 'es_MX','medium');?></td>
								<td class="text-right" style="vertical-align: middle;"><?php echo $resultado['escudo-local'];?></td>
								<td style="vertical-align: middle;font-size: 12px;"><?php echo $resultado['equipo-local']; ?></td>
								<td style="vertical-align: middle;text-align: center;">vs</td>
								<td class="text-right" style="vertical-align: middle;font-size: 12px;"><?php echo $resultado['equipo-visita']; ?></td>
								<td style="vertical-align: middle;"><?php echo $resultado['escudo-visita'];?></td>
								<td class="tdselected" style="vertical-align: middle; border-left: 1px #000 solid;" >
									<h5 style="color:#fff;font-weight: bold;margin-left:20%;">
									<?php 
										 if($resultado['resultado'] == 'N'){
										 	echo '<i class="fa fa-question"></i>';
										 }else{
										 	if($resultado['resultado'] == "L"){
										 		echo $resultado['escudo-local'].' '. $resultado['equipo-local'];
										 	} elseif($resultado['resultado'] == "V") {
										 		echo $resultado['escudo-visita'].' '. $resultado['equipo-visita'];
										 	} else {
										 		echo '<i class="fa fa-flag"></i> Empate';
										 	}
										 }
									?>
									</h5>
								</td>
								
								<?php foreach($resultado['boleta'] as $boleta): ?>
									<td style="background-color:#FFFFFF;vertical-align: middle;border-left: 1px solid #eee;"> 
									<?php 
										echo "<span style='font-size:12px;font-weight:bold;'>".$boleta['pronostico']."</span>";
										if ($resultado['resultado'] != 'N') {
											if($resultado['resultado'] == $boleta['pronostico'] ){
												echo ' <i class="fa fa-thumbs-o-up" style="color: #0b0"></i>';
											}  else {
												echo ' <i class="fa fa-thumbs-o-down"  style="color: #FC0404" ></i>';
											} 
										}
									?>
									</td>
								<?php endforeach;?>
								
							</tr>
							<?php endforeach;?>
							<tr class="success">
								<td colspan="6">
								</td>
								<td class="text-right" style="font-size:14px;font-weight: bold;">
									Total de aciertos:
								</td>
								<?php foreach($this->resultados[0]['boleta']  as $participantes): ?>
								<td style="font-size:14px;font-weight: bold;">
									<?php echo $participantes["aciertos"]; ?>
								</td>	
								<?php endforeach;?>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<?php endif; ?>
	
	

	<div id="boletaShow" style="display: none;">
	<?php if($this->hayboleta){?>
	
	<div class="row">
		<div  class="col-xs-6 visible-xs">
			<?php if( count ($this->boletasquiniela)>1 ){?>
			<div style="font-size:60px;color:#5398D5; margin-top: 8px;" class="text-center">
				<a href="/quiniela/<?php echo $this->Quiniela->getId();?>/boleta/<?php echo $this->anterior;?>">
					<i class="fa fa-arrow-circle-left"></i>
				</a>
			</div> 
			<?php }?>
		</div>
		<div class="col-xs-6 visible-xs">
			<?php if( count ($this->boletasquiniela)>1 ){?>			
			<div style="font-size:60px;color:#5398D5; margin-top: 8px;" class="text-center">
				<a href="/quiniela/<?php echo $this->Quiniela->getId();?>/boleta/<?php echo $this->siguiente;?>">
					<i class="fa fa-arrow-circle-right"></i> 
				</a>
			</div>
			<?php }?>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2 hidden-xs">
			<?php if( count ($this->boletasquiniela)>1 ){?>
			<div style="font-size:60px;color:#5398D5; margin-top: 80px;" class="text-right">
				<a href="/quiniela/<?php echo $this->Quiniela->getId();?>/boleta/<?php echo $this->anterior;?>">
					<i class="fa fa-arrow-circle-left"></i>
				</a>
			</div> 
			<?php }?>
		</div>
		<div class="col-md-8 col-sm-12  col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading" >		
					<div class="row">
  						<div class="col-md-3  col-xs-12">
  							<div style="height: 100%;vertical-align: middle;text-align:center;margin-top:35px;">
	    						<img src="http://graph.facebook.com/<?php echo $this->usuario->getfacebookid();?>/picture?width=140&amp;height=140&amp;type=square" class="img-thumbnail img-responsive">
    						</div>
    					</div>
    					<div class="col-md-9  col-xs-12" style="margin-top:30px;">
    						<div class="well" style="background-color: #fff;">
					    		<h1 class="text-center hidden-xs"><?php echo strtoupper($this->usuario->getNombreUsuario()); ?></h1>
					    		<h3 class="text-center visible-xs"><?php echo strtoupper($this->usuario->getNombreUsuario()); ?></h3>
					    		<h2 class="text-center hidden-xs">Boleta #<?php echo $this->boletaId;?>  - Tu Pronóstico</h2>
					    		<h4 class="text-center visible-xs">Boleta #<?php echo $this->boletaId;?>  - Tu Pronóstico</h4>
					    		<p class="text-center">Participa con <span class="badge" style="background-color: #0b0;"> <?php echo $this->totalboletasuser; ?></span> boletas en esta Quiniela</p>
					    	</div>
    					</div>
    				</div>
					<div class="row">
						<div class="col-md-12">
							<div  style="max-height: 300px; overflow-y:scroll; border: 5px solid #fff;">
							<table class="table table-striped" style="background-color: #fff;">
									<thead>
										<tr>
											<th style="font-size:12px;" class="text-center bg-primary">
												Fecha
											</th>
											<th class="bg-primary">
											</th>
											<th style="font-size:12px;" class="text-left bg-primary">	
												Local
											</th>
											<th class="bg-primary">	
											</th>
											<th style="font-size:12px;" class="text-right bg-primary">
												Visita
											</th>
											<th class="bg-primary">
											</th>
											
											<th  style="font-size:12px;" class="text-center bg-primary" >
												<i class="fa fa-check-square-o"></i> TU PRONÓSTICO  
											</th>
										</tr>
									</thead>
									<tbody>
										<?php foreach($this->boletaresultado as $row): ?>
										<tr class="partidosQuinielas" id="50">
											<td class="text-muted" style="font-size:12px;vertical-align: middle;"><?php echo $this->fecha($row['fecha'],"es_MX","short"); ?></td>
											<td class="flag text-center" style="vertical-align: middle;"><?php echo $this->escudo($row['equipoLocal']['escudo'],"normal"); ?></td>
											<td style="text-align:left;vertical-align: middle;"><?php echo $row['equipoLocal']['nombre']; ?></td>
											<td style="vertical-align: middle;">vs</td>
											<td style="text-align:right;vertical-align: middle;"><?php echo $row['equipoVisita']['nombre']; ?></td>
											<td class="flag text-center" style="vertical-align: middle;"><?php echo $this->escudo($row['equipoVisita']['escudo'],'normal'); ?></td>
											<td class="tdselected " style="vertical-align: middle; border-left: 1px #000 solid;padding-left: 40px;"><h5 style="color:#fff;font-weight: bold;">
											<?php echo $row['pronosticoEscudo']; ?>
											</h5></td>
										</tr>
										<?php endforeach; ?>
						    		</tbody>
								</table>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div><!-- Fin COL-md-8 -->
		<div class="col-md-2 hidden-xs">
			<?php if( count ($this->boletasquiniela)>1 ){?>			
			<div style="font-size:60px;color:#5398D5; margin-top: 80px;" class="text-left">
				<a href="/quiniela/<?php echo $this->Quiniela->getId();?>/boleta/<?php echo $this->siguiente;?>">
					<i class="fa fa-arrow-circle-right"></i> 
				</a>
			</div>
			<?php }?>
		</div>
		
		
	</div><!-- Fin ROW -->
	<?php }?>
	</div>
	


<script>
<?php if($this->efecto){?>
		$("#boletaShow").slideDown();
		//$("html, body").animate({ scrollTop: 500}, 1000);
		
<?php } ?>
</script>
