


<div class="container">
	<div class="row">
		<div class="col-sm-12  col-xs-12">
			<img style="display:block;margin:0 auto 50px auto;" src="/img/banner_contacto.jpg"  class="img-responsive"   >
			
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h1>Cont&aacute;ctanos</h1>
			<p class="text-primary"><h3>Si tienes alguna duda o comentario no dudes en contactarnos.</h3></p>
			<hr>
			<address>
<!-- 			<strong>Email:</strong> <a href="mailto:#"> contacto@megaquinielabrasil2014.com</a><br><br> -->
			<!-- <strong>Phone:</strong> (555)123-4567 -->
			</address>
		</div>
		    
		<div class="col-sm-8 contact-form">
			<form id="contact" method="post" class="form" role="form">
				<div class="row">
					<div class="col-xs-6 col-md-6 form-group">
						<input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required autofocus />
					</div>
					<div class="col-xs-6 col-md-6 form-group">
						<input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
					</div>
				</div>
				
				<textarea class="form-control" id="message" name="message" placeholder="Dejanos un mensaje " rows="5"></textarea>
				<br />
				<div class="row">
					<div class="col-xs-12 col-md-12 form-group">
						<button class="btn btn-primary pull-right" type="submit">Enviar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>