<div class="row">
	<div class="col-md-12">
		<div class="well well-lg">
			
			
			<?php echo $this->render('control/_partial/menucontrol.phtml'); ?>
			<div class="row">
				<div class="col-md-12">
					<h3 style="padding-top:25px;">Cargar partidos del evento : 
						<span style="color:<?php  echo ($this->evento->getPublicado())?"#0c0":"#c00"; ?>">
							<i class="fa fa-circle<?php echo ($this->evento->getPublicado())?"":"-o";?>"></i>
						</span>  <?php echo $this->evento->getNombreEvento();?>
						<small>escribe y selecciona el equipo de la lista</small>
					</h3>
				</div>
			</div>
			<style>
			.ui-widget {
				font-family: Verdana,Arial,sans-serif!important;
				font-size: 12px!important;
				z-index: 9999!important;
				}
			</style>
			<div class="row">
				<div class="col-md-12">
					
					<form id="formpartido" action="/admin/control/save-partido" class="form-horizontal" role="form" method="post">
					  <div class="form-group">
					    <label for="equipoLocal" class="col-sm-1 control-label">Local:</label>
					    <div class="col-sm-2">
					     <input type="text" class="form-control" id="equipoLocal" name="equipoLocal">
					     <input type="hidden" name="equipoLocalId" id="equipoLocalId">
					    </div>
					    <label class="col-sm-1 control-label">vs</label>
					    <label for="equipoVisita" class="col-sm-1 control-label">Visita:</label>
					    <div class="col-sm-2">
					    	<input type="hidden" name="eventoId" id="eventoId" value="<?php echo $this->evento->getId();?>">
					      	<input type="text" class="form-control" id="equipoVisita" name="equipoVisita">
					    	 <input type="hidden" name="equipoVisitaId" id="equipoVisitaId">
					    </div>
					  		
					  </div>
					  <div class="form-group">
					  <label for="equipoVisita" class="col-sm-1 control-label">Fecha/Hora:</label>
						    <div class="col-sm-2">
						      <input type="text" class="form-control" id="fechahora" name="fechahora" >
						    </div>
						    <label for="tipoPartido" class="col-sm-2 control-label">Tipo de partido:</label>
						    <div class="col-sm-3">
						      <input type="text" class="form-control" id="tipoPartido" name="tipoPartido" placeholder="instancia del partido: 'jornada 7'" >
						    </div>
						     <div class="col-sm-2">
						      <button type="submit" class="form-control btn  btn-primary" id="btn" name="btnSubmit" ><i class="fa fa-plus-square"></i> Guardar Partido</button>
						    </div>
					  </div>
					</form>
					
					
				</div>
			</div>
			
			<div class="row">
			<div class="col-md-12">
			<div class="table-responsive">
				 <table class="table table-striped" style="background-color: #fff;">
				 	<thead>
				 		<tr class="bg-primary">
		                	<th>#</th>
		                	<th>Fecha - Hora</th>
		                	<th></th>
		                	<th style="text-align: left;">Local</th>
		                	<th></th>
		                	<th style="text-align: right;">Visita</th>
		                	<th></th>
		                	<th style="text-align: center;">Fase</th>
		                	<th style="text-align: center;">Herramientas</th>
		            	</tr>
				 	</thead>
				 	<tbody>
				 		<?php 
				 				$i=0;
				 				foreach($this->equipos as $row) :
				 		?>
									 		<tr>
							                	<td style="font-size:12px;vertical-align: middle;"	>
							                		<span style="font-size:10px;color:<?php echo ($row["activo"])?"#0b0":"#b00"; ?>"> <i class="fa fa-circle<?php echo ($row["activo"])?"":"-o"; ?>"></i></span> # <?php echo ++$i . " - ID ".$row["id"]; ?>
							                	</td>
							                	<td class="text-muted" style="font-size:12px;vertical-align: middle;"	><?php echo $this->fecha($row["fecha"],'es_MX','medium');?></td>
							                	<td style="text-align: center;vertical-align: middle;"><?php echo $this->Escudo($row["equipoLocal"]["escudo"],"normal");?></td>
							                	<td style="vertical-align: middle;"><?php echo $row["equipoLocal"]["nombre"];?></td>
							                	<td style="vertical-align: middle;"> vs </td>
							                	<td style="text-align: right;vertical-align: middle;"><?php echo $row["equipoVisita"]["nombre"];?></td>
							                	<td style="text-align: center; vertical-align: middle;"><?php echo $this->Escudo($row["equipoVisita"]["escudo"],"normal");?></td>
							                	<td style="text-align:center;font-size:10px;vertical-align: middle;" class="text-muted"><?php echo $row["tipo"];?></td>
							                	<td style="width: 200px;vertical-align: middle;">
							                		<?php if($row["activo"]==0){?>
																		<span class="tool">
																			<a href="/admin/control/activar-partido/id/<?php echo $row["id"]."/evento/".$this->evento->getId()."/s/1";?>" class="btn btn-success publicar tool btn-sm" data-toggle="tooltip" data-placement="top" title="Habilitar Partido">
																				<i class="fa fa-cloud-upload"></i>
																			</a>
																		</span>
																	<?php }else{?>
																		<span class="tool">
																			<a href="/admin/control/activar-partido/id/<?php echo $row["id"]."/evento/".$this->evento->getId()."/s/0";?>"  class="btn btn-danger publicar tool btn-sm" data-toggle="tooltip" data-placement="top" title="Deshabilitar Partido" >
																				<i class="fa fa-cloud-download"></i>
																			</a>
																		</span>
																	<?php }?>
							                	</td>
							            	</tr>
		            	<?php  endforeach;?>
				  	</tbody>
				 </table>
			</div>
			</div>
			</div>
			
			
		</div>
	</div>
</div>



<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css' rel='stylesheet' type='text/css'>
<script src="/js/jquery-datetime.js"></script>
<script src="/js/typeahead.js"></script>

<script>
	$(document).ready(function(){

		$("#equipoLocal").change(function(){
				if($(this).val().length==0){
					$("#"+$(this).attr("name")+"Id").val('');	
				};		
		});


		$("#equipoLocal").autocomplete({
			source: '/admin/control/get-equipos-json',
			minLength: 1,
			 	focus: function( event, ui ) {
			        $( this ).val( ui.item.value );
			        return false;
			      },
			select: function(event,ui){
				 $( this ).val( ui.item.value );
		     	$("#"+$(this).attr("name")+"Id").val(ui.item.id);
	    		},
	    	response: function( event, ui ) {
		    		if((Object.keys(ui.content).length)==0){
		    			$("#"+$(this).attr("name")+"Id").val('');
		    		};
		    	}
			}) .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
			      return $( "<li>" )
			        .append( "<a><img src='/img/flags/icon/"+item.image+ "' style='margin-right:5px;'>"+ item.value +"</a>" )
			        .appendTo( ul );
			    };
	


		$("#equipoVisita").autocomplete({
					source: '/admin/control/get-equipos-json',
					minLength: 1,
					 focus: function( event, ui ) {
					        $( this ).val( ui.item.value );
					        return false;
					      },
					select: function(event,ui){
						 $( this ).val( ui.item.value );
					     	$("#"+$(this).attr("name")+"Id").val(ui.item.id);
					    },
					response: function( event, ui ) {
					    		if((Object.keys(ui.content).length)==0){
					    			$("#"+$(this).attr("name")+"Id").val('');
					    		};
					    	}
					}) .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
					      return $( "<li>" )
					        .append( "<a><img src='/img/flags/icon/"+item.image+ "' style='margin-right:5px;'>"+ item.value +"</a>" )
					        .appendTo( ul );
					    };
	
		
			$(".tool").tooltip();
			$("#fechahora").datetimepicker();

			$("#formpartido").submit(function(event){
					var error=0;
					var txterror="";

						txterror="Ingresa el equipo local";

						if(!$("#tipoPartido").val()){
							error=1;
							txterror="Ingresa el tipo o instancia del partido";
						}
						
						if(!$("#equipoLocalId").val()){
							error=1;
							txterror="Ingresa el equipo local";
						}


						if(!$("#equipoVisitaId").val()){
							error=1;
							txterror="Ingresa el equipo Visita";
						}

						if(!$("#fechahora").val()){
							error=1;
							txterror="Ingresa la Fecha/Hora del partido";
						}


						if(error){
							event.preventDefault();
							alert(txterror);
						}
					
				});

			$(window).keydown(function(event){
			    if(event.keyCode == 13) {
			      event.preventDefault();
			      return false;
			    }
			  });
			  
		});
</script>