<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css' rel='stylesheet' type='text/css'>

<script src="/js/wysihtml5/prettify.js"></script>
<link rel="stylesheet" href="/css/jquery.fileupload-ui.css">

<!-- The basic File Upload plugin -->

<script src="/js/jquery.fileupload.js"></script>
<script src="/js/load-image.js"></script>
<script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>


<script src="/js/jquery.fileupload-process.js"></script>
<script src="/js/jquery.fileupload-image.js"></script>
<script src="/js/jquery.fileupload-validate.js"></script>

<style>
span.tool{margin-left:5px;}
</style>
<div class="row">
		<div class="col-md-12">
			<div class="well well-lg">
				<?php echo $this->render('control/_partial/menucontrol.phtml'); ?>
				<h2 style="margin-bottom:25px;"><i class="fa fa-shield"></i> Catálogo equipos</h2>
				<div class="row">
					<div class="col-md-4 col-xs-12">
						<div class="panel panel-primary" style="margin-top:45px;">
							<div class="panel-heading">AGREGAR UN NUEVO EQUIPO</div>
						  	<div class="panel-body">
						    	<form role="form" id="formNuevo" method="post" action="/admin/control/save-equipo">
								  <div class="form-group">
								    <label for="nombre">Nombre del equipo:</label>
								    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa el nombre del equipo">
								  </div>
								  <div class="form-group">
								    <label for="nombreCorto">Nombre Corto:</label>
								    <input type="text" class="form-control" id="nombreCorto" name ="nombreCorto" placeholder="Nombre corto del equipo">
								  </div>
								  <div class="form-group">
								  		<label for="pais">País:</label>
								  		<select id="pais" name="pais" class="form-control">	
								  			
								  		</select>
								  </div>
								  <div class="form-group">
								  	<label for="nombre">Escudo:</label>
								  	<span id="btnArchivo" class="btn  btn-info fileinput-button">
									       <i class="fa fa-camera"></i>
									       <span>Selecciona tu imagen...</span>
									       <input id="fileupload" type="file" name="files[]" data-url="/server/php/" multiple>
									</span>
									<div id="conimagen" class="text-center" style="display:none;width:100%;height: auto;margin-top:10px;">
										<div id="btneliminar" style="background-color: #000;
											height: 21px;" class="text-right"><span class="label label-inverse" style="cursor: pointer" id="deleteimg">Eliminar</span></div>
										<div id="imagen">
												
										</div>
									</div>
									<div id="imagenesThumb" style="display: table-row;">
								  	</div>
								  </div>
								  <div class="text-center" style="margin-top: 50px;"	>
								  	<input id="nombrearchivo" type="hidden" name="nombrearchivo">
								  	<button type="submit" class="btn btn-success">Guardar equipo</button>
								  </div>
								</form>
						  	</div>
						</div>
					</div>
					<div class="col-md-8 col-xs-12">
						<h4>Equipos</h4>
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr class="bg-primary">
										<th>Escudo</th>
										<th>Nombre</th>
										<th>Nombre Corto</th>
										<th>País</th>
										<th>Fecha</th>
									</tr>
								</thead>
								<tbody>
									<?php foreach ($this->equipos as $equipo){?>
										<tr>
											<td style="text-align: center;"><?php echo $this->Escudo($equipo->getEscudo(),"normal");?></td>
											<td><?php echo $equipo->getNombre();?></td>
											<td><?php echo $equipo->getNombreCorto();?></td>
											<td><?php echo $equipo->getPais();?></td>
											<td class="text-muted"><?php echo $this->fecha($equipo->getFechaCreacion(),"es_MX","shorthoras");?></td>
										</tr>
									<?php }?>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

<script type="text/javascript">
$( document ).ready(function() {

	$.getJSON( "/js/country.json", function( data ) {
		  var items = [];
		  $.each( data, function( key, val ) {
		    items.push( "<option value='" + val + "'>" + val + "</option>" );
		  });
		 
		  $("#pais").append(items);
		});
	

	  var dataf;
	   var urlDelete='';
	   var urlw =  '/server/php/';
	   var fileslist=Array();
	   var indices=Array();
	   var images=Array();
	   var c=0;

	   $('#fileupload').fileupload({
		   url: urlw,
	       dataType: 'json',
	       autoUpload:false,
	       maxNumberOfFiles:3,
	       maxFileSize: 5000000,
	       limitMultiFileUploads:3,
	       sequentialUploads: true,
	       acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
	   }).on('fileuploadadd',function(e,data){
		   
	   }) 
	  .on('fileuploadprocessalways', function (e, data) {
		   fileslist=Array();
		   indices=Array();
		   images=Array();
		   c=0;
		   			$("#conimagen").show();
		   		 	var index = data.index,
		          	file = data.files[index];
		          	c++;
		   			indices.push(c);
		   			var index = indices.indexOf(c);
		   			fileslist.push(file);
		   			images.push(data.img);
		   			
					//ponemos la imagen principal
					var img = '<div id="img'+c+'" style="width:80px;height:80px;cursor:pointer;margin-right: 10px;float:left"></div>';
 
		   			$("#imagen").html(images[index]);
		   			$("#imagen").attr("identificador",c);
		   			$("#imagen img").addClass("img-responsive");

		   			if(parseInt(indices.length) >= 3 ){
			   			$("#btnArchivo").hide();
		   			}
					
		  	});


	   $('#formNuevo').submit(function(event){
		   		event.preventDefault();
				var error=0;
					if(!$("#nombre").val() || !($("#nombre").val().length>3)){
					errortext="Ingresa el nombre del equipo";				
					error=1;
				}


				if(!$("#nombreCorto").val() || !($("#nombreCorto").val().length>2)){
					errortext="Ingresa el nombre corto!!! minimi 3 letras";				
					error=1;
				}
		   
			 	if(!error){
				   	var nombresarchivos=Array();
			   		$('#fileupload').fileupload('send',{files: fileslist})
			   		.done(function(data){
								if(data.files[0].error){
									event.preventDefault();
									alert("error selecciona un archivo , no es posible guardar su archivo");
								}else{
									$.each(data.files, function (index, file) {
										$("#nombrearchivo").val(encodeURIComponent(file.name));
										
							        });
									$('#formNuevo').unbind('submit').submit();			
								}
				   		});		   	

			   	}else{
				   	event.preventDefault();
			   		alert(errortext);
			   	}
		   });

	   $('#deleteimg').click(function(){
			var id = parseInt($("#imagen").attr("identificador"));
			var index = indices.indexOf(id);
			if (index > -1) {
				indices.splice(index, 1);
				images.splice(index, 1);
				fileslist.splice(index, 1);
				}				
	   	   $("#img"+id).remove();
	   	   if(indices.length<3 && indices.length>=1){	 
  				$("#btnArchivo").show();
	   			$("#imagen").html(images[0]);
	   			$("#imagen").attr("identificador",indices[0]);
  			}

			if(indices.length<=0){
			   $("#sinimagen").show();
   	       $("#conimagen").hide();
			}
	   });
});
</script>
