<style>
span.tool{margin-left:5px;}
</style>
<div class="row">
		<div class="col-md-12">
			<div class="well well-lg">
				
				
				<?php echo $this->render('control/_partial/menucontrol.phtml'); ?>
				

				<div class="row">
					<div class="col-md-12">
						<h4>Crear un nuevo evento</h4>
						<form id="formulario" method="post" role="form" action="/admin/control/save-evento">
						  <div class="form-group">
						    <label class="col-md-2" >Nombre del evento</label>
						    <div class="col-md-3">
						    	<input type="text" class="form-control" name="nombreEvento" id="nombreEvento" placeholder="Ingresa el nombre del evento aquí">
						    </div>
						  </div>
						  <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Crear evento</button>
						</form>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<h3>Catálogo de Eventos Futboleros</h3>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive" >
							<table class="table table-bordered table-striped" style="background-color:#fff;">
								<thead>
									<tr class="bg-primary">
										<th>Id</th>
										<th>Status-Nombre Evento</th>
										<th># Partidos</th>
										<th>Fecha creación</th>
										<th>Herramientas</th>
									</tr>
								</thead>
								<tbody>
										<?php foreach($this->eventos as $evento){?>
											<tr >
												<td style="vertical-align: middle;"><?php echo $evento->getId();?></td>
												<td style="vertical-align: middle;">
													<span style="color:<?php  echo ($evento->getPublicado())?"#0c0":"#c00"; ?>">
														<i class="fa fa-circle<?php echo ($evento->getPublicado())?"":"-o";?>"></i>
													</span> 
													<?php echo $evento->getNombreEvento();?>
												</td>
												<td style="vertical-align: middle;"><?php echo count($evento->getPartidos());?></td>
												<td style="vertical-align: middle;"><?php echo $this->fecha($evento->getFechacreacion(),'es_MX'); ?></td>
												<td style="vertical-align: middle;">
												<?php if($evento->getPublicado()==0){?>
													<span class="tool">
														<a href="/admin/control/activar-evento/id/<?php echo $evento->getId()."/s/1";?>" class="btn btn-success publicar tool btn-sm" data-toggle="tooltip" data-placement="top" title="Publicar evento">
															<i class="fa fa-cloud-upload"></i>
														</a>
													</span>
												<?php }else{?>
													<span class="tool">
														<a href="/admin/control/activar-evento/id/<?php echo $evento->getId()."/s/0";?>"  class="btn btn-danger publicar tool btn-sm" data-toggle="tooltip" data-placement="top" title="Desactivar evento" >
															<i class="fa fa-cloud-download"></i>
														</a>
													</span>
												<?php }?>
													<span class="tool">
														<a href="/admin/control/cargar-partidos/id/<?php echo $evento->getId();?>"  class="btn btn-info publicar tool btn-sm" data-toggle="tooltip" data-placement="top" title="Cargar partidos a este evento" >
															<i class="fa fa-sitemap"></i>
														</a>
													</span>
												</td>
											</tr>
										<?php }?>			
								</tbody>
							</table>
						</div>
					
					</div>
				</div>
				
			</div>
		</div>
</div>
<script>
	$(document).ready(function(){
			$(".tool").tooltip();


			$("#formulario").submit(function(event){
						if(!$("#nombreEvento").val()){
							 event.preventDefault();
							 alert("Escribe un nombre de evento");
						}
				});
			
		});
</script>