<div class="row">
		<div class="col-md-12">
			<div class="well well-lg">
			
				
				<?php echo $this->render('control/_partial/menucontrol.phtml'); ?>
				
				<div class="row">
					<div class="col-md-12">
						<h3>Catálogo de partidos</h3>
						
						
					</div>
				</div>
			</div>
		</div>
</div>