<div class="row">
	<div class="col-md-12">
		<div class="well well-lg">
			<div class="row">
				<div class="col-md-12 hidden-xs">
					<h1><i class="fa fa-linux"></i> Panel de Administración</h1>
				</div>
				<div class="col-xs-12 visible-xs">
					<h3><i class="fa fa-linux"></i> Panel de Administración</h3>
				</div>
			</div>
			
			<?php echo $this->render('control/_partial/menucontrol.phtml'); ?>
			
			<div class="row">
				<div class="col-md-12">
					<h2>Detalle quiniela: <?php echo $this->quiniela->getTitulo(); ?> </h2>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h3>Usuarios participando: </h3>
					<div class="table-responsive" style="overflow: scroll;">
						<table class="table table-bordered" style="background-color:#fff;font-size:12px;">
							<thead>
								<tr class="bg-primary">
									<th>Nombre</th>
									<th>Boletas compradas  </th>
									<th>Boletas no pagadas </th>
								</tr>
							</thead>
							<tbody>
								<?php 
									foreach($this->quiniela->getUsuariosParticipando() as $usuario):
									
										$pagadas=0;$porpagar=0;
										foreach($usuario->getBoletas() as $boleta){
											if($boleta->getStatus()==1)
												$pagadas++;
											else
												$porpagar++;
										} 
								?>
									<tr>
										<td> <?php echo $usuario->getNombreUsuario();?></td>
										<td> <?php echo $pagadas; ?> </td>
										<td> <?php echo $porpagar; ?> </td>
									</tr>
								<?php endforeach;?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h3>Boletas: </h3>
					
					<div class="table-responsive" style="overflow: scroll;">
						<table class="table table-bordered" style="background-color:#fff;font-size:12px;">
							<thead>
								<tr class="bg-primary">
									<th>ID</th>
									<th>USUARIO </th>
									<th>FECHA DE CREACION</th>
									<th>ESTATUS</th>
								</tr>
							</thead>
							<tbody>
								<?php foreach($this->quiniela->getBoletas() as $boleta):?>
									<tr>
										<td><?php echo $boleta['id']; ?></td>
										<td><?php echo $boleta['usuario']; ?></td>
										<td><?php echo $this->fecha($boleta['fecahacreacion']); ?></td>
										<td><?php echo $boleta['status'];?></td>
									</tr>
								<?php endforeach;?>
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h3>Partidos: </h3>
					
					<div class="table-responsive" style="overflow: scroll;">
						<table class="table table-bordered" style="background-color:#fff;font-size:12px;">
							<thead>
								<tr class="bg-primary">
									<th>FECHA</th>
									<th></th>
									<th>LOCAL</th>
									<th></th>
									<th>VISITA</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<?php foreach($this->partidos as $partido):?>
									<tr>
										<td><?php echo $this->fecha($partido->getPartido()->getFechaPartido()); ?></td>
										<td><span class="flagsp <?php echo $partido->getPartido()->getEscudoLocal(); ?>"></span></td>
										<td><?php echo $partido->getPartido()->getEquipoLocal()?></td>
										<td>vs</td>
										<td><?php echo $partido->getPartido()->getEquipoVisita(); ?></td>
										<td><span class="flagsp <?php echo $partido->getPartido()->getEscudoVisita(); ?>"></span></td>
									</tr>
								<?php endforeach;?>
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
			
			
		</div>
	</div>
</div>