<div class="row">
		<div class="col-md-12">
			<div class="well well-lg">
				<div class="row">
					<div class="col-md-12 hidden-xs">
						<h1><i class="fa fa-linux"></i> Panel de Administración</h1>
					</div>
					<div class="col-xs-12 visible-xs">
						<h3><i class="fa fa-linux"></i> Panel de Administración</h3>
					</div>
				</div>
				
				<?php echo $this->render('control/_partial/menucontrol.phtml'); ?>
				

				
				
			</div>
		</div>
</div>
				