<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

<div class="row">
		<div class="col-md-12">
			<div class="well well-lg" style="background-color: #fff;">
				<div class="row">
					<div class="col-md-12 hidden-xs">
						<h3><i class="fa fa-linux"></i> Respuesta Json IdConekta: <?php echo $this->id;?></h3>
					</div>
					<div class="col-xs-12 visible-xs">
						<h3><i class="fa fa-linux"></i> Respuesta Json IdConekta: <?php echo $this->id;?></h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" style="margin: 30px;">
						<a href="/admin/control/webhooks" class="btn btn-lg btn-info">Webhooks</a>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<pre class="prettyprint">
						<?php print_r($this->conekta);?>
						</pre>					
					</div>
				</div>
				
			</div>
		</div>
</div>