<div class="row">
	<div class="col-md-12">
		<div class="well well-lg">
			<div class="row">
				<div class="col-md-12 hidden-xs">
					<h1><i class="fa fa-linux"></i> Panel de Administración</h1>
				</div>
				<div class="col-xs-12 visible-xs">
					<h3><i class="fa fa-linux"></i> Panel de Administración</h3>
				</div>
			</div>
			
			<?php echo $this->render('control/_partial/menucontrol.phtml'); ?>
			
			<div class="row">
				<div class="col-md-12">
					<h3>Quinielas</h3>
					<div class="table-responsive" style="overflow: scroll;">
						<table class="table table-bordered" style="background-color:#fff;font-size:12px;">
							<thead>
								<tr class="bg-primary">
									<th>ID</th>
									<th>TITUTLO</th>
									<th>BOLSA ACUMULADA</th>
									<th>USUARIOS ACTIVOS</th>
									<th>DESCRIPCION</th>
									<th>TIPO</th>
									<th>FECHA DE CREACION</th>
									<th>FECHA DE CIERRE</th>
									<th>PRECIO BOLETA</th>
									<th>PROPIETARIO</th>
									<th>STATUS</th>
								</tr>
							</thead>
							<tbody>
								
								<?php foreach($this->quinielas as $quiniela):?>
								<tr class="detallequiniela" style="cursor: pointer;"  src="/admin/control/detallequiniela/id/<?php echo $quiniela->getId(); ?>" >
									<td><?php echo $quiniela->getId(); ?></td>
									<td><?php echo $quiniela->getTitulo(); ?></td>
									<td>$<?php echo money_format( '%i', $quiniela->getNumeroBoletasParticipando() *  $quiniela->getPrecioBoleta()); ?></td>
									<td><?php echo count($quiniela->getUsuariosParticipando()); ?></td>
									<td><?php echo $quiniela->getDescripcion(); ?></td>
									<td><?php echo ($quiniela->getTipo() == 0)?'PRIVADA':'PUBLICA'; ?></td>
									<td><?php echo $this->fecha($quiniela->getFechaCreacion()); ?></td>
									<td><?php echo $this->fecha($quiniela->getFechaCierre()); ?></td>
									<td><?php echo $quiniela->getPrecioBoleta(); ?></td>
									<td><?php echo $quiniela->getUsuario()->getNombreUsuario(); ?></td>
									<td><?php echo ($quiniela->getStatus() == 0)?'CERRADO':'ABIERTO'; ?></td>
									
								</tr>	
								<?php endforeach;?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
jQuery(document).ready(function() {
	  $(".detallequiniela").click(function(){
			location.href=$(this).attr('src');
		});
	  
	});
</script>