<div class="row">
		<div class="col-md-12">
			<div class="well well-lg">
			
				
				<?php echo $this->render('control/_partial/menucontrol.phtml'); ?>
				
				<div class="row">
					<div class="col-md-12">
						<h3><i class="fa fa-trophy"></i>  Resultados Finales</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" style="margin-bottom: 20px;">
						<div class="btn-group ">
							<a href="#" class="btn btn-default" role="button">Todos</a>
							<a href="#" class="btn btn-default" role="button">En progreso</a>
							<a href="#" class="btn btn-default" role="button">Sin capturar</a>
						</div>
					</div>
				</div>
				
			<div class="row">
			<div class="col-md-12">
			<div class="table-responsive">
				 <table class="table table-striped" style="background-color: #fff;">
				 	<thead>
				 		<tr class="bg-primary">
		                	<th>#</th>
		                	<th>Fecha - Hora</th>
		                	<th></th>
		                	<th style="text-align: left;">Local</th>
		                	<th colspan="3" style="text-align:center;">Resultado</th>
		                	<th style="text-align: right;">Visita</th>
		                	<th></th>
		                	<th style="text-align: center;">Fase</th>
		                	<th style="text-align: center;">Guardar</th>
		                	<th style="text-align: center;">Resultado</th>
		            	</tr>
				 	</thead>
				 	<tbody>
				 		<?php 
				 				$i=0;
				 				foreach($this->equipos as $row) :
				 		?>
									 		<tr id="tablerow<?php echo $row["id"];?>" class="<?php if($row["resultadoPartido"]=="L" || $row["resultadoPartido"]=="V" || $row["resultadoPartido"]=="E"){echo "success";} ?>" >
							                	<td style="font-size:12px;vertical-align: middle;"	>
							                		<span style="font-size:10px;color:<?php echo ($row["activo"])?"#0b0":"#b00"; ?>"> <i class="fa fa-circle<?php echo ($row["activo"])?"":"-o"; ?>"></i></span> # <?php echo ++$i . " - ID ".$row["id"]; ?>
							                	</td>
							                	<td class="text-muted" style="font-size:12px;vertical-align: middle;"	><?php echo $this->fecha($row["fecha"],'es_MX','medium');?></td>
							                	<td id="escudolocal<?php echo $row["id"];?>" style="text-align: center;vertical-align: middle;">
							                		<?php echo $this->Escudo($row["equipoLocal"]["escudo"],"normal");?>
							                	</td>
							                	<td style="font-size:12px;vertical-align: middle;"><?php echo $row["equipoLocal"]["nombre"];?></td>
							                	<td style="text-align:center;vertical-align: middle;width:60px;">
							                		<input type="text" class="form-control" id="resultadoLocal<?php echo $row["id"];?>" value="<?php echo $row["golesLocal"];?>">
							                	</td>
							                	<td style="text-align:center;vertical-align: middle; width: 20px;" >
							                		vs 
							                	</td>
							                	<td style="text-align:center;vertical-align: middle;width:60px;">
							                		<input type="text" class="form-control" id="resultadoVisita<?php echo $row["id"];?>" value="<?php echo $row["golesVisita"];?>">
							                	</td>
							                	<td style="font-size:12px;text-align: right;vertical-align: middle;"><?php echo $row["equipoVisita"]["nombre"];?></td>
							                	<td id="escudovisita<?php echo $row["id"];?>" style="text-align: center; vertical-align: middle;"> 
							                		<?php echo $this->Escudo($row["equipoVisita"]["escudo"],"normal");?>
							                	</td>
							                	<td style="text-align:center;font-size:10px;vertical-align: middle;" class="text-muted"><?php echo $row["tipo"];?></td>
							                	<td style="width: 50px;vertical-align: middle;">
							                		<button class="btn btn-default btn-sm btnResultado" idPartido="<?php echo $row["id"];?>"><i class="fa fa-floppy-o"></i></button>
							                	</td>
							                	<td>
							                		<div id="resultado<?php echo $row["id"];?>">
							                		<?php switch ($row["resultadoPartido"]){
							                			case "N":echo '<div style="color:#f00"> <i class="fa fa-question-circle"></i></div>' ;break;
							                			case "L":echo '<div style="color:#0b0"> <i class="fa fa-check"></i> '. $this->Escudo($row["equipoLocal"]["escudo"],"normal").'</div> ' ;break;
							                			case "E":echo '<div style="color:#0b0"> <i class="fa fa-check"></i><span style="font-size:10px;"> Empate</span></div>' ;break;
							                			case "V":echo '<div style="color:#0b0"> <i class="fa fa-check"></i> '. $this->Escudo($row["equipoVisita"]["escudo"],"normal").'</div>' ;break;
							                		}?>
							                		</div>
							                	</td>
							                	
							            	</tr>
		            	<?php  endforeach;?>
				  	</tbody>
				 </table>
			</div>
			</div>
			</div>
				
				
			</div>
		</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){

		$(".btnResultado").click(function(){
					var id=$(this).attr("idPartido");
					var rlocal=  $("#resultadoLocal"+id).val();
					var rvisita=$("#resultadoVisita"+id).val();
					if(rlocal == "" || rlocal == null){rlocal=9999;}
					if(rvisita == "" || rvisita == null){rvisita=9999;}

					var error=0;

					var regex = /^[0-9]{1,10}$/;
					if(!regex.test(rlocal)){
						error=1;
						alert("Por favor ingresa un valor númerico entero");
					}
					if(!regex.test(rvisita)){
						error=1;
						alert("Por favor ingresa un valor númerico entero");
					}
					
				
					if(!error){
					$.post("/admin/control/save-result",{idPartido:id,local:rlocal,visita:rvisita},
						function(response){
							switch(response){
								case 'N':
									$("#tablerow"+id).removeClass('success');
									$("#resultado"+id).html('<div style="color:#f00"> <i class="fa fa-question-circle"></i></div>');break;
							   case 'E':
								   $("#tablerow"+id).addClass('success');
								   $("#resultado"+id).html('<div style="color:#0b0"> <i class="fa fa-check"></i><span style="font-size:10px;"> Empate</span></div>') ;break;
							   case 'L':
								   $("#tablerow"+id).addClass('success');
								   var l = $("#escudolocal"+id).html();
								   $("#resultado"+id).html('<div style="color:#0b0"> <i class="fa fa-check"></i> '+l+'</div>');break;
							   case 'V':
								   $("#tablerow"+id).addClass('success');
								   var v = $("#escudovisita"+id).html();
								   $("#resultado"+id).html('<div style="color:#0b0"> <i class="fa fa-check"></i> '+v+'</div>') ;break;
							   case 'error':
								   alert("error - no se guardo el marcador del partido");
							}
						}
					);
					}
			});

		});
				 				
</script>
