<div class="row">
		<div class="col-md-12">
			<div class="well well-lg">
				
				
				<?php echo $this->render('control/_partial/menucontrol.phtml'); ?>
				
				<div class="row">
					<div class="col-md-12">
						<h3>Usuarios</h3>
						<div class="table-responsive" style="overflow: scroll;">
						<table class="table table-bordered" style="background-color:#fff;font-size:12px;">
							<thead>
								<tr class="bg-primary">
									<th>Facebook</th>
									<th>Boletas compradas</th>
									<th>Boletas no pagadas</th>
								</tr>
							</thead>
							<tbody>
								<?php foreach($this->usuarios as $usuario){	
										$pagadas=0;$porpagar=0;
									    foreach($usuario->getBoletas() as $boleta){
												if($boleta->getStatus()==1)
													$pagadas++;
												else 
													$porpagar++;
										}
									?>
									<tr>
										<td>
										<a target="_blank" href="http://www.facebook.com/<?php echo $usuario->getfacebookid();?>">
										<?php echo $usuario->getNombreUsuario(); 			?>
										</a>
										</td>
										<td>
										<?php echo $pagadas;?>
										</td>
										<td>
										<?php echo $porpagar;?>
										</td>
									</tr>
								<?php }?>
							</tbody>
						</table>
						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
</div>
				