<div class="row">
		<div class="col-md-12">
			<div class="well well-lg">
				
				<?php echo $this->render('control/_partial/menucontrol.phtml'); ?>
				
				
								
				<div class="row">
					<div class="col-md-12">
						<h3>Webhooks Conekta</h3>
						<div class="table-responsive" style="overflow: scroll;">
						<table class="table table-bordered" style="background-color:#fff;font-size:12px;">
							<thead>
								<tr class="bg-primary">
									<th>Id</th>
									<th>Type</th>
									<th>Fecha</th>
									<th>ObjectId</th>
									<th>ObjectStatus</th>
									<th>Boleta</th>
									<th>Quiniela</th>
									<th>Monto</th>
									<th>C. MegaQ</th>
									<th>C. Conekta</th>
									<th>ObjectPayment</th>
								</tr>
							</thead>
							<tbody>
								<?php foreach($this->webhooks as $webhook){
										$date = new DateTime("now");
										$date->setTimestamp($webhook->getCreatedAt());
										if($webhook->getObjectReferenceId()){
										$datos = explode("#",$webhook->getObjectReferenceId());
										$b 	= 	substr($datos[0],7,strlen($datos[0])); 
										$q	=	substr($datos[1],9,strlen($datos[1]));
										}else{$b=$q="";}
									?>
									<tr>
										<td>
										<a href="/admin/control/json-code/id/<?php echo $webhook->getId();?>">
										<?php echo $webhook->getChargeId(); 			?>
										</a>
										</td>
										<td><?php echo $webhook->getType();					?></td>
										<td class="text-center"><?php echo $date->format("d/m/Y H:i");			?></td>
										<td><?php echo $webhook->getObjectId();				?></td>
										<td><?php echo $webhook->getObjectStatus();			?></td>
										<td><?php echo $b;	?></td>
										<td><?php echo $q;	?></td>
										<td><?php echo $this->moneda(($webhook->getObjectAmount())/100);		?></td>
										<td><?php echo $this->moneda((($webhook->getObjectAmount())/100)*0.20);	?></td>
										<td><?php echo $this->moneda(($webhook->getObjectFee())/100);			?></td>
										<td><?php echo $webhook->getObjectPaymentObject();	?></td>
									</tr>
								<?php }?>
							</tbody>
						</table>
						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
</div>
				