<div class="btn-group btn-group-justified">
	  <a href="/admin/control/" class="btn btn-success" role="button"><i class="fa fa-home"></i> Inicio</a>
      <a href="/admin/control/webhooks" class="btn btn-success" role="button"><i class="fa fa-cloud"></i> WebHooks</a>
      <a href="/admin/control/users" class="btn btn-success" role="button"><i class="fa fa-users"></i> Usuarios registrados</a>
      <div class="btn-group">
        <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
          Dropdown <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/admin/control/quinielas/">  <i class="fa fa-gamepad"></i> Quinielas</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-book"></i> Catálogos <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/admin/control/catalogo-eventos"><i class="fa fa-flag"></i>  Eventos</a></li>
          <li><a href="/admin/control/catalogo-equipos"><i class="fa fa-shield"></i> Equipos</a></li>
          <li><a href="/admin/control/resultados"><i class="fa fa-sitemap"></i> Resultados de Partidos</a></li>
        </ul>
      </div>
</div>