<div class="row">
		<div class="col-md-12">
			<div class="well well-lg">
				<div class="row">
					<div class="col-md-12 hidden-xs">
						<h1>Centro de control</h1>
					</div>
					<div class="col-xs-12 visible-xs">
						<h3>Centro de control</h3>
					</div>
				</div>
				
				<?php echo $this->render('control/_partial/menucontrol.phtml'); ?>
				
				<div class="row">
					<div class="col-md-3 col-xs-6" style="margin-bottom: 20px;">
						<h2 style="border-bottom: 5px #0b0 solid;">Buscar quinielas</h2>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-8">
						<form id="buscador" name="buscador" method="POST" action="/cuenta/control/buscadorquinielas" >
							<div class="form-group">
								<label for="nombre_quiniela">Nombre quiniela</label>
								<input type="text" class="form-control" name="nombre_quiniela" id="nombre_quiniela" placeholder="Nombre Quiniela">
				 			</div>
				 			
				 			
				 			<button type="submit" class="btn btn-primary">Buscar</button>
						</form>
					</div>
				</div>
				
			<hr>
				
				<?php if(count($this->quiniela)>0){?>				
				<div class="row">
					<?php foreach($this->quiniela as $quiniela):?>
						  <div class="col-sm-6 col-md-4 col-xs-12">
							    <div class="thumbnail tamanio2">
							    	 <?php if($quiniela["activo"]==0){ ?>
											 <a href="/cuenta/control/mis-pagos">
											 <div class="pagarAhora">
													<i class="fa fa-exclamation-triangle fa-lg"></i><br>  Esta Quiniela esta Inactiva,
													paga tu boleta ahora para poder activarla.
											 </div>
											 <div class="transbox">
									<?php }else{?>
										     <a href="/quiniela/<?php echo $quiniela["idquiniela"]; ?>">
								     <?php }?>
								     <div class="caption">
							        	<h4 class="text-center" style="font-weight: bold;">
							        		<img src="http://graph.facebook.com/<?php echo $quiniela['idFacebook']; ?>/picture?width=40&height=40&type=square" class="img-circle"/> 
							        		<?php echo $quiniela['titulo']; ?>
							        	</h4>
										    <div class="text-center">
										    	<div style="margin:0 auto;width: 200px;color:#0a0;">
											   		<img src="/img/icons/bagofmoney.png" style="width: 28px;height: auto;vertical-align: bottom ;"><span style="font-size:18px;vertical-align: bottom;">MX<?php echo $this->moneda($quiniela['premio']); ?></span>
											   </div>
										    </div>
										    <div class="infoQuiniela">	
											    <p>
													<i class="fa fa-users fa-lg"></i> 
													Participantes <span class="pull-right"><?php echo $quiniela['participantes']; ?></span>
												</p>
												<p>										    
												    <i class="fa fa-list-alt fa-lg"></i> 
												    Boletas totales <span class="pull-right"><?php echo $quiniela['boletas']; ?></span>
											    </p>
											    <p>
												    <i class="fa fa-trophy fa-lg"></i> 
												    Número de partidos <span class="pull-right"><?php echo $quiniela['partidos'];?></span>
												</p>
												<p class="text-center" style="margin:10px 0px;">
											    	Costo x Quiniela:<br>
											    	<span class="bg-verdeson" style="padding: 5px 50px;color:#fff;font-weight: bold;">
											    	MX<?php echo $this->moneda($quiniela['precio']);?>
											    	</span>
											    </p>
										    </div>
										      <?php switch($quiniela['status']){
										    			case 1:?>
										     <div class="<?php echo ($quiniela['tipo'])?'priceThumbBlue':'priceThumbHigh'; ?>">
													<?php echo ($quiniela['tipo'])?'<i class="fa fa-unlock"></i> Pública': '<i class="fa fa-lock"></i> Privada';?>
											 </div>
											 		<?php break;
														case 0:?>
											<div class="priceThumbBlue" style="background-color: #FFEF35;color:#555;">
													<i class="fa fa-refresh"></i> En progreso
											 </div>
													<?php break;?>
											 
											 <?php }?>
											 <?php if ($quiniela['idUsuario']==$this->auth["id"]){?>
											 <div class="avisoPropietario text-center">
													<i class="fa fa-star"></i>  Eres el propietario de esta Quiniela
											 </div>
											 <?php }?>
						      		</div>
						      		</a>
						      		 <?php if($quiniela["activo"]==0){ ?>
												</div>
									<?php }?>
							    </div>
						  </div>
					<?php endforeach;?>
				</div>
				<?php }else{?>
				<div class="row">
					<div class="col-md-12">
						<div class="text-center" >
							<h3 style="color:#a00;">No se encontraron quinielas con el término de busqueda. </h3>
						</div>
						<div class="text-center" style="color:#a00;font-size:200px;margin-top:-50px;" >
							<i class="fa fa-meh-o"></i> 
						</div>
					</div>
				</div>
				<?php }?>
				
				
			</div>
		</div>	
</div>