<div class="row">
		<div class="page-header">
		<h1><i class="fa fa-trophy"></i> Edita los partidos de tu Quiniela</h1>
		</div>
		<div class="col-md-12">
					<div class="col-md-7 col-xs-12">
						<p class="bg-success"  style="padding: 15px;">Instrucciones: Selecciona los partidos que conformarán tu quiniela dando click sobre cada partido, recuerda
						 que debes clickear tres partidos como mínimo.</p>
						<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="text-center">
										Fecha - Hora
									</th>
									<th>
									</th>
									<th class="text-left">	
										Local
									</th>
									<th>	
									</th>
									<th class="text-right">
										Visita
									</th>
									<th>
									</th>
									<th class="text-center">
										Fase
									</th>
								</tr>
							</thead>
							<tbody>
								<?php foreach ($this->partidos as $partido){?>	
									<tr id="<?php echo $partido->getId();?>" timestamp="<?php echo $this->fecha($partido->getFechaPartido(),'es_MX','timestamp');?>" class="partido">
										<td style="font-size:12px;"><?php echo $this->fecha($partido->getFechaPartido(),'es_MX','medium');?></td>
										<td class="flag text-center"><span class="flagsp <?php echo $partido->getEscudoLocal();?>"></span></td>
										<td style="text-align:left;"><?php echo $partido->getEquipoLocal();?></td>
										<td >vs</td>
										<td style="text-align:right;"><?php echo $partido->getEquipoVisita();?></td>
										<td class="flag text-center"> <span class="flagsp <?php echo $partido->getEscudoVisita();?>"></span></td>
										<td><?php echo $partido->getTipoPartido();?></td>
									</tr>
								<?php }?>
							</tbody>
						</table>
						</div>
					</div>
					<div class="col-md-5 col-xs-12">
						<h3>Datos generales</h3>
						<form id="formCrear" action="/cuenta/control/modify" method="post" style="margin-top:20px;">
							<input type="hidden" name="partidos">
							<div id="nombreQuiniela" class="form-group">
    						<label class="control-label" for="inputnombreQuiniela">Escribe el nombre de tu quiniela *</label>
    						<input id="inputnombreQuiniela" type="text" name="nombreQuiniela" 
    						class="form-control input-lg" placeholder="Hasta máximo 50 letras y/o números" size="50" value="<?php echo $this->Quiniela->getTitulo();?>">
    						<span class="help-block text-danger"></span>
  							</div>
							
							<div class="form-group">
    						<label class="control-label" for="descripcionQuiniela">Descripción (opcional)</label>
    						<input type="text" name="descripcionQuiniela" class="form-control input-lg" placeholder="Hasta máximo 100 letras y/o números" size="100" value="<?php echo $this->Quiniela->getDescripcion();?>">
  							</div>
  							
  							
  							
  							<div id="precioBoleta" class="form-group col-md-7 ">
	    						<label class="control-label" for="descripcionQuiniela">Precio de Boleta</label>
	    						<div class="input-group">
	  								<span class="input-group-addon">$</span>
	  								<input id="inputprecioBoleta" type="text" name="precioBoleta" 
	  								class="form-control input-lg" placeholder="Solo números" value="<?php echo $this->Quiniela->getPrecioBoleta();?>">
	  								<span class="input-group-addon">.00</span>
								</div>
								<span class="help-block text-danger"></span>
  							</div>
  							
  							<div class="form-group col-md-5">
    						<label class="control-label" for="descripcionQuiniela">Tipo de quiniela</label>
    						<select class="form-control input-lg " name="tipoQuiniela">
							  <option value="1" <?php echo ($this->Quiniela->getTipo()==1)?"selected":"";?>>Pública</option>
							  <option value="0" <?php echo ($this->Quiniela->getTipo()==0)?"selected":"";?>>Privada</option>
							</select>
  							</div>
  							<div class="row">
  								<div class="col-md-12">
  									<h3 class="text-center">Has seleccionado</h3>
  									<h3 id="numeroPartidos" class="text-center" style="margin-top:-10px;">0 partidos</h3>
  								</div>
  							</div>
  							<div class="row">
  								<div class="col-md-12">
  								<p class="bg-warning text-center " style="padding: 15px;margin-top:20px;color:#777;"><strong>Tu quiniela estará abierta hasta el:<br> 
  								<span id="fechacierre"></span></strong> </p>
  								</div>
  							</div>
  							<div class="row">
	  							<div class="col-md-10 col-md-offset-1 col-xs-12" style="margin-top:20px;">
	  								<p class="text-center text-muted">Debes seleccionar al menos 3 partidos</p>
									<button id="btnCrear" class="btn btn-lg btn-success col-md-10 col-md-offset-1 col-xs-12"  disabled="disabled">Guardar Cambios  <i class="fa fa-cogs"></i></button>
								</div>
							</div>
							<input type="hidden" name="partidosSeleccion" id="partidosSeleccion" value="">
							<input type="hidden" name="fCierre" id="fCierre" value="">
							<input type="hidden" name="idQ"		id="idQ" value="<?php echo $this->Quiniela->getId();?>">
						</form>
					</div>
		</div>
</div>
<script type="text/javascript" >
$(document).ready(function(){
	var partidos = new Array();
	var totalpartidos = 0;
	var mindate	= -1;
	function timex(t){
		$.ajax({url:"/cuenta/control/fecha/time/"+(t/1000)})
		.done(function (data){
				$("#fechacierre").text(data);
				$("#fCierre").val(t/1000);
			});
	};


	<?php foreach($this->partidosSeleccionados as $ps){?>
		totalpartidos++;
		partidos.push('<?php echo $ps->getId();?>');
		$('#<?php echo $ps->getId();?>').addClass('success');
	<?php }?>


	timex(<?php echo $this->Quiniela->getFechaCierre()->getTimestamp()*1000;?>);
	
	var seleccionados = $('tr.success');
	totalpartidos	=	seleccionados.length;
	if(totalpartidos>=3)
		$("#btnCrear").removeAttr('disabled');
	else
		$("#btnCrear").attr('disabled','disabled');
		
	$("#numeroPartidos").text(seleccionados.length+' partidos');
	$("#partidosSeleccion").val(partidos);

	
	
		$(".partido").click(function(){
				if(!$(this).hasClass('success'))
					{
						$(this).addClass('success');
						partidos.push($(this).attr('id'));
						datenuevo=$(this).attr('timestamp');

						if(mindate==-1){
									mindate=$(this).attr('timestamp');
									var date=new Date(mindate*1000);
									date = new Date(date.setDate(date.getDate()-1));
									timex(date.getTime());
						}else{
							if(mindate>datenuevo)
							{
								mindate=datenuevo;
								var date=new Date(mindate*1000);
								date = new Date(date.setDate(date.getDate()-1));
								timex(date.getTime());
							}
						}
					}
				else{
						$(this).removeClass('success');
						id=$(this).attr('id');
						var index = partidos.indexOf(id);
						if (index > -1) {partidos.splice(index, 1);}
						var seleccionados = $('tr.success');
						if (seleccionados.length>0){
							mindate=seleccionados.first().attr('timestamp');
							var date=new Date(mindate*1000);
							date = new Date(date.setDate(date.getDate()-1));
							timex(date.getTime());
							seleccionados.each(function(){
									if(mindate>$(this).attr('timestamp')){
										mindate=$(this).attr('timestamp');
										var date=new Date(mindate*1000);
										date = new Date(date.setDate(date.getDate()-1));
										timex(date.getTime());

									}
							});
							
						}else
						{mindate =-1;$('#fechacierre').text('');}
					}	
				
				var seleccionados = $('tr.success');
				totalpartidos	=	seleccionados.length;
				if(totalpartidos>=3)
					$("#btnCrear").removeAttr('disabled');
				else
					$("#btnCrear").attr('disabled','disabled');
					
				$("#numeroPartidos").text(seleccionados.length+' partidos');
				$("#partidosSeleccion").val(partidos);
			});

		$("#formCrear").submit(function(){
			var error=0;
			$("#nombreQuiniela").removeClass('has-error');
			$("#precioBoleta").removeClass('has-error');
			$("#nombreQuiniela > span.helpBlock").text('');
			$("#precioBoleta  span.helpBlock").text('');
			
			if(!$("#inputnombreQuiniela").val()){
				$("#nombreQuiniela").addClass('has-error');
				$("#nombreQuiniela > span").text('Ingresa un nombre para tu quiniela');
				error=1;	
			}

			if(!$("#inputprecioBoleta").val() || isNaN($("#inputprecioBoleta").val() ) ){
				$("#precioBoleta").addClass('has-error');
				$("#precioBoleta > span").text('Ingresa el precio de la boleta');
				error=1;	
			}

			if($("#inputprecioBoleta").val()<50){
				$("#precioBoleta").addClass('has-error');
				$("#precioBoleta > span").text('El precio debe ser mayor o igual 50');
				error=1;
				}

			if(partidos.length<3){
				event.preventDefault();
				alert('Selecciona tres partidos como mínimo');
				error=1;
			}
			 
			 if(error){
				 event.preventDefault();
			 }
			});
});
</script>