<div class="row">
		<div class="col-md-12">
			<div class="well well-lg">
				<div class="row">
					<div class="col-md-12 hidden-xs">
						<h1>Centro de control</h1>
					</div>
					<div class="col-xs-12 visible-xs">
						<h3>Centro de control</h3>
					</div>
				</div>
				
				<?php echo $this->render('control/_partial/menucontrol.phtml'); ?>
				
				
				<div class="row">
					<div class="col-md-2 col-xs-6" style="margin-bottom: 20px;">
						<h2 style="border-bottom: 5px #0b0 solid;">Mis quinielas</h2>
					</div>
				</div>
				<?php if(count($this->quinielas)>0){?>				
				<div class="row">
					<?php foreach($this->quinielas as $quiniela):?>
						  <div class="col-sm-6 col-md-4 col-xs-12">
							    <div class="thumbnail tamanio">
							    	 <?php if($quiniela["objQuiniela"]->getActivo()==0){ ?>
											 <a href="/cuenta/control/mis-pagos">
											 <div class="pagarAhora">
													<i class="fa fa-exclamation-triangle fa-lg"></i><br>  Esta Quiniela esta Inactiva,
													paga tu boleta ahora para poder activarla.
											 </div>
											 <div class="transbox">
									<?php }else{?>
										     <a href="/quiniela/<?php echo $quiniela["objQuiniela"]->getId() ?>">
								     <?php }?>
								     <div class="caption">
							        	<h4 class="text-center" style="font-weight: bold;">
							        		<img src="http://graph.facebook.com/<?php echo $quiniela['objQuiniela']->getUsuario()->getfacebookid(); ?>/picture?width=40&height=40&type=square" class="img-circle"/> 
							        		<?php echo $quiniela['objQuiniela']->getTitulo(); ?>
							        	</h4>
										    <div class="text-center">
										    	<div style="margin:0 auto;width: 200px;color:#0a0;">
											   		<img src="/img/icons/bagofmoney.png" style="width: 28px;height: auto;vertical-align: bottom ;"><span style="font-size:18px;vertical-align: bottom;">MX<?php echo $this->moneda($quiniela['objQuiniela']->getPremio()); ?></span>
											   </div>
										    </div>
										    <div class="infoQuiniela">	
											    <p>
													<i class="fa fa-users fa-lg"></i> 
													Participantes <span class="pull-right"><?php echo count($quiniela['objQuiniela']->getUsuariosParticipando()); ?></span>
												</p>
												<p>										    
												    <i class="fa fa-list-alt fa-lg"></i> 
												    Boletas totales <span class="pull-right"><?php echo $quiniela['objQuiniela']->getNumeroBoletasParticipando(); ?></span>
											    </p>
											    <p>
												    <span style="color:#E0690B;"><i class="fa fa-ticket fa-lg"></i></span> 
												    Tus boletas compradas <span class="pull-right" style="font-size:16px;"><strong><?php echo $quiniela['boletas']; ?></strong></span>
												</p>
											    <p>
												    <i class="fa fa-trophy fa-lg"></i> 
												    Número de partidos <span class="pull-right"><?php echo $quiniela['objQuiniela']->getNumeroPartidos(); ?></span>
												</p>
												<p class="text-center" style="margin:10px 0px;">
											    	Costo x Quiniela:<br>
											    	<span class="bg-verdeson" 
											    	style="padding: 5px 50px;color:#fff;font-weight: bold;">
											    	MX<?php echo $this->moneda($quiniela['objQuiniela']->getPrecioBoleta());?>
											    	</span>
											    </p>
										    </div>
										    
										    <?php switch($quiniela['objQuiniela']->getStatus()){
										    			case 1:?>
										    <div class="<?php echo ($quiniela['objQuiniela']->getTipo())?'priceThumbBlue':'priceThumbHigh'; ?>">
													<?php echo ($quiniela['objQuiniela']->getTipo())?'<i class="fa fa-unlock"></i> Pública': '<i class="fa fa-lock"></i> Privada';?>
											 </div>
											 		<?php break;
														case 0:?>
											<div class="priceThumbBlue" style="background-color: #FFEF35;color:#555;">
													<i class="fa fa-refresh"></i> En progreso
											 </div>
													<?php break;?>
											 
											 <?php }?>
										    
										    
										     
											 <?php if ($quiniela['objQuiniela']->getUsuario()->getId()==$this->auth["id"]){?>
											 <div class="avisoPropietario text-center">
													<i class="fa fa-star"></i>  Eres el propietario de esta Quiniela
											 </div>
											 <?php }?>
						      		</div>
						      		</a>
						      		 <?php if($quiniela["objQuiniela"]->getActivo()==0){ ?>
												</div>
									<?php }?>
							    </div>
						  </div>
					<?php endforeach;?>
					</div>
				<?php }else{?>
				<div class="row">
					<div class="col-md-12">
						<h4 class="text-center">Aquí aparecerán tus Quinielas. No esperes más y Únete a una Quiniela o Crea tu propia Quiniela</h4>
						<p class="text-center" style="font-size:20px;"><i class="fa fa-trophy fa-5x"></i></p>
						<p class="text-muted text-center"></p>
						<div class="row">
							<div class="col-md-3 col-md-offset-3">
								<div class="text-center">
									<a href="/cuenta/control/buscadorquinielas" class="btn btn-lg btn-primary btn-block"><i class="fa fa-group"></i> Únete a una Quiniela</a>
								</div> 
							</div>
							<div class="col-md-3">
								<div class="text-center">
									<a href="/cuenta/control/nueva-quiniela" class="btn btn-lg btn-primary btn-block"><i class="fa fa-trophy"></i> Crea tu propia Quiniela</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<?php }?>
			</div>
		</div>	
</div>