<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="page-header">
  			<h1> <i class="fa fa-facebook-square"></i> Invita a tus amigos <small>QUINIELA:  <?php echo $this->quiniela->getTitulo(); ?></small></h1>
		</div>
		<p class="bg-success"  style="padding: 15px;"><b>Instrucciones:</b> Selecciona de tus amigos de Facebook los que quieras invitar a participar en la quiniela <b><?php echo $this->quiniela->getTitulo(); ?></b>.</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="table-responsive"  style="max-height: 250px; overflow-y:scroll;">
			<table class="table table-hover">
				<tbody>
					<?php foreach($this->frnds as $friend):?>
					<tr id="<?php echo $friend['uid']; ?>" class="invitado">
						<td> <img src="<?php echo  $friend['pic_square']; ?>" alt="<?php echo $friend['name']; ?>" class="img-circle"></td>
						<td> <label><?php echo $friend['name']; ?> </label> </td>
					</tr>
					<?php endforeach;?>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="col-md-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading"> <i class="fa fa-user"></i> Usuarios que ya est&aacute;n participando:</div>
  			<div class="panel-body">
  				<?php foreach($this->quiniela->getUsuariosParticipando() as $usuario): ?>
  					<a href="/quiniela/<?php echo $this->quiniela->getId(); ?>/usuario/<?php echo $usuario->getId(); ?>">
 						<img src="http://graph.facebook.com/<?php echo $usuario->getFacebookId(); ?>/picture?width=50&amp;height=50&amp;type=square" alt="<?php echo $usuario->getNombreUsuario(); ?>" class="img-rounded" style="margin-bottom:5px;">
					</a>
  				<?php endforeach;?>
  			</div>
		</div>
	</div>
	
	<div class=" col-md-6 col-xs-12">
	</div>
	<div class=" col-md-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading"> <i class="fa fa-facebook-square"></i> Usuarios invitados:</div>
			<div class="panel-body">
				<?php foreach($this->invitados as $invitado): ?>
					<img src="http://graph.facebook.com/<?php echo $invitado->getFacebookId(); ?>/picture?width=50&amp;height=50&amp;type=square"  class="img-rounded" style="margin-bottom:5px;">
				<?php endforeach;?>
			</div>
		</div>
	</div>
			
</div>

<div class="row">
	
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<h3>Enviar invitación</h3>
		<form id="formInvitacion" action="/cuenta/control/sendinvitacion" method="post" style="margin-top:20px;">
			<div id="mensaje" class="form-group">
				<label class="control-label" for="mensaje-invitacion">Escribe un mensaje para tus amigos.</label>
				<textarea id="mensaje-invitacion" name="mensaje-invitacion" class="form-control" rows="3"></textarea>
			</div>
			<div id="enviar" class="form-group">
				<button id="btnInvitar" type="submit" class="btn btn-success col-md-10 col-md-offset-1 col-xs-12" disabled="disabled">Invitar <i class="fa fa-share"></i></button>
			</div>
			<input id="invitados"  name="invitados"  type="hidden" />
			<input id="mails"      name="mails"  type="hidden" />
			<input id="idQuiniela" name="idQuiniela" type="hidden" value="<?php echo $this->idquiniela; ?>" />
		</form>
	</div>
</div>

<script type="text/javascript" src="/js/app/invitaramigos.js" ></script>