<div class="row">
		<div class="col-md-12">
			<div class="well well-lg">
			
				<div class="row">
					<div class="col-md-12 hidden-xs">
						<h1>Centro de control</h1>
					</div>
					<div class="col-xs-12 visible-xs">
						<h3>Centro de control</h3>
					</div>
				</div>
			
				<?php echo $this->render('control/_partial/menucontrol.phtml'); ?>
				
				<div class="row">
					<div class="col-md-3 col-xs-6" style="margin-bottom: 20px;">
						<h2 style="border-bottom: 5px #0b0 solid;"><i class="fa fa-credit-card"></i> Mis pagos</h2>
					</div>
				</div>
				<?php if(count($this->boletas)==0){?>
				<div class="row">
					<div class="col-md-12">
						<h4 class="text-center">Aquí aparecerán tus Boletas adquiridas. No esperes más y Únete a una Quiniela o Crea tu propia Quiniela</h4>
						<p class="text-center" style="font-size:20px;"><i class="fa fa-trophy fa-5x"></i></p>
						<p class="text-muted text-center"></p>
						<div class="row">
							<div class="col-md-3 col-md-offset-3">
								<div class="text-center">
									<a href="/cuenta/control/buscadorquinielas" class="btn btn-lg btn-primary btn-block"><i class="fa fa-group"></i> Únete a una Quiniela</a>
								</div> 
							</div>
							<div class="col-md-3">
								<div class="text-center">
									<a href="/cuenta/control/nueva-quiniela" class="btn btn-lg btn-primary btn-block"><i class="fa fa-trophy"></i> Crea tu propia Quiniela</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<?php }else{ ?>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
						<table class="table table-hover " style="background-color: #fff;">
							<thead>
								<tr>
									<th class="text-center bg-primary">
										Boleta
									</th>
									<th class="text-center bg-primary">
										Quiniela #
									</th>
									<th class="text-center bg-primary">	
										Tipo de pago
									</th>
									<th class="text-center bg-primary">	
										Status del pago
									</th>
									<th class="text-center bg-primary">
										Precio de Boleta
									</th>
									<th class="text-center bg-primary">
										Status Boleta
									</th>
								</tr>
							</thead>
							<tbody>
						<?php foreach($this->boletas as $boleta){
								$cargo = $boleta->getCargo();
							?>
							<tr class="<?php echo ($boleta->getStatus()==1)?'success':(($cargo)?'warning':'danger');?>">
								<td class="text-center">
									<?php if($boleta->getStatus()==1){?>
										<a href="<?php echo "/quiniela/".$boleta->getQuiniela()->getId()."/boleta/".$boleta->getId();?>" ><?php echo "No. ".$boleta->getId();?></a>
									<?php }else{?>
										<?php echo "No. ".$boleta->getId();?>
									<?php }?>
								</td>
								<td class="text-center">
									<?php if($boleta->getQuiniela()->getActivo()){?>
										<a href="/quiniela/<?php echo $boleta->getQuiniela()->getId();?>"><?php echo $boleta->getQuiniela()->getId();?></a>
									<?php }else{?>
										<?php echo $boleta->getQuiniela()->getId();?>
									<?php }?>
								</td>
								<td style="font-size:12px;">
									<?php echo ($cargo)?strtoupper($cargo->getPaymentMethod()):"-";?>
								</td>
								<td style="font-size:12px;">
									<?php if($cargo){
											if($cargo->getStatus()=='paid')
												echo "Boleta Pagada";
											elseif ($cargo->getStatus()=='pending_payment')
												echo "Pendiente de pago";
											else
												echo "-";
										  }else{
												echo "-";
											}
										  ?>
								</td>
								<td class="text-center">
									<strong><?php echo $this->moneda($boleta->getQuiniela()->getPrecioBoleta());?></strong>
								</td>
								<td class="text-center">
									<?php if($cargo){
												echo ($boleta->getStatus()==1 )?
												'<span class="label label-success">&nbsp;&nbsp;&nbsp;&nbsp;
												&nbsp;&nbsp;&nbsp;	
												&nbsp;&nbsp;&nbsp;&nbsp;Pagada&nbsp;&nbsp;&nbsp;&nbsp;
												&nbsp;&nbsp;&nbsp;
												 &nbsp;&nbsp;&nbsp;&nbsp;</span>'
												:'<span class="label label-warning">&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Por confirmar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;</span>';
										}else{
											echo '<a href="/quiniela/boleta/payment/boleta/'.$boleta->getId().'"><span class="label label-danger">Paga tu Quiniela ahora</span></a>';
										}
										?>
								</td>
							</tr>
						<?php }?>	
							</tbody>
					</table>
					</div>					
					</div>
				</div>
				<?php }?>
			</div>
		</div>
</div>