<div class="row">
		<div class="col-md-12">
			<div class="well well-lg">
				<div class="row">
					<div class="col-md-12 hidden-xs">
						<h1>Centro de control</h1>
					</div>
					<div class="col-xs-12 visible-xs">
						<h3>Centro de control</h3>
					</div>
				</div>
				
				<?php echo $this->render('control/_partial/menucontrol.phtml'); ?>
				
				
				<div class="row">
					<div class="col-md-2 col-xs-6" style="margin-bottom: 20px;">
						<h2 style="border-bottom: 5px #0b0 solid;">Mis quinielas</h2>
					</div>
				</div>
				
				<div class="row">
					<?php foreach($this->quiniela as $row):?>
						  <div class="col-sm-6 col-md-4 col-xs-12">
							    <div class="thumbnail selected">
								    <a href="/quiniela/<?php echo $row['idquiniela'] ?>">
								     <div style=""><span class="pull-right label label-success">STATUS: <?php echo ($row['status'])?'ABIERTO':'CERRADO';?></span></div>
								     <div class="caption">
							        	<h3 class="text-center">
							        		<img src="http://graph.facebook.com/<?php echo $row['Usernamefb']; ?>/picture?width=40&height=40&type=square" class="img-circle"/> 
							        		Quiniela:  <?php echo $row['titulo']; ?>
							        	</h3>
										<ul class="list-group">
											<li class="list-group-item ">
										    <span class="pull-right" style="font-size:18px;color:#0b0;"><strong>$<?php echo money_format('%i',$row['premio']); ?></strong></span>
										    Monto a ganar:
										  </li>
										  <li class="list-group-item">
										    <span class="badge" style="background-color: #428bca;font-size:12px;"><?php echo $row['participantes']; ?></span>
										    Participantes:
										  </li>
										  <li class="list-group-item">
										    <span class="badge" style="background-color: #428bca;font-size:12px;"><?php echo $row['boletas']; ?></span>
										    Boletas registradas:
										  </li>
										  <li class="list-group-item">
										    <span class="badge" style="background-color: #428bca;font-size:12px;"><?php echo $row['partidos']; ?></span>
										    Número de partidos
										  </li>
										  <li class="list-group-item">
										    <span class="badge bg-verdeson" style="font-size:12px;">$<?php echo money_format ('%i', $row['precio']);?></span>
										    Costo por quiniela:
										  </li>
										   <li class="list-group-item">
										    <span class="badge bg-primary" style="font-size:12px;"><?php echo ($row['tipo'])?'Publica': 'Privada';?></span>
										    Tipo:
										  </li>
										</ul>
						      		</div>
						      		</a>
							    </div>
						  </div>
					<?php endforeach;?>
				</div>
			</div>
		</div>	
</div>