<div class="row">
		<?php if(!$this->partidos){?>
		<h1><i class="fa fa-book"></i> Términos y condiciones </h1>
		<?php }else{?>
		<div class="page-header">
		<h1><i class="fa fa-trophy"></i> Arma tu quiniela </h1>
		</div>
		<?php }?>
		<div class="col-md-12">
			<?php if(!$this->partidos){?>
			<div class="panel panel-default">
			  <div class="panel-body text-muted" style="font-size:14px;padding-top:30px;">
					<ol>
						<li>Para crear tu quiniela debes elegir entre los partidos disponibles proporcionados
						por la plataforma "mega quiniela brasil 2014".</li>
						<li>Puedes seleccionar uno de dos tipos de quinielas privada ("solo tú apruebas a las personas
						 que estarán en tu quiniela") ó publica ("toda persona que pague su boleta entra a tu quiniela").</li>
						 <li>Una boleta es una oportunidad de anotar los resultados de todos los partidos de una quiniela. </li>
						 <li>Tú designas el costo de cada "boleta" para tu quiniela, el costo por "boleta" será de al menos 100 pesos.</li>
						 <li>Cada participante o invitado, puede jugar con una o más boletas para la misma quiniela. </li>
						 <li>El monto recaudado será repartido de manera equitativa entre el o los ganadores de la quiniela.</li>
						 <li>El ganador es el que tenga más aciertos en la quiniela, 
						 si hay empate entre dos o más participantes se repartirá equitativamente el monto acumulado.</li>
						 <li>A cada monto del o los ganador(es) se les descontará un 20% de su monto para cubrir
						 gastos por el manejo y administración de la plataforma y medios de pago.</li>
						 <li>Al adquirir tu boleta, estas sujeto a las reglas y normas del sitio.</li>
						 <li>Una vez creada la quiniela, no podrá cancelarse.</li>
						 <li>Si por algún motivo o razon el pago de una boleta se cancela por el banco de su tarjeta de crédito, esta boleta
							se dará de baja automáticamente de nuestro sistema. así tambien el usuario será dado de baja de nuestro sistema, si 
							el usuario es el creador de la quiniela, el control de ella pasará al usuario mas antiguo dentro de la quiniela.</li>
						 <li>Todos los pagos para el(los) ganador(res) serán realizados mediante una cuenta paypal.</li>
						 <li>Se tomará como resultado válido el marcador final del tiempo regular(90 minutos de juego) de cada partido
						  y quedará excento los resultados de tiempos extras, gol de oro, gol de plata y penaltis.</li>
						 <li>Cualquier punto no previsto aquí, será evaluado y resuelto por mega quiniela brasil 2014.</li>
					</ol>
					<div style="margin-top:50px;">
						<a href="/cuenta/control" class="btn btn-lg btn-danger col-md-4 col-md-offset-1 col-xs-5 col-xs-offset-1"><span class="visible-md visible-lg  visible-sm hidden-xs">Salir ahora.</span><span class="visible-xs" style="font-size:12px;">Salir ahora.</span></a>
						<a href="/cuenta/control/nueva-quiniela/selecciona/equipos" class="btn btn-lg btn-success col-md-4 col-md-offset-2 col-xs-5 col-xs-offset-1"><span class="visible-md hidden-xs visible-lg visible-sm">Acepto los términos y condiciones.</span><span class="visible-xs" style="font-size:12px;">Acepto.</span></a>
					</div>
			  </div>
			</div>
			<?php }else{?>
					<div class="col-md-7 col-xs-12">
						<p class="bg-success"  style="padding: 15px;">Instrucciones: Selecciona los partidos que conformarán tu quiniela dando click sobre cada partido, recuerda
						 que debes clickear tres partidos como mínimo.</p>
						<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="text-center">
										Fecha - Hora
									</th>
									<th>
									</th>
									<th class="text-left">	
										Local
									</th>
									<th>	
									</th>
									<th class="text-right">
										Visita
									</th>
									<th>
									</th>
									<th class="text-center">
										Fase
									</th>
								</tr>
							</thead>
							<tbody>
								<?php foreach ($this->partidos as $partido){?>	
									<tr id="<?php echo $partido["id"];?>" timestamp="<?php echo $this->fecha($partido["fecha"],'es_MX','timestamp');?>" class="partido">
										<td class="text-muted" style="font-size:10px;width:110px;vertical-align: middle;"><?php echo $this->fecha($partido["fecha"],'es_MX','medium');?></td>
										<td class="flag text-center"><?php echo $this->escudo($partido["equipoLocal"]["escudo"],"normal");?></td>
										<td style="text-align:left;"><?php echo $partido["equipoLocal"]["nombre"];?></td>
										<td >vs</td>
										<td style="text-align:right;"><?php echo $partido["equipoVisita"]["nombre"];?></td>
										<td class="flag text-center"><?php echo $this->escudo($partido["equipoVisita"]["escudo"],"normal");?></td>
										<td class="text-muted" style="font-size:10px;text-align:center;width:110px;vertical-align: middle;"><?php echo $partido["tipo"];?></td>
									</tr>
								<?php }?>
							</tbody>
						</table>
						</div>
					</div>
					<div class="col-md-5 col-xs-12">
						<h3>Datos generales</h3>
						<form id="formCrear" action="/cuenta/control/save" method="post" style="margin-top:20px;">
							<input type="hidden" name="partidos">
							<div id="nombreQuiniela" class="form-group">
    						<label class="control-label" for="inputnombreQuiniela">Escribe el nombre de tu quiniela *</label>
    						<input id="inputnombreQuiniela" type="text" name="nombreQuiniela" class="form-control input-lg" placeholder="Hasta máximo 50 letras y/o números" size="50">
    						<span class="help-block text-danger"></span>
  							</div>
							
							<div class="form-group">
    						<label class="control-label" for="descripcionQuiniela">Descripción (opcional)</label>
    						<input type="text" name="descripcionQuiniela" class="form-control input-lg" placeholder="Hasta máximo 100 letras y/o números" size="100">
  							</div>
  							
  							
  							
  							<div id="precioBoleta" class="form-group col-md-7 ">
	    						<label class="control-label" for="descripcionQuiniela">Precio de Boleta</label>
	    						<div class="input-group">
	  								<span class="input-group-addon">$</span>
	  								<input id="inputprecioBoleta" type="text" name="precioBoleta" class="form-control input-lg" placeholder="Solo números">
	  								<span class="input-group-addon">.00</span>
								</div>
								<span class="help-block text-danger"></span>
  							</div>
  							
  							<div class="form-group col-md-5">
    						<label class="control-label" for="descripcionQuiniela">Tipo de quiniela</label>
    						<select class="form-control input-lg " name="tipoQuiniela">
							  <option value="1" selected>Pública</option>
							  <option value="0">Privada</option>
							</select>
  							</div>
  							<div class="row">
  								<div class="col-md-12">
  									<h3 class="text-center">Has seleccionado</h3>
  									<h3 id="numeroPartidos" class="text-center" style="margin-top:-10px;">0 partidos</h3>
  								</div>
  							</div>
  							<div class="row">
  								<div class="col-md-12">
  								<p class="bg-warning text-center " style="padding: 15px;margin-top:20px;color:#777;"><strong>Tu quiniela estará abierta hasta el:<br> 
  								<span id="fechacierre"></span></strong> </p>
  								</div>
  							</div>
  							<div class="row">
	  							<div class="col-md-10 col-md-offset-1 col-xs-12" style="margin-top:20px;">
	  								<p class="text-center text-muted">Debes seleccionar al menos 3 partidos</p>
									<button id="btnCrear" class="btn btn-lg btn-success col-md-10 col-md-offset-1 col-xs-12"  disabled="disabled">Crear Quiniela  <i class="fa fa-cogs"></i></button>
								</div>
							</div>
							<input type="hidden" name="partidosSeleccion" id="partidosSeleccion" value="">
							<input type="hidden" name="fCierre" id="fCierre" value="">
						</form>
					</div>
			<?php }?>	
		</div>
</div>
<script type="text/javascript" src="/js/app/nueva.quiniela.js" ></script>
