<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="page-header">
			<h1><i class="fa fa-trophy "></i> Esta es tú Quiniela </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-12">
				<div class="panel  panel-primary">
					<div class="panel-heading"><h4 style="color:#fff;font-weight: bold;">Detalles generales de tu quiniela</h4></div>
				  <div class="panel-body">
				    	<h4>Nombre de tu quiniela: <strong><?php echo $this->Quiniela->getTitulo();?></strong></h4>
				    	<h5>Descripción:	<strong><?php echo $this->Quiniela->getDescripcion();?></strong></h5>
				    	<h5>Tu quiniela se cierra el:	<strong><?php echo $this->fecha($this->Quiniela->getFechaCierre(),"es_MX","fullhoras");?></strong></h5>
				    	<h4 style="margin-top:50px;font-weight: bold;">Estos son los partidos que seleccionaste para tu quiniela</h4>
				    	<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th class="text-center">
										Fecha - Hora
									</th>
									<th>
									</th>
									<th class="text-left">	
										Local
									</th>
									<th>	
									</th>
									<th class="text-right">
										Visita
									</th>
									<th>
									</th>
									<th class="text-center">
										Fase
									</th>
								</tr>
							</thead>
							<tbody>
				    	<?php foreach($this->partidos as $partido){?>
	
									<tr id="<?php echo $partido["id"];?>" timestamp="<?php echo $this->fecha($partido["fecha"],'es_MX','timestamp');?>" class="partido">
										<td class="text-muted" style="font-size:10px;width:110px;vertical-align: middle;"><?php echo $this->fecha($partido["fecha"],'es_MX','medium');?></td>
										<td class="flag text-center"><?php echo $this->escudo($partido["equipoLocal"]["escudo"],"normal");?></td>
										<td style="text-align:left;"><?php echo $partido["equipoLocal"]["nombre"];?></td>
										<td >vs</td>
										<td style="text-align:right;"><?php echo $partido["equipoVisita"]["nombre"];?></td>
										<td class="flag text-center"><?php echo $this->escudo($partido["equipoVisita"]["escudo"],"normal");?></td>
										<td class="text-muted" style="font-size:10px;text-align:center;width:110px;vertical-align: middle;"><?php echo $partido["tipo"];?></td>
									</tr>
				    	<?php } ?>
				    		</tbody>
						</table>
						</div>
						<div class="row" style="margin-top:10px;">
							<div class="row">
								<div class="col-md-12">
									<p class="text-center bg-danger" style="padding: 5px;margin:10px;line-height: 42px;margin-bottom: 20px;">
										Recuerda que una vez creada tu quiniela y pagar tu "boleta" no podrás modificar
										tus partidos.
									</p>
								</div>
							</div>
							<div class="col-md-4 col-md-offset-1 col-xs-12">
								<a href="/cuenta/control/edit/id/<?php echo $this->Quiniela->getId();?>" class="btn btn-danger btn-lg btn-block">Editar mis Partidos</a>
							</div>
							<div class="visible-xs" style="margin-top: 30px;">
								<div class="row">
									<div class="col-xs-12"><br></div>
								</div>
							</div>
							<div class="col-md-4 col-md-offset-2 col-xs-12">
								<a href="/quiniela/boleta/primera/id/<?php echo $this->Quiniela->getId();?>" class="btn btn-success btn-block btn-lg">Generar Boleta</a>
							</div>
							 
						</div>
						
				  </div><!-- Panel body -->
				</div>
		</div>
	</div>
</div>