 <div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel" data-interval="6000">
      <!-- Indicators -->
      <ol class="carousel-indicators" style="display: none;">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        <li data-target="#myCarousel" data-slide-to="4" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          			<div style="background-image: url(../img/home1.jpg);" class="carouselfix"></div>
          <div class="container " >
            <div class="carousel-caption backchidito well1">
              <h1>¡Disfruta del mundial con tus Amigos!</h1>
              <p>
              	   Crea tu quiniela social e invita a todos los que tu quieras.
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          		<div style="background-image: url(../img/home2.jpg);" class="carouselfix"></div>
          <div class="container">
            <div class="carousel-caption backchidito well1">
              <h1>Brasil 2014 te espera con grandes partidos</h1>
              <p>Regístrate y crea tu propia quiniela y demuéstrales a tus amigos quien sabe mas de futbol.</p>
            </div>
          </div>
        </div>
        <div class="item ">
          		<div style="background-image: url(../img/home3.jpg);" class="carouselfix"></div>
          <div class="container">
            <div class="carousel-caption backchidito well1">
              <h1>Organiza tu Quiniela y llévate la bolsa acumulada</h1>
              <p>Mira ahora el video para saber mas detalles de MegaquinielaBrasil2014.</p>
              <p><a class="btn btn-primary" href="#videoDialog" role="button"  data-toggle="modal">Ver video</a></p>
            </div>
          </div>
        </div>
        <div class="item ">
          		<div style="background-image: url(../img/home4.jpg);" class="carouselfix"></div>
          <div class="container">
            <div class="carousel-caption backchidito well1">
              <h1>¡Registrate Ya!</h1>
              <p>¿Que estás esperando?, todas nuestras transacciones son seguras mediante <a href="http://conekta.io" target="_blank"><img style="background-color: #fff;
				padding: 10px; " src="/img/conekta.png"></a></p>
              <p><a class="btn btn-primary" href="#long" role="button"  data-toggle="modal">Regístrate aquí</a></p>
            </div>
          </div>
        </div>
         <div class="item ">
          		<div style="background-image: url(../img/home5.jpg);" class="carouselfix"></div>
          <div class="container">
            <div class="carousel-caption backchidito well1">
              <h1>Entra a una quiniela social ahora, no esperes más.</h1>
              <p><a class="btn btn-primary" href="/index/todas-las-quinielas" role="button">Ver todas las quinielas</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    
    <div class="row" style="margin-left: 0px;margin-right: 0px;">
		<div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
			<div class="text-center" style="background-color:#e91b23;height: 100px;vertical-align: middle;">
				<p class="hidden-sm hidden-xs visible-lg hidden-md " style="color:#fff;font-size:20px;padding: 28px;margin: 0px;"><strong>¿Y tú ya sabes que es MegaquinielaBrasil2014?</strong>, echale un vistazo al video ahora 
				<span ><a href="#videoDialog" role="button"  data-toggle="modal" class="btn btn-default btn-lg" style="color:#e91b23">Ver Video <i class="fa fa-video-camera"></i></a></span></p>
				<p class="visible-sm hidden-xs hidden-lg hidden-md " style="color:#fff;font-size:15px;padding: 28px;margin: 0px;"><strong>¿Y tú ya sabes que es MegaquinielaBrasil2014?</strong>, echale un vistazo al video ahora 
				<span ><a href="#videoDialog" role="button"  data-toggle="modal" class="btn btn-default btn-lg" style="color:#e91b23">Ver Video <i class="fa fa-video-camera"></i></a></span></p>
				<p class="visible-md hidden-xs hidden-sm hidden-lg" style="color:#fff;font-size:20px;padding: 28px;margin: 0px;"><strong>¿Y tú ya sabes que es MegaquinielaBrasil2014?</strong>, echale un vistazo al video ahora 
				<span ><a href="#videoDialog" role="button"  data-toggle="modal" class="btn btn-default btn-lg" style="color:#e91b23">Ver Video <i class="fa fa-video-camera"></i></a></span></p>
				<p class="visible-xs hidden-sm hidden-lg hidden-md" style="color:#fff;font-size:12px;padding: 28px;margin: 0px;"><strong>¿Y tú ya sabes que es MegaquinielaBrasil2014?</strong>, echale un vistazo al video ahora 
				<span ><a href="#videoDialog" role="button"  data-toggle="modal" class="btn btn-default" style="color:#e91b23">Ver Video <i class="fa fa-video-camera"></i></a></span></p>						 
			</div>		
		</div>
	</div>
