<?php 
echo $this->doctype('XHTML1_RDFA');
$this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=utf-8');
$this->setEncoding('UTF-8');
?>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
<script type="text/javascript">
var ADAPT_CONFIG = {
		  path: '<?php echo $this->BaseUrl();?>/css/',
		  range: [
		    '0px    to 760px  = mobile.css',
		    '760px  to 1980px  = 720.css',
		    '980px  to 1280px = 960.css',
		    '1280px to 1600px = 1200.css',
		    '1600px to 1920px = 1560.css'
		  ]
		};
</script>
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/master.css"); ?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/mobile.min.css"); ?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/style.css"); ?>
<?php $this->headScript()->appendFile($this->BaseUrl()."/js/jquery-1.8.0.min.js"); ?>
<?php // JQUERY UI ?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/factura-style/jquery-ui-1.9.1.custom.css"); ?>
<?php $this->headScript()->appendFile($this->BaseUrl()."/js/jquery-ui-1.9.1.custom.min.js"); ?>

<?php //BORDES REDONDEADOS ?>
<?php $this->headScript()->appendFile($this->BaseUrl()."/js/jquery.corner.js"); ?>
<?php $this->headScript()->appendFile($this->BaseUrl()."/js/adapt.min.js"); ?>

<?php //UNIFORM JS ?>
<?php //$this->headScript()->appendFile($this->BaseUrl()."/js/jquery.uniform.min.js"); ?>
<?php //$this->headLink()->appendStylesheet($this->BaseUrl()."/css/uniform.default.css"); ?>

<?php //NOTIFICACIONES ?>
<?php //$this->headScript()->appendFile($this->BaseUrl()."/js/noty/jquery.noty.js"); ?>
<?php //$this->headScript()->appendFile($this->BaseUrl()."/js/noty/layouts/top.js"); ?>
<?php //$this->headScript()->appendFile($this->BaseUrl()."/js/noty/themes/default.js"); ?>

<?php //WIZARD ?>
<?php $this->headScript()->appendFile($this->BaseUrl()."/js/wizard/jquery.smartWizard-2.0.min.js"); ?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/wizard/smart_wizard.css"); ?>



<!-- GOOGLE FONTS -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

	<!---------------- Meta Tags------------------->
	<?php echo $this->headMeta(); ?>
	<!------------------- Title ------------------->
	<?php echo $this->headTitle(); ?>
	<!------------- HeadLink ---------------------->
	<?php echo $this->headLink();	?>
	<!-----------------HeadScript ----------------->
	<?php echo $this->headScript(); ?>
	
</head>

	<body>
		<!----------------------------- Contenido central ------------------------------------------>
		<div class="container_12 " style="margin-top:20px;">	
			<?php echo $this->layout()->content; ?>
			<div class="clear"></div>
		</div>
	</body>
</html>