<div style="margin-top:20px;">
	<div class="row">
		<div class="col-md-2">
			<a href="https://www.facebook.com/megaquinielas" style="font-size:12px;color:#888;">Conécate en Facebook</a>
		</div>
		<div class="col-md-2">
			<a href="/index/aviso-de-privacidad" style="font-size:12px;color:#888;">Aviso de privacidad</a>
		</div>
		<div class="col-md-2">
			<a href="/index/terminos-y-condiciones"  style="font-size:12px;color:#888;">Términos y condiciones</a>
		</div>
	</div>
</div>