<?php 
date_default_timezone_set('America/Mexico_City');
echo $this->doctype('XHTML1_RDFA');
$this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=utf-8');
$this->setEncoding('UTF-8');

//Obtenemos las keys de facebook para la app desde el application.ini
$config = Zend_Controller_Front::getInstance()->getParam('bootstrap');
$fbkeys = $config->getOption('facebook');
$appid=$fbkeys["appid"];
$appsecret=$fbkeys["appid"];
?>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="/img/mq_icon.png">
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/style.css"); ?>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' type='text/css'>

	<?php //JQUERY?>
	<?php $this->headScript()->appendFile( "/js/jquery-1.10.1.min.js"); ?>
	<!-----------------HeadScript ------------------->
	<?php 	  echo $this->headScript(); ?>


	 <!---------------- Meta Tags----------------------->
	 <?php echo $this->headMeta(); ?>
	 <!------------------- Title ------------------->
	 <?php     echo $this->headTitle(); ?>
	 <!------------- HeadLink ---------------------->
	 <?php 	  echo $this->headLink();	?>
	 
	 <div id="fb-root"></div>
	 
	 <script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=<?php echo $appid;?>";
	  fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));</script>
	
</head>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36784138-3', 'megaquinielabrasil2014.com');
  ga('send', 'pageview');

</script>

<body style="">

    <!-- Wrap all page content here -->
    <div id="wrap">
	<!-- Menu bar -->
     <?php echo $this->render('menubar.phtml');?>
      <!-- Carrusel -->
      <?php $request =  Zend_Controller_Front::getInstance()->getRequest();?>
      <?php if($request->getModuleName()=='default' && $request->getControllerName()=='index' && $request->getActionName()=='index'){?>
     <?php echo $this->render('carrusel.phtml');?>
     <?php }?>

      <!-- Begin page content -->
      <div class="container">
      	<?php echo $this->layout()->content; ?>	
      </div>
    </div>
	<!-- Footer -->
    <div id="footer">
      <div class="container">
        <?php echo $this->render('footer.phtml');?>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<?php //BOOTSTRAP JS ?>
	<!-- Latest compiled and minified JavaScript -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/holder.js"></script>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">   
	<!-- Registro de usuario -->
			<!-- Modal -->
				<div class="modal fade" id="long" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-body">
				        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							  	<div style="width:100%;text-align: center;margin: 30px 0 20px 0;">
							  		<h3>¡Regístrate ya!</h3>
							  		<a href="<?php echo $this->urlLoginFb; ?>" >
							  			<img class="hidden-xs visible-md hidden-sm hidden-lg" style="margin:0 auto;" src="/img/fb_login.png" >
							  			<img class="hidden-xs hidden-md hidden-sm visible-lg" style="margin:0 auto;" src="/img/fb_login.png" >
								  		<img class="visible-xs hidden-md hidden-sm"  style="margin:0 auto;" src="/img/active_200.png" >
								  		<img class="hidden-xs hidden-md visible-sm hidden-lg" style="margin:0 auto;" src="/img/fb_login.png" >
							  		</a>
							  	</div>
							   <?php // <iframe src="/users/registro"  width="99.6%" height="400" frameborder="0"></iframe> ?>
				      </div>
				    </div>
				  </div>
				</div>
		
		<!-- Ingreso de usuario -->
		<div class="modal fade" id="myLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-body">
				        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				        		<h3 class="text-center">Ingresa a cuenta:</h3>
							  	<div style="width:100%;text-align: center;margin: 10px 0 20px 0;">
							  	<a href="<?php echo $this->urlLoginFb; ?>">
							  			<img class="hidden-xs visible-md hidden-sm hidden-lg" style="margin:0 auto;" src="/img/fb_login.png" >
							  			<img class="hidden-xs hidden-md hidden-sm visible-lg" style="margin:0 auto;" src="/img/fb_login.png" >
								  		<img class="visible-xs hidden-md hidden-sm"  style="margin:0 auto;" src="/img/active_200.png" >
								  		<img class="hidden-xs hidden-md visible-sm hidden-lg" style="margin:0 auto;" src="/img/fb_login.png" >
							  	</a>
							    </div>
							   <?php /* <hr>
							    	<form class="form-horizontal" role="form"  method="post" action="/default/index/ingreso"> 
									  <div class="form-group">
									    <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
									    <div class="col-sm-8">
									      <input name="inputEmail" type="email" class="form-control" id="inputEmail3" placeholder="Email">
									    </div>
									  </div>
									  <div class="form-group">
									    <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
									    <div class="col-sm-8">
									      <input name="inputPassword" type="password" class="form-control" id="inputPassword3" placeholder="Password">
									    </div>
									  </div>
									  <div class="form-group">
									    <div class="col-sm-offset-4 col-sm-4">
									      <button type="submit" class="btn btn-block btn-success btn-lg">Sign in</button>
									    </div>
									  </div>
									</form> */ ?>
				      </div>
				    </div>
				  </div>
				</div>
			<!-- video  -->
			<div id="videoDialog"  class="modal fade bs-video-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
			    	<div class="modal-body">
			    	<div><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button></div>
					<div class="video-container">
         				<iframe width="420" height="315" frameborder="0"></iframe>	
					</div>
					</div>
			    </div>
			  </div>
			</div>
<script>
	  $(document).ready(function(){
				$("#videoDialog").on('hidden.bs.modal',function(e){
						$('.video-container iframe').attr('src','');
					});
				$("#videoDialog").on('show.bs.modal',function(e){
						$('.video-container iframe').attr('src','//www.youtube-nocookie.com/embed/azIWFXO2jqw?rel=0&autoplay=1&html5=1');
					});

				<?php if(isset($_SESSION["urlVisita"])){?>
					$('#myLogin').modal('show');
				<?php }?>
				
		  });
</script>		
	
</body>
</html>
