<?php 
$registrado= Zend_Auth::getInstance();
$auth   = Zend_Auth::getInstance();
$info   = $auth->getStorage()->read();
 ?>
 
  <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><div class="logo"><img src="/img/mega.png" style="width:100px ;height: auto;"/></div></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
               	<?php /*si NO esta logueado */ if(!$registrado->hasIdentity()):?>
              <li><a href="/"><i class="fa fa-home"></i> INICIO</a></li>
              <li><a href="#about"><i class="fa fa-question-circle"></i> COMO FUNCIONA</a></li>
              <li><a href="/index/todas-las-quinielas"><i class="fa fa-users "></i> LISTA DE QUINIELAS</a></li>
  		      <li><a href="#long" role="button"  data-toggle="modal"><i class="fa fa-certificate"></i> ¡REGISTRATE!</a></li>
  		      <li><a href="/cuenta/feedback/contacto"><i class="fa fa-envelope"></i> CONTACTO</a></li>
  		      <li><a href="#myLogin" role="button"  data-toggle="modal"><i class="fa fa-sign-in"></i> LOGIN </a></li>
  		      <?php else:?>
  		      <li><a href="/cuenta/notificaciones/"><i class="fa fa-comment-o" <?php if($this->notificacionesNuevas() > 0): ?> style="color:green;" <?php endif;?>></i> NOTIFICACIONES 
  		      	<?php if($this->notificacionesNuevas() > 0): ?>
  		      		<span class="badge" style="background-color: #0b0;"> <?php echo $this->notificacionesNuevas(); ?></span>
  		      	<?php endif;?>
  		      	</a>  
  		      </li>
			  <li><a href="/index/todas-las-quinielas"><i class="fa fa-users "></i> LISTA DE QUINIELAS</a></li>
			  <li><a href="/cuenta/feedback/contacto"><i class="fa fa-envelope"></i> CONTACTO</a></li>
  		      <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="http://graph.facebook.com/<?php echo $info->facebookId;?>/picture?width=24&height=24&type=square" class="img-circle"> <?php echo strtoupper($info->nombreUsuario); ?>  <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/cuenta/control" ><i class="fa fa-rocket"></i>  Centro de control</a></li>
                  <li><a href="#" ><i class="fa fa-user"></i> Mi perfil</a></li>
                  <?php 	// Si es NEO le mostramos el camino a la matrix
                  	if($info->rol==2){
					?>
                  		<li><a href="/admin/control"><i class="fa fa-linux"></i> SuperAdmin</a>
                  	<?php }?>
                  <li><a href="/cuenta/index/logout" ><i class="fa fa-sign-out"></i> Cerrar sesión</a></li>
                </ul>
              </li>
  		      <?php endif;?>
              <!-- 
              
               -->
            </ul>
          </div><!--/.nav-collapse -->
      
        </div>
      </div>
      
          <?php $alertBox = $this->alertBox();
	 		echo $alertBox;?>
      
 <?php if($alertBox){?>
	<script type="text/javascript">
		$( document ).ready(function() {$("#messagebox").slideDown().delay( 15000 );});
	</script>
<?php }?>
 

